<app-main-nav>
  <br>
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/cultureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          This tour eliminates guess work and immerses you in the must-sees, must-tastes and must-meets of this beautiful country. In other words, the best stuff. Like summiting Lion Rock in Sigiriya, visit Dambulla cave temple and taste Jaffna spicy foods.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          7
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Hotel Sigiriya <br>
          Jetwing Jaffna
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sigiriya rock fortress <br>
          Pidurangala <br>
          Sigiriya Museum <br>
          Sigiriya Handyman <br>
          Dambulla cave temple <br>
          Nallur Temple <br>
          Jaffna Fort <br>
          Delft island <br>
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Climb the world-famous Sigiriya Rock <br>
          Watch the sunset from the top of Pidurangala Rock <br>
          Shop for Handmade Wooden Souvenirs <br>
          Go elephant safari <br>
          Visit dambulla cave temple <br>
          Explore Buddha Museum <br>
          Visit nallur temple <br>
          See wild horses in delft island <br>
          Try jaffna mango <br>
          See the remaining ruins of the war
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Bentota <br>
          Day 2- Bentota <br>
          Day 3- Kitulgala <br>
          Day 4- Kitulgala <br>
          Day 5- Dambulla <br>
          Day 6- Kalpitiya <br>
          Day 7- Kalpitiya
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/toutPackageBooking">Book Now</button></p>

    </div>
  </div>
  <br>
</app-main-nav>
