@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
.nav-bar{
  width:100%;
  height:55px;
  background-color:#1e3799;
  padding-top:7px;
}
.left-slider{
  width:300px;
  height:92vh;
  background-color:#1e3799;
  position:absolute;
}
.txt-welcome{
  font-family: 'Itim', cursive;
  font-size:20px;
  color:white;
  padding-left:10px;
}
.nav-list{
  margin:0;
  padding:0;
  list-style:none;
  li{
    padding: 5px 15px;
    background-color:#0c2461;
    a{
      text-decoration:none;
      color:white;
    }
  }
  li:hover{
    background-color:#30336b;
    cursor:pointer;
  }
}


.main-wrap{
  width: 100%;
  height: auto;
  padding: 10px;
}

.tittle{
  text-align: left;
  font-family: 'Merienda One', cursive;
  font-size: 20px;
  color: #303952;
}
.dashboardTitle{
  margin-top: 10px;
  color: #303952;
  font-family: 'Merienda One', cursive;
  font-size: 30px;
  text-align:center ;
}

/////////////
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
.box-shadow {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 800px;
  height: auto;
  border-radius:10px;
  box-shadow: 1px 0px 32px -12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 0px 32px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 32px -12px rgba(0,0,0,0.75);
  background-color:white;
  border: 5px solid white;
  border-radius: 5px;
}
.headerText{
  color: #303952;
  font-family: 'Merienda One', cursive;
  font-size: 20px;
  text-align:center ;
}

.btnLogIn{
  text-align: center;
}



