<!--navigation bar-->
<nav class="nav-bar">
  <span style="font-size: 3em; color: white; padding-left:10px; cursor:pointer;">
    <i class="fas fa-bars " (click)="toggleSlide()" ></i>
  </span>
</nav>
<div class="left-slider" *ngIf="leftSideVisibleState" [@sliderLeft]>
  <br><br>
  <p style="text-align: center">
    <span style="font-size: 100px; color: white;" >
      <i class="far fa-user-circle" ></i>
    </span>
  </p>

  <p class="txt-welcome" style="text-align: center"><b>Hello Amila</b></p>
  <hr style="background-color:white">
  <ul class="nav-list">
    <li><a routerLink="/destinations">Destinations</a></li>
    <li><a routerLink="/tourPackages">Tour Packages</a></li>
    <li><a routerLink="/airportPickup">Airport Pickup</a></li>
    <li><a routerLink="/contactUs">Contact Us</a></li>
    <li><a routerLink="">Sign Out</a></li>
  </ul>
</div>
<br>

<!--dashboard title-->
<div class="dashboardTitle">Dashboard</div>
<br>


<!--contact us messages-->
<div class="main-wrap">
  <p class="tittle">Contact Us Messages</p>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Subject</th>
      <th scope="col">Message</th>
      <th scope="col">Operate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempMessage of contactUsMessageList; index as num">
      <th scope="row">{{num+1}}</th>
      <td>{{tempMessage.name}}</td>
      <td>{{tempMessage.email}}</td>
      <td>{{tempMessage.subject}}</td>
      <td>{{tempMessage.message}}</td>
      <td>
        <p>
          <button class="btn btn-danger btn-sm" (click)="deleteMessage(tempMessage._id)">Delete</button>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>








