<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    Language
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button" routerLink="/contactUs"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
    <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
    <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
  </ul>
</div>

