<app-main-nav>
  <img src="assets/images/tourPackagesMain.jpg" style="height: 120vh" width="100%">
  <br><br>
  <p class="title">Tour Packages</p>
  <br>

 <!-- adventure tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/adventureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
         </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Adventure Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- culture tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/cultureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Culture Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- beach tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/beachTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Beach Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- nature tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/natureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Nature Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- hill country tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/hillCountryTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Hill Country Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- ancient tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/ancientTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Ancient Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- hiking tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/hikingTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Hiking Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!-- wildlife tour-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/wildLifeTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Wildlife Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <app-footer></app-footer>
</app-main-nav>
