<app-main-nav>
  <img src="assets/images/tourPackagesMain.jpg" style="height: 120vh" width="100%">
  <br><br>
  <p class="title">Tour Packages</p>
  <br>

  <!--adventure tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/adventureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          This exclusive tour has been created to experience all the best adventures in Sri Lanka. Your tour leader, who has excessive knowledge of all aspects of this incredible country, will take you to many fascinating and interesting locations and also will share his knowledge about Sri Lankan history and culture. You also have the opportunity to experience exciting outdoor activities.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          7
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Centara ceysand resort <br>
          Tea cottage resort <br>
          Heritance kandalama <br>
          Hiru resort
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Bentota beach <br>
          Moragalla lighthouse <br>
          Lunuganga Geoffrey Bawa’s Country Estate <br>
          LSR Water sport center <br>
          Belilena cave <br>
          Aberdeen waterfall <br>
          Kitulgala <br>
          Dambulla <br>
          Kalpitiya lagoon <br>
          Kalpitiya fort <br>
          Kalpitiya Dutch Church <br>
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          jet skiing <br>
          Wind surfing <br>
          Flyboarding <br>
          White water rafting <br>
          Canyoning <br>
          Abseiling <br>
          Zipline <br>
          Hot air balloon ride <br>
          Kitesurfing <br>
          Deep see diving <br>
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Bentota <br>
          Day 2- Bentota <br>
          Day 3- Kitulgala <br>
          Day 4- Kitulgala <br>
          Day 5- Dambulla <br>
          Day 6- Kalpitiya <br>
          Day 7- Kalpitiya
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>

  <!--beach tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/beachTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Discover the beauty of Sri Lanka on a five-day sailing with the perfect mix of chill-out time and exploration. Sail along the southern coast of Sri Lanka, stopping along the way at the old trading fort of Galle, remote beach towns, and the fishing village of Kudawella. When your landlocked feet get a little tired, there’s plenty of time for swimming, surfing, and enjoying the beach. Whether through your sunglasses or goggles, you’ve never seen Sri Lanka quite like this.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          7
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Riff Hikkaduwa Hotel <br>
          Tripple O six <br>
          The blue wave arugambay
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sea Turtle Hatchery & Rescue Center <br>
          Tsunami museum <br>
          Galle fort <br>
          Coconut tree hill <br>
          Parrot rock <br>
          Secret beach <br>
          Kumana national park <br>
          Whiskey point
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Release baby turtles <br>
          Snorkeling <br>
          Feed turtles <br>
          Watch the sunset from galle fort wall <br>
          Check out the old Dutch Hospital <br>
          Go whale watching <br>
          Take a photo at coconut tree hill <br>
          Climb up elephant rock <br>
          Learn surfing lessons
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Hikkaduwa <br>
          Day 2- Galle <br>
          Day 3- Unawatuna <br>
          Day 4- Mirissa <br>
          Day 5- Mirissa <br>
          Day 6- Arugambay <br>
          Day 7- Arugambay
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>

  <!--hiking tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/hikingTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >

          Behind the dazzling beauty of Sri Lanka’s world famous beaches is an island of lush jungle, spice gardens, ancient Buddhist temples and an abundance of wildlife - all of which makes for a unique trekking experience. Our adventure begins in Rathnapura with a visit to the Sripada. After this we tackle the challenging Adam's Peak (2243m) and then enjoy the spectacular 1000m cliff drop of World's End.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          3
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Hugging clouds guest house <br>
          Mountain Heavens
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sripada <br>
          Bomburu ella <br>
          Nine Arch Bridge <br>
          Little Adam’s peak <br>
          Lipton’s Seat <br>
          Ravana Fall <br>
          Ella Rock <br>
          Ravana Fall
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          hike Sripada <br>
          Watch sunrise <br>
          Visit bomburu ella <br>
          Climb up Little Adam’s peak <br>
          Walk along the rails on the Nine Arch Bridge <br>
          Enjoy the endless tea field views at Lipton’s Seat <br>
          Get a fresh shower at the Ravana Fall <br>
          Hike up to the top of Ella Rock
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Hatton <br>
          Day 2- Ella <br>
          Day 3- Ella
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>

  <!--hill country tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/hillCountryTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          An incredible Sri Lanka’s climate set-up, its rugged terrain, high peaks, deep chasms, mountain gaps, high waterfalls and snaking rivers all ideal for eco, nature-adventures trekking trails for the enthusiast. If it’s hiking/trekking or adventure you are interested in, Sri Lanka’s mist-covered central mountains and rivers are offering plenty of opportunities.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          5
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Cinnamon Citadel <br>
          The grand hotel
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Temple of the Tooth <br>
          Kandy lake <br>
          Royal Botanical Gardens <br>
          Udawattakele Forest Reserve <br>
          Bahirawakanda Temple <br>
          Gregory Lake <br>
          Moon Plains <br>
          Devon Falls <br>
          Horton Plains National Park <br>
          Victoria Park
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>

        </div>
        <div class="col-12 col-md-6" >
          Visit the Temple of the Tooth <br>
          Walk around the kandy lake <br>
          Take a stroll through the Botanical Gardens <br>
          Discover Kandy from above at the Big Buddha <br>
          Roam the Streets and City Centre <br>
          Hire a swan on gregory lake <br>
          Amble through victoria park <br>
          Marvel at Devon Falls <br>
          Play a round of golf <br>
          Chill out at a Tea Factory <br>
          Take a walk through Moon Plains <br>
          Explore Horton Plains
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Kandy <br>
          Day 2- Peradeniya <br>
          Day 3- Horton plains <br>
          Day 4- Nuwara Eliya <br>
          Day 5- Moon plains
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>

  <!--ancient Tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/ancientTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Join this guaranteed ancient tour, discover Sri Lanka’s ancient culture, and behold a world of spectacular landscapes, picturesque lakeside cities, historic temples, and ancient citadels. Enjoy fascinating cultural shows, spiritual experiences, and observe the mesmerising contrasts between the old world charms and modernity of the capital, over five unforgettable days travelling across this idyllic island.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          5
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Kubura resort <br>
          Hotel Sudu Araliya
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sri Maha Bodhi <br>
          Ruwanwelisaya <br>
          Tissa Wewa <br>
          Ratnaprasada <br>
          Isurumuniya <br>
          Mihintale <br>
          Samadhi Buddha Statue <br>
          Royal Palace <br>
          Shiva Devale No. 2 <br>
          Audience Hall <br>
          Buddha statue at Lankatilaka <br>
          Gal Vihara
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Check out the awesome Mihintale <br>
          Visit jaya Sri Maha Bodhi <br>
          Admire Isurumuniya <br>
          Check out the Kuttam Pokuna <br>
          Visit Ruwanwelisaya Stupa <br>
          Visit the lake for sunset <br>
          Visit the Samadhi Buddha <br>
          See stone carvings at Gal Viharaya <br>
          Visit royal palace of King Parakrmabahu <br>
          Visit Polonnaru Vatadage
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Anuradhapura <br>
          Day 2- Anuradhapura <br>
          Day 3- Polonnaruwa <br>
          Day 4- Polonnaruwa <br>
          Day 5- Polonnaruwa
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>

  <!--nature Tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/natureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sri Lanka is one of the few places in the world that can offer such an extraordinary combination of diversity, cultural heritage, people, wild life, adventure, and outdoor luxury experiences. This magical island was once known as Serandib, Taprobane, the Pearl of the Indian Ocean, and Ceylon. Go in search of herds of elephants, Sri Lankan sloth bears and elusive leopards.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          4
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sinharaja forest edge <br>
          Wilpattu Tree House Hotel
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sinharaja forest reserve <br>
          Kekuna falls <br>
          Duwili falls <br>
          Wilpattuwa National Park <br>
          Wilpattu green cabin
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          explore the Sinharaja forest reserve <br>
          Take photos of endemic species of Sinharaja forest <br>
          Swim at Kekuna ella <br>
          Safari at Wilpattuwa <br>
          Stay in safari tented camp in wilpattuwa
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Deniyaya <br>
          Day 2- Deniyaya <br>
          Day 3- Wilpattuwa <br>
          Day 4- Wilpattuwa
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>

  <!--Wildlife Tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/wildLifeTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Unearth a region of wild delights on this expedition through the depths of Sri Lanka’s forests and national parks. Delight on a wildlife-focused and nature-filled itinerary in one of Asia’s best selections of jungle and forest. Discover the lofty mountains of Yala National Park and amazing Udawalawe National Park. See the Asia's largest elephant gathering in Minneriya Nationala Park.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          7
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Leopard Nest <br>
          Grand Udawalawe safari resort <br>
          Deer parkk hotel
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Yala National Park <br>
          Bundala National Park <br>
          Udawalawe National Park <br>
          Minneriya National Park
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Go safari <br>
          Bird watching at Bundala <br>
          Camping
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Tissamaharama <br>
          Day 2- Tissamaharama <br>
          Day 3- Hambantota <br>
          Day 4- Udawalawe <br>
          Day 5- Udawalawe <br>
          Day 6- Minneriya <br>
          Day 7- Minneriya
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>

  <!--culture tour-->
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/cultureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          This tour eliminates guess work and immerses you in the must-sees, must-tastes and must-meets of this beautiful country. In other words, the best stuff. Like summiting Lion Rock in Sigiriya, visit Dambulla cave temple and taste Jaffna spicy foods.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          7
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Hotel Sigiriya <br>
          Jetwing Jaffna
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sigiriya rock fortress <br>
          Pidurangala <br>
          Sigiriya Museum <br>
          Sigiriya Handyman <br>
          Dambulla cave temple <br>
          Nallur Temple <br>
          Jaffna Fort <br>
          Delft island <br>
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Climb the world-famous Sigiriya Rock <br>
          Watch the sunset from the top of Pidurangala Rock <br>
          Shop for Handmade Wooden Souvenirs <br>
          Go elephant safari <br>
          Visit dambulla cave temple <br>
          Explore Buddha Museum <br>
          Visit nallur temple <br>
          See wild horses in delft island <br>
          Try jaffna mango <br>
          See the remaining ruins of the war
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Bentota <br>
          Day 2- Bentota <br>
          Day 3- Kitulgala <br>
          Day 4- Kitulgala <br>
          Day 5- Dambulla <br>
          Day 6- Kalpitiya <br>
          Day 7- Kalpitiya
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/airportPickupBooking">Book Now</button></p>

    </div>
  </div>
  <br>







<!--
  ///////////////////////////////
 &lt;!&ndash; adventure tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">

      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/adventureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Adventure Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/adventureTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  &lt;!&ndash; culture tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/cultureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Culture Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/cultureTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  &lt;!&ndash; beach tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/beachTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Beach Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/beachTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  &lt;!&ndash; nature tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/natureTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Nature Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/natureTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  &lt;!&ndash; hill country tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/hillCountryTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Hill Country Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/hillCountryTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  &lt;!&ndash; ancient tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/ancientTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Ancient Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/ancientTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  &lt;!&ndash; hiking tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/hikingTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Hiking Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/hikingTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  &lt;!&ndash; wildlife tour&ndash;&gt;
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/wildLifeTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="PackageName">
            Wildlife Tour
          </p>
          <br><br>
          <p class="packageDetails">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam at cum, cumque delectus eveniet, impedit perferendis provident repudiandae sed sunt. Adipisci, similique voluptatem?</p>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/wildlifeTour">View Package</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>-->

  <!--admin created tour packages-->
  <div class="main-wrap" *ngFor="let tempTourPackage of tourPackageList; index as num" >

    <div class="box-shadow">

      <p class="headerText">{{tempTourPackage.tourPackageName}}</p>
      <br>

      <div class="mb-3">
        <label for="description" class="form-label" >Description : </label>
        <label for="description" class="form-label" >{{tempTourPackage.description}}</label>

      </div>

      <div class="mb-3">
        <label for="NumDays" class="form-label" >Number of Days : </label>
        <label for="NumDays" class="form-label" >{{tempTourPackage.days}}</label>

      </div>

      <div class="mb-3">
        <label for="hotels" class="form-label" >Hotels : </label>
        <label for="hotels" class="form-label" >{{tempTourPackage.hotels}}</label>

      </div>

      <div class="mb-3">
        <label for="visitingPlaces" class="form-label" >Visiting Places : </label>
        <label for="visitingPlaces" class="form-label" >{{tempTourPackage.visitingPlaces}}</label>

      </div>

      <div class="mb-3">
        <label for="activities" class="form-label" >Activities : </label>
        <label for="activities" class="form-label" >{{tempTourPackage.activities}}</label>

      </div>

      <div class="mb-3">
        <label for="schedule" class="form-label" >Schedule : </label>
        <label for="schedule" class="form-label" >{{tempTourPackage.schedule}}</label>

      </div>

    </div>
  </div>
  <br>



  <app-footer></app-footer>
</app-main-nav>
