<app-main-nav-ger>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galleFort"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galle-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galle-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiGalle.jpg" alt="Galle Fort">
  </p>
  <br><br>

  <p class="title">Tolle Dinge zu tun in Galle</p>
  <br>

  <p class="description">
    Galle ist ein Juwel. Diese historische Stadt, ein UNESCO-Weltkulturerbe, ist eine wahre Freude, sie zu erkunden
    zu Fuß, ein endlos exotischer alter Handelshafen, gesegnet mit imposanten holländisch-kolonialen Gebäuden, alten Moscheen
    und Kirchen, prächtige Herrenhäuser und Museen. Wenn Sie durch die weitläufigen Gassen schlendern, passieren Sie stilvolle Cafés, skurrile
    Boutiquen und tadellos restaurierte Hotels von einheimischen und ausländischen Künstlern, Schriftstellern, Fotografen und
    Designer. Von den Holländern ab 1663 erbaut, ist Galles Kern das Fort, eine von Mauern umgebene Enklave, umgeben von
    Drei Seiten am Meer. Ein wichtiger Teil der Attraktivität des Forts ist, dass es nicht nur ein hübscher Ort ist. Klar, Tourismus
    dominiert jetzt die lokale Wirtschaft, aber diese einzigartige Stadt bleibt eine Arbeitsgemeinschaft: Es gibt administrative
    Ämter und Gerichte, Exportfirmen, Schulen und Hochschulen. Die meisten Reisenden sind völlig verführt von Galles
    Ambiente, und es ist zweifellos der einzige Anblick im Süden Sri Lankas, den Sie nicht verpassen sollten.
  </p>
  <br>

  <!--  google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014494.1539434078!2d80.32931951873178!3d6.663302135758652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae173a6a024d64d%3A0x569ac10c90e0fa7c!2sFort%2C%20Galle%2080000!5e0!3m2!1sen!2slk!4v1623459024055!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Gehen Sie um die alten Festungsmauern herum</p>
  <p class="description">
    Galle Fort, das 1588 von den Portugiesen erbaut und später im 17. Jahrhundert von den Holländern befestigt wurde, ist eines von
    die Hauptgründe, warum Galle den Status des UNESCO-Weltkulturerbes erhalten hat und eine Top-Sehenswürdigkeit für Besucher von Galle ist. Das
    hoch aufragende Festungsmauern umgeben die gesamte Altstadt, schützen sie vor äußeren Interessen, tragen aber auch dazu bei
    bewahren Sie die alte niederländische und portugiesische Architektur, die die Stadt so interessant macht. Sie können nicht
    Besuchen Sie Galle ohne einen Spaziergang auf oder unter den alten Festungsmauern zu machen – hauptsächlich aufgrund der Tatsache, dass der einzige Weg
    Um die Altstadt zu erreichen, muss man unter oder über diese hoch aufragenden Bauwerke laufen oder fahren. Während ein Großteil des südlichen
    Sri Lanka wurde während des Tsunami 2004 völlig zerstört und tötete bis zu 40.000 Menschen in Sri Lanka
    diese Festungsmauern, die Galle und die Altstadt schützten und sie vor der Zerstörung bewahrten.
  </p>
  <br>

  <p class="subTitle">Finden Sie die berühmte Schaukel Dalawella Beach</p>
  <p class="description">
    Nur eine kurze 10-minütige Tuk-Tuk-Fahrt von Galle entfernt liegt einer der schönsten Küstenstreifen in Sri
    Lanka. Obwohl nicht so wild wie an der Ostküste, finden Sie hier süße Strandbars, von Palmen gesäumte Strände,
    perfekte Wellen-Sets und traumhafte Beach-Swings für den perfekten Insta-Shot!
  </p>
  <br>

  <p class="subTitle">Sehen Sie sich ein Cricketspiel an</p>
  <p class="description">
    Von jedem der drei Haupteingänge der Festung haben Sie einen Blick aus der Vogelperspektive auf die beeindruckende Galle
    Cricket-Stadion. Wenn während Ihres Aufenthalts in der Stadt ein Spiel läuft, empfehlen wir Ihnen dringend, es auszuprobieren.
    Selbst wenn nur ein paar einheimische Kinder oder ein Team eine Übungseinheit haben, lassen sie dich vielleicht ein
    Runde oder zwei. Das Stadion wird auf beiden Seiten vom Indischen Ozean und von Galle Fort auf der dritten Seite gesäumt.
    Damit ist es eines der malerischsten Stadien der Welt! Das 1876 erbaute Gelände wurde als Rennen genutzt
    Strecke, bevor sie Anfang des 20. Jahrhunderts in ein Cricket-Stadion umgewandelt wurde.
  </p>
  <br>

  <p class="subTitle">Boutique-Shopping-Himmel</p>
  <p class="description">
    Galle ist überraschenderweise ein Einkaufsparadies. Im Gegensatz zu den meisten anderen Städten in Sri Lanka, in denen Sie zu finden scheinen
    immer wieder die gleiche Auswahl an Kleidung und Souvenirs, Galle beherbergt einige High-End-Boutiquen mit
    wunderschöne Seidenschals, schicke Schuhkollektionen und mehr hübsche Kleider, als jemals in meinen kleinen Kleiderschrank passen werden!
    Es gibt auch viele schöne Souvenirläden mit handgefertigten Taschen, Haushaltsgegenständen und geschnitzten Strandschätzen
    – ein Paradies, wenn Sie nach kleinen Stücken suchen, um ein Haus am Meer zu dekorieren. Folgendes hat uns besonders gut gefallen
    Geschäfte innerhalb der Stadtmauern: Barefoot (es gibt auch einen in Colombo, über den ich hier geschrieben habe), Spa Ceylon
    (Ich liebte ihren Sleep Intense Dream Nebel, den ich jetzt jede Nacht auf mein Kissen sprühe), KK Collection (für
    dein Haus mit Strandartikeln dekorieren) und Mimimango – schöne, aber teure Kleider. Wir alle können träumen!
  </p>
  <br>

  <p class="subTitle">Nimm eine Surfstunde in Unawatuna</p>
  <p class="description">
    Just a short bike ride or tuktuk from the old town lies one of Sri Lanka’s most loved backpacker hot spots.
    Home to funky beach bars, pizza huts in the sand, an endless loop of Reggae Music, a sprinkling of backpacker
    hostels and more surf schools than you can shake a stick at – welcome to Unawatuna. A fun place to come for a
    morning or afternoon surf lesson, followed by lunch on the beach and maybe a few sneaky Lion beers. A world
    apart from Galle, but super fun none-the-less.
  </p>
  <br>

  <p class="subTitle">Watch the brave cliff divers at Flag Rock</p>
  <p class="description">
    Besides a rooftop bar with a cold cocktail or two, Flag Rock is the best place to watch the sunset in Galle Old
    Town. It also affords amazing views looking back at the old town and the lighthouse, as you watch the sun set
    into the ocean. This is also where many talented locals come to show off their diving talents, although it’s
    dependent on both the tide and weather conditions. We are not sure how dangerous it is, but when the tide is
    out the water level is extremely low so We would not recommend swimming here unless you’re with locals and
    really know what you’re doing!
  </p>
  <br>

  <p class="subTitle">Ice-cream at the Isle of Gelato</p>
  <p class="description">
    The weather is always hot and humid in Galle. While bearable, there’s no denying that any excuse to escape the
    unrelenting heat is a welcome one. Which is why when we heard about this amazing Gelato place in Galle, we made
    a beeline to find it within minutes of sliding out of my tuk-tuk, covered in sweat! It felt like a cafe that
    had been taken right out of the digital nomad and Instaworthy paradise that is Canggu in Bali, with a fun sign,
    brightly coloured seats and walls and even an indoor swing! Along with your usual gelato flavours, there were a
    few interesting new ones we had never heard of (zesty orange with cardamon was my personal favorite), and which
    we highly recommend you trying out.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of galleFortReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>

