<app-main-nav>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiBentota.jpg" alt="bentota">
  </p>
  <br><br>
  <p class="title">Awesome things to do in Bentota</p>
  <br>
  <p class="description">
    Bentota began life as a settlement built around a small Portuguese fort on the estuary of the Bentota River.
    In the 19th century, the British converted the fort into a rest house, where civil servants would come to
    relax in the grounds under the shade of the tamarind trees. Still welcoming those who crave a break, it’s now
    one of Sri Lanka’s most popular beach resorts. Bentota is spread along Sri Lanka’s west coast, with a cluster
    of hotels to the north that gradually thin out as you travel south. The lengthy stretches of golden sand are
    shaded by corkscrew palms, the occasional granite outcrop, and little else. While this is a popular beach
    resort, there are no beach bars or restaurants lining the sand, just hotels, villas and luxury resorts
    tucked behind the palms at discrete distances from each other.
  </p>
  <br>
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014483.3817541935!2d79.98992476609462!3d6.668507812618711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae22e900168ca21%3A0x96c438f00a68c060!2sBentota!5e0!3m2!1sen!2slk!4v1623460039438!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>
  <p class="subTitle">Try different therapies in Saman Villa</p>
  <p class="description">
    Those tourists who are pondering over the question what to do in Bentota may proceed to Saman Villas. Saman
    Villas house spectacular spas where one can rejuvenate for a fresher and lively mind and soul. It is well
    equipped with diverse therapeutic facilities such as reflexology, aromatherapy, fish spa, and hot stone therapy.
    For a unique spa experience, check out this place during your visit to Bentota. Travelers need to book an
    appointment much in advance to avail the services of Saman Villas. They are required to carry a pair of
    clothes along with them.ou’ll also find it’s filled with friendly locals keen to help you enjoy your experience.
  </p>
  <br>
  <p class="subTitle">Spend time with loved ones in Brief Garden</p>
  <p class="description">
    Among other best things to do in Bentota is to visit the Brief Garden. It is an enchanting garden, which was
    designed by a renowned and skilled Sri Lankan artist named ‘Bevis Bawa’. This place stretches over five acres
    of land and is an embodiment of swaying tropical trees, sculptures, art and magnificent imposing structures.
    It is a charming and lovely spot to get lost in the hustle and bustle of the city. The entry fee is 350 Sri
    Lankan rupees. The garden is opened to the public from 8 AM to 5 PM daily.
  </p>
  <br>
  <p class="subTitle">Walk through the trails</p>
  <p class="description">
    Take part in trekking/walking trail across the jaw-dropping paddy fields of Bentota-Aturuwella areas. It houses
    a shrine named ‘Katukoliha temple’, which is as old as one-hundred and twenty-five years. There is a multitude
    of residential buildings that were constructed in Dutch styles of architecture. It is also an ideal spot to
    enjoy the sunset. This place is a breeding ground for a vast number of migratory birds. Those visitors who are
    searching for suitable Bentota things to do should definitely pay a visit to this place during their trip to
    Bentota, Sri Lanka.
  </p>
  <br>
  <p class="subTitle">Take a stroll at Bentota beach</p>
  <p class="description">
    The town of Bentota has in store plenty of serene and stunning beaches. Out of which Bentota beach is one of
    them which greets the tourist with swaying coconut trees and picturesque landscapes. It is indisputably an
    ideal place for nature lovers where they can indulge in recreational water sports including swimming, diving and
    snorkelling. If you happen to be one of those travel enthusiasts pondering over the question ‘what to do in
    Bentota Sri Lanka’, a stroll on this lovely beach is the best bet.
  </p>
  <br>
  <p class="subTitle">Take history lessons at Kande vihara</p>
  <p class="description">
    Other top things to do near Bentota Sri Lanka is checking out ‘Kande Vihara’ which is exclusively meant for
    those who are historically inclined. Those who wish to have a sneak peek into the history of Bentota and its
    surrounding areas should definitely pay a visit to this place.
  </p>
  <br>
  <p class="subTitle">Do water skiing</p>
  <p class="description">
    Experience the water beneath your feet and feel the wind run through your hair by learning how to water ski
    in Bentota. The beach here is the ideal location for safe and secure sea skiing experiences. With the lack of
    large boulders and patchy waters, the incredible stretches of water become an addiction for adrenaline lovers.
    If you are a water sports enthusiast, this is the time for tourists to show off their tricks in a calm and safe
    environment. Not to worry as if you are a first-timer, the support teams around will train and monitor the
    tourists to ensure a safe and enjoyable time.
  </p>
  <br>
  <p class="subTitle">Banana boat & tube rides</p>
  <p class="description">
    A banana tube is like its name implies, it is shaped like a banana and is attached to a speed boat by a rope.
    The trip guarantees an adrenaline-filled experience that includes vast waves that come crashing over your heads.
    While it is suitable for any age, tourists can select from single ring rides and sofa rides as well in Bentota.
  </p>
  <br>
  <app-footer></app-footer>
</app-main-nav>

