.imgDesti{
  margin-top: -20px;
  text-align: center;
}
.title{
  padding-top: 20px;
  font-size: 50px;
  color: #303952;
  text-align: center;
  font-family: 'Merienda One';
}
.description{
  padding-top: 20px;
  padding-right: 300px;
  padding-left: 300px;
  text-align: justify;
  font-size: 20px;
  font-family: 'Atma', cursive;
  font-family: 'Crafty Girls', cursive;
  color: #273c75;
}
.subTitle{
  font-size: 25px;
  padding-right: 300px;
  padding-left: 300px;
  font-family: 'Merienda One';
  color: #303952;
}
.comment{
  font-size: 25px;
  font-family: 'Domine', serif;
  color: #303952;
}
.main-wrap {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 800px;
  height: auto;
  border-radius:10px;
  box-shadow: 1px 0px 32px -12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 0px 32px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 0px 32px -12px rgba(0,0,0,0.75);
  background-color:white;
  border: 5px solid white;
  border-radius: 5px;
}
.commentDis{
  display: inline-block;
  font-size: 20px;
  padding-right: 10px;
  color: #303952;
}

//weather
.outer-wrap{
  display: flex;
  justify-content: center;
}
#divWeatherMain{
  display: block;
  border-radius: 10px;
  width: 200px;
  height: 220px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
  color: white;;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow{
  display:block;
  margin:0 auto;
  width: fit-content;
}

.sun{
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
  margin-top: 10px;
  color: white;
  filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
  margin-top: -30px;
}

.cloud{
  color: rgb(104, 175, 197);
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement{
  from{margin-left: -55px;}
  to{margin-left: 65px;}
}

























