<app-main-nav-ger>

  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Language
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
      <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
      <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
    </ul>
  </div>
  </div>


  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiBentota.jpg" alt="bentota">
  </p>
  <br><br>

  <p class="title">Tolle Aktivitäten in Bentota</p>
  <br>

  <p class="description">
    Bentota begann als eine Siedlung, die um eine kleine portugiesische Festung an der Mündung des Bentota-Flusses herum gebaut wurde.
    Im 19. Jahrhundert bauten die Briten das Fort in eine Raststätte um, in die Beamte kamen
    Entspannen Sie auf dem Gelände im Schatten der Tamarindenbäume. Wir heißen immer noch diejenigen willkommen, die sich nach einer Pause sehnen, es ist jetzt
    einer der beliebtesten Badeorte Sri Lankas. Bentota erstreckt sich entlang der Westküste Sri Lankas mit einem Cluster
    von Hotels im Norden, die nach und nach ausdünnen, wenn Sie nach Süden reisen. Die langen goldenen Sandstrände sind
    im Schatten von Korkenzieherpalmen, gelegentlichen Granitfelsen und sonst wenig. Dies ist zwar ein beliebter Strand
    Resort, es gibt keine Strandbars oder Restaurants am Sand, nur Hotels, Villen und Luxusresorts
    in diskreten Abständen hinter den Handflächen versteckt.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014483.3817541935!2d79.98992476609462!3d6.668507812618711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae22e900168ca21%3A0x96c438f00a68c060!2sBentota!5e0!3m2!1sen!2slk!4v1623460039438!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Probieren Sie verschiedene Therapien in Saman Villa . aus</p>
  <p class="description">
    Diejenigen Touristen, die über die Frage nachdenken, was sie in Bentota tun sollen, können zu Saman Villas gehen. Saman
    Villen beherbergen spektakuläre Spas, in denen man sich für einen frischeren und lebendigeren Geist und seine Seele erholen kann. Es ist gut
    Ausgestattet mit verschiedenen therapeutischen Einrichtungen wie Reflexzonenmassage, Aromatherapie, Fisch-Spa und Hot-Stone-Therapie.
    Besuchen Sie diesen Ort für ein einzigartiges Spa-Erlebnis während Ihres Besuchs in Bentota. Reisende müssen buchen
    Termin viel im Voraus, um die Dienste von Saman Villas in Anspruch zu nehmen. Sie müssen ein Paar pair
    Kleidung zusammen mit ihnen. Sie werden auch feststellen, dass es von freundlichen Einheimischen gefüllt ist, die Ihnen dabei helfen, Ihre Erfahrung zu genießen.
  </p>
  <br>

  <p class="subTitle">Verbringen Sie Zeit mit Ihren Lieben im Brief Garden</p>
  <p class="description">
    Unter anderem können Sie in Bentota den Brief Garden besuchen. Es ist ein bezaubernder Garten, der war
    entworfen von einem renommierten und erfahrenen srilankischen Künstler namens "Bevis Bawa". Dieser Ort erstreckt sich über fünf Hektar
    Land und ist eine Verkörperung schwankender tropischer Bäume, Skulpturen, Kunst und prächtiger imposanter Bauwerke.
    Es ist ein charmanter und schöner Ort, um sich im Trubel der Stadt zu verlieren. Das Startgeld beträgt 350 Sri
    lankische Rupien. Der Garten ist täglich von 8 bis 17 Uhr für die Öffentlichkeit zugänglich.
  </p>
  <br>

  <p class="subTitle">Gehen Sie durch die Pfade</p>
  <p class="description">
    Nehmen Sie an Trekking-/Wanderwegen durch die atemberaubenden Reisfelder der Bentota-Aturuwella-Gebiete teil. Es beherbergt
    ein Schrein namens „Katukoliha-Tempel“, der einhundertfünfundzwanzig Jahre alt ist. Es gibt eine Menge
    von Wohngebäuden, die in niederländischer Architektur errichtet wurden. Es ist auch ein idealer Ort, um
    genieße den Sonnenuntergang. Dieser Ort ist Brutstätte für eine Vielzahl von Zugvögeln. Diese Besucher, die sind
    Auf der Suche nach geeigneten Bentota-Aktivitäten sollten Sie diesen Ort auf jeden Fall während ihrer Reise nach besuchen?
    Bentota, Sri Lanka.
  </p>
  <br>

  <p class="subTitle">Machen Sie einen Spaziergang am Strand von Bentota</p>
  <p class="description">
    Die Stadt Bentota hat viele ruhige und atemberaubende Strände auf Lager. Einer von denen der Bentota Strand ist
    sie, die den Touristen mit wogenden Kokospalmen und malerischen Landschaften begrüßen. Es ist unbestreitbar ein
    idealer Ort für Naturliebhaber, um Freizeit-Wassersportarten wie Schwimmen, Tauchen und
    schnorcheln. Wenn Sie zufällig einer dieser Reisebegeisterten sind, die über die Frage nachdenken, was Sie tun können?
    Bentota Sri Lanka’ ist ein Spaziergang an diesem schönen Strand die beste Wahl.
  </p>
  <br>

  <p class="subTitle">Nehmen Sie Geschichtsunterricht in Kande Vihara</p>
  <p class="description">
    Andere Top-Aktivitäten in der Nähe von Bentota Sri Lanka sind 'Kande Vihara', die exklusiv für
    diejenigen, die historisch veranlagt sind. Diejenigen, die einen kleinen Einblick in die Geschichte von Bentota und seiner
    Umgebung sollte diesem Ort unbedingt einen Besuch abstatten.
  </p>
  <br>

  <p class="subTitle">Mach Wasserski</p>
  <p class="description">
    Erleben Sie das Wasser unter Ihren Füßen und spüren Sie, wie der Wind durch Ihr Haar streicht, indem Sie Wasserski lernen
    in Bentota. Der Strand hier ist der ideale Ort für sichere Seeski-Erlebnisse. Mit dem Mangel an
    große Felsbrocken und fleckiges Wasser, die unglaublichen Wasserflächen werden zur Sucht für Adrenalinliebhaber.
    Wenn Sie ein Wassersportler sind, ist dies die Zeit für Touristen, um ihre Tricks in Ruhe und Sicherheit zu zeigen
    Umgebung. Machen Sie sich keine Sorgen, als wären Sie ein Erstbesucher, die Support-Teams in der Umgebung schulen und überwachen die
    Touristen, um eine sichere und angenehme Zeit zu gewährleisten.
  </p>
  <br>

  <p class="subTitle">Bananenboot- und U-Bahn-Fahrten</p>
  <p class="description">
    Eine Bananenröhre ist wie der Name schon sagt, sie hat die Form einer Banane und ist mit einem Seil an einem Schnellboot befestigt.
    Die Reise garantiert ein adrenalingeladenes Erlebnis mit riesigen Wellen, die über Ihren Köpfen krachen.
    Obwohl es für jedes Alter geeignet ist, können Touristen in Bentota auch zwischen Einzelringfahrten und Sofafahrten wählen.
  </p>
  <br>

  <!--comment box-->
  <!--<div class="main-wrap">

    <div  *ngFor="let tempReview of bentotaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>
