<app-main-nav-rus>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hortonPlains"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hortonPlains-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hortonPlains-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--  image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHortonPlains.jpg" alt="Horton Plains">
  </p>
  <br><br>

  <p class="title">Удивительные развлечения в Хортон-Плейнс</p>
  <br>

  <p class="description">
    Равнины Хортон на Шри-Ланке - самое холодное и ветреное место в стране. Это
    состоит из таких экосистем, как вечнозеленые леса гор, луга, болотистые земли и водные экосистемы. В
    На высоте 2100 метров над уровнем моря, Хортон-Плейнс занимает более 3169 гектаров самых высоких
    плоскогорье острова. Ввиду большого количества эндемичных видов флоры и фауны, равнины Хортон были
    объявлен объектом Всемирного наследия ЮНЕСКО 30 июля 2010 года. Равнина Хортон, ее окрестности, леса и
    Прилегающий пик дикой природы представляет собой наиболее важный водосбор почти всех крупных рек Шри-Ланки.
    Равнины также имеют исключительную красоту и природоохранную важность, так как они содержат большинство мест обитания.
    и эндемичные растения и животные, характерные для влажных и горных зон страны.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014204.077815888!2d80.24710188008555!3d6.802097495083621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae3882edb4b78ef%3A0xcebca89153777249!2sHorton%20Plains%20National%20Park!5e0!3m2!1sen!2slk!4v1623460184622!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br><br>

  <p class="subTitle">Пеший туризм</p>
  <p class="description">
    Это лучшее развлечение в национальном парке Хортон-Плейнс, где платообразная земля резко кончается и
    имеет глубокое погружение на 4000 футов. Полюбуйтесь красотой Пика Адама на залитых солнцем лучах, пока вы находитесь на своем
    пешее приключение. Поход к Крайнему краю света прост, потому что вы найдете круговую тропу без
    беспокоиться о том, что заблудится Девятикилометровый увлекательный маршрут раскроет красоту и тайну
    высокогорье Шри-Ланки.
  </p>
  <br>

  <p class="subTitle">Посетите Baker’s Falls</p>
  <p class="description">
    Первоначальное название этого красивого водопада - Водопад Гонагала. Это водопад каскадного типа (о котором говорят
    быть самым красивым типом) с 2 каплями. Нынешнее название произошло от сэра Сэмюэля Бейкера, британца.
    National, который открыл его в 1845 году. Он также был известен тем, что убил 50 слонов в парке. Белихул Оя создает
    этот довольно шумный водопад за счет ударов воды о большой скале у основания. Хотя как красиво
    Водопад Бейкера - это небольшой бассейн вокруг него, как говорят, это смертельная ловушка глубиной 12 метров, унесшая жизни многих в
    мимо. Знаменитая тропа в национальном парке Хортон-Плейнс ведет к достопримечательностям Great World’s End Drop и Baker’s
    Водопад находится в 3,3 км от тропы. Обычный климат в парке - около 16 градусов тепла, возможны дожди.
    ожидается большую часть года. К финальной части пути, ведущего к водопаду, идет корень, усыпанный
    спускаться вниз, и это может быть действительно сложно в дождливую погоду.
  </p>
  <br>

  <p class="subTitle">Полюбуйтесь видами на край света</p>
  <p class="description">
    Плато Хортон-Плейнс внезапно заканчивается на краю света, потрясающем откосе, погружающемся на 880 метров. В
    прогулка здесь составляет 4 км, но затем тропа возвращается к водопаду Бейкерс (2 км) и продолжается обратно к входу
    (еще 3,5км). Путь туда и обратно длиной 9,5 км занимает три часа неторопливой работы. Если вы не приедете пораньше, вид из
    Край света часто скрыт туманом, особенно в сезон дождей с апреля по сентябрь. Все что ты можешь
    Ожидайте увидеть с Края Света примерно после 9 утра кружащуюся белую стену. Ранним утром (между 6:00 и
    10 утра) - лучшее время для посещения, пока не накатились облака. Это когда вы будете шпионить за игрушечным городком, чайной плантацией.
    деревни в долине внизу и беспрепятственный вид на юг в сторону побережья.
  </p>
  <br>

  <p class="subTitle">Наблюдение за животными</p>
  <p class="description">
    Парк может похвастаться более чем 150 видами диких животных и домом для пурпурных лангуров, диких удавов, Шри
    Ланкийские дикие птицы, выдра, красный стройный лорис, сорока, самбарский олень и шри-ланкийские леопарды. Вы можете заметить
    пара эндемичных видов, обитающих в джунглях, в том числе ящерица из рога носорога, огромная длиннохвостая
    белки, нарисованная губная ящерица, обезьяна-медведь, обезьяна Токе, лающий олень, кошка-рыболов и полосатая шея
    мангуста. Вы можете фотографировать, если вам посчастливилось заметить этих неуловимых животных.
  </p>
  <br>

  <p class="subTitle">Лагерь в зоне бассейна с дымоходом</p>
  <p class="description">
    Каминный бассейн - одна из самых красивых частей Хортонской равнины. Если вы хотите там разбить лагерь, вы можете
    получить разрешение от Департамента дикой природы Баттарамуллы на строительство кемпингов вокруг бассейна с дымоходом. Eсть
    но в туалете НЕТ воды. Обязательно возьмите ведро с водой, прежде чем войти.
    чтобы набрать воду из бассейна с дымоходом, поэтому будьте осторожны, когда набираете воду. С декабря по февраль лучше всего для
    лагерь там.
  </p>
  <br>

  <p class="subTitle">Станьте свидетелем богатой флоры</p>
  <p class="description">
    Хортон-Плейнс стоит посетить из-за его богатой флоры и биоразнообразия с пятью процентами разновидностей растений.
    эндемик островного государства Шри-Ланка. Полюбуйтесь красотой полога леса, вырастающего примерно до 20 метров.
    и преобладают широко распространенные Кина. Вы будете деревьями папоротников Maha Meewana, усеивающими проемы джунглей, пока
    Нелу и Бинара являются эндемиками этого парка и известны своими яркими цветами. Сфотографируйте Бивитию,
    который является еще одним потрясающе красивым цветком в этом регионе.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of hortonPlainsReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

