<app-main-nav-ger>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hortonPlains"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hortonPlains-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hortonPlains-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--  image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHortonPlains.jpg" alt="Horton Plains">
  </p>
  <br><br>

  <p class="title">Tolle Aktivitäten in Horton Plains</p>
  <br>

  <p class="description">
    Horton Plains in Sri Lanka ist der kälteste und windigste Ort des Landes. Es
    besteht aus Ökosystemen wie montanen immergrünen Wäldern, Grasland, Sumpfgebieten und aquatischen Ökosystemen. Beim
    Auf einer Höhe von 2.100 Metern über dem Meeresspiegel erstreckt sich Horton Plains über 3.169 Hektar der höchsten
    Hochebene der Insel. Angesichts der großen Zahl endemischer Pflanzen- und Tierarten war Horton Plains
    am 30. Juli 2010 zum UNESCO-Weltkulturerbe erklärt. Horton Plains, seine Umgebung, Wälder und die and
    Die angrenzende Peak Wilderness bildet das wichtigste Einzugsgebiet fast aller großen Flüsse Sri Lankas.
    Die Ebenen sind auch von herausragender landschaftlicher Schönheit und Bedeutung für die Erhaltung und enthalten die meisten Lebensräume
    und endemische Pflanzen und Tiere, die für die feuchten und montanen Zonen des Landes repräsentativ sind.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014204.077815888!2d80.24710188008555!3d6.802097495083621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae3882edb4b78ef%3A0xcebca89153777249!2sHorton%20Plains%20National%20Park!5e0!3m2!1sen!2slk!4v1623460184622!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br><br>

  <p class="subTitle">Wandern</p>
  <p class="description">
    Es ist die beste Aktivität des Horton-Plains-Nationalparks, wo das Plateau-ähnliche Land abrupt endet und
    verfügt über einen tiefen Einsturz von 4000 Fuß. Genießen Sie die Schönheit des Adam's Peak bei einem sonnendurchfluteten
    Wanderabenteuer. Die Wanderung zum World’s End ist einfach, da du einen Rundweg ohne
    sich Sorgen machen, im Weg verloren zu sein. Der neun Kilometer lange Fun-Trek entfesselt die Schönheit und das Mysterium der
    Hochland von Sri Lanka.
  </p>
  <br>

  <p class="subTitle">Besuchen Sie Baker’s Falls</p>
  <p class="description">
    Der ursprüngliche Name dieses wunderschönen Wasserfalls ist Gonagala Falls. Es ist ein Wasserfall vom Typ einer Kaskade (was gesagt wird)
    der schönste Typ zu sein) mit 2 Tropfen. Der heutige Name wurde von Sir Samuel Baker, dem Briten, abgeleitet
    National, der es 1845 entdeckte. Er war auch berühmt dafür, 50 Elefanten im Park zu töten. Belihul Oya schafft
    dieser ziemlich laute Wasserfall, indem das Wasser auf eine große Felsformation am Fuße prallt. Obwohl wie schön
    Baker's Falls ist das Tauchbecken um ihn herum und soll eine 12 m tiefe Todesfalle sein, die viele Menschenleben forderte
    Vergangenheit. Der berühmte Wanderweg im Horton Plains Nationalpark führt zum Great World’s End Drop und Baker’s
    Die Wasserfälle sind 3,3 km vom Ausgangspunkt entfernt. Das übliche Klima im Park ist um 16 ° C und es kann regnen
    den größten Teil des Jahres erwartet. Der letzte Teil des Weges, um den Fall zu erreichen, ist eine Wurzel – gestreut mit a
    abwärts und das kann bei Regenwetter eine echte Herausforderung sein.
  </p>
  <br>

  <p class="subTitle">Bewundern Sie die Aussicht auf das Ende der Welt</p>
  <p class="description">
    Das Horton Plains Plateau endet plötzlich am World's End, einer atemberaubenden Steilstufe, die 880 m in die Tiefe stürzt. Das
    Der Weg hierher ist 4 km lang, aber der Weg führt dann zurück zu Baker's Falls (2 km) und führt zurück zum Eingang
    (weitere 3,5 km). Die 9,5 km lange Rundfahrt dauert gemütliche drei Stunden. Wenn Sie nicht früh ankommen, ist die Aussicht von
    Das Ende der Welt wird oft von Nebel verdeckt, insbesondere während der Regenzeit von April bis September. Alles was du kannst
    Erwarten Sie, dass Sie vom World's End nach etwa 9 Uhr morgens eine wirbelnde weiße Wand sehen. Am frühen Morgen (zwischen 6 Uhr und
    10 Uhr) ist die beste Zeit für einen Besuch, bevor die Wolken aufziehen. Dann werden Sie die Spielzeugstadt und die Teeplantage ausspionieren
    Dörfer im Tal unten und einen freien Blick nach Süden zur Küste.
  </p>
  <br>

  <p class="subTitle">Tierbeobachtung </p>
  <p class="description">
    Der Park rühmt sich von mehr als 150 Wildtierarten und beheimatet Purpurgesicht-Languren, Wildboas, Sri
    Lankas Supergeflügel, Otter, rote schlanke Loris, Elster, Sambarhirsche und srilankische Leoparden. Sie können a erkennen
    paar endemische Arten, die im Dschungel beheimatet sind, darunter die Nashorn-Eidechse, riesige Langschwänzige
    Eichhörnchen, bemalte Lippeneidechse, Bärenaffe, Haubenaffe, bellender Hirsch, Fischerkatze und Streifenhals
    Mungo. Sie können Fotos machen, wenn Sie das Glück haben, diese schwer fassbaren Tiere zu entdecken.
  </p>
  <br>

  <p class="subTitle">Campen Sie im Kamin-Pool-Bereich</p>
  <p class="description">
    Der Chimney Pool Bereich ist einer der schönsten Teile der Horton Plain. Wenn Sie dort campen möchten, können Sie
    Holen Sie sich die Erlaubnis vom Battaramulla Wild Life Department, um Campingplätze rund um den Chimney Pool zu bauen. Da ist ein
    Toilette, aber es gibt KEIN Wasser in der Toilette. Stellen Sie sicher, dass Sie einen Eimer Wasser mitnehmen, bevor Sie hineingehen
    Um das Wasser aus dem Kaminbecken zu entnehmen, seien Sie daher vorsichtig, wenn Sie Wasser nehmen. Dezember bis Februar am besten für
    dort campen.
  </p>
  <br>

  <p class="subTitle">Erleben Sie die reiche Flora </p>
  <p class="description">
    Horton Plains ist wegen seiner reichen Flora und Artenvielfalt mit fünf Prozent der Pflanzenarten einen Besuch wert
    endemisch im Inselstaat Sri Lanka. Bewundern Sie die Schönheit der Baumkronen, die auf etwa 20 Meter wachsen
    und dominiert von der weit verbreiteten Keena. Sie werden Baumfarne Maha Meewana die Dschungelöffnungen punktieren, während
    Nelu und Binara sind in diesem Park endemisch und für ihre auffälligen Blüten bekannt. Machen Sie Fotos von Bivitiya,
    das ist eine weitere atemberaubend schöne Blume in dieser Region.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of hortonPlainsReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>

