<app-main-nav>

  <!--main carousel-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slider1.webp" style="height: 120vh" class="d-block w-100" alt="sigiriya">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider2.webp" style="height: 120vh" class="d-block w-100" alt="mountain_view">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider3.jpg" style="height: 120vh" class="d-block w-100" alt="ganagaramay_temple">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>

  <div class="row" style="background-color: white">
    <!--discover sri lanka image-->
    <div class="col-12 col-md-6">
      <br><br><br><br>
      <img src="assets/images/homeText.jpg" alt="textImage" style="width: 700px">
    </div>
    <!--tourist map image-->
    <div class="col-12 col-md-6">
      <img src="assets/images/SriLankaMap.jpg" alt="SriLanka" style="height: 800px">
    </div>
  </div>
  <br><br>

  <!--destinations title-->
  <p class="homePageTitles">Destinations</p>
  <br><br>
  <!--destinations slider-->
  <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel" style="background-color: white">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3">
            <img src="assets/images/gallefort.jpg" class="d-block w-100" alt="Galle Fort">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/galleFort">Explore</button></p>
          </div>
          <div class="col-3">
            <img src="assets/images/ella.jpg" class="d-block w-100" alt="Ella">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/ella">Explore</button></p>
          </div>
          <div class="col-3">
            <img src="assets/images/hikkaduwa.jpg" class="d-block w-100" alt="Hikkaduwa">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/hikkaduwa">Explore</button></p>
          </div>
          <div class="col-3">
            <img src="assets/images/mirissa.jpg" class="d-block w-100" alt="Mirissa">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/mirissa">Explore</button></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-3">
            <img src="assets/images/kalpitiya.jpg" class="d-block w-100" alt="Kalpitiya">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/kalpitiya">Explore</button></p>
          </div>
          <div class="col-3">
            <img src="assets/images/hortonPlains.jpg" class="d-block w-100" alt="Horton Plains">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/hortonPlains">Explore</button></p>
          </div>
          <div class="col-3">
            <img src="assets/images/bentota.jpg" class="d-block w-100" alt="Bentota">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/bentota">Explore</button></p>
          </div>
          <div class="col-3">
            <img src="assets/images/nuwaraEliya.jpg" class="d-block w-100" alt="Nuwara Eliya">
            <p class="btnBookNow"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">Explore</button></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <br><br>
  </div>
  <br><br>

  <!--tour packages title-->
  <p class="homePageTitles">Tour Packages</p>
  <br><br>
  <!--tour package slider-->
  <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel" style="background-color: white">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3"><img src="assets/images/cultureTour.jpg" class="d-block w-100" alt="Culture Tour"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
          <div class="col-3"><img src="assets/images/beachTour.jpg" class="d-block w-100" alt="Beach Tour"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
          <div class="col-3"><img src="assets/images/natureTour.jpg" class="d-block w-100" alt="Nature Tour"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
          <div class="col-3"><img src="assets/images/adventureTour.jpg" class="d-block w-100" alt="Adventure Tour"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
        </div>
        </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-3"><img src="assets/images/hillCountryTour.jpg" class="d-block w-100" alt="Hill Country Tour"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
              <div class="col-3"><img src="assets/images/ancientTour.jpg" class="d-block w-100" alt="Ancient Tour"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
              <div class="col-3"><img src="assets/images/hikingTour.jpg" class="d-block w-100" alt="Hiking Tour"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
              <div class="col-3"><img src="assets/images/wildLifeTour.jpg" class="d-block w-100" alt="Wildlife"><p class="btnBookNow"><button mat-raised-button color="primary">Book Now</button></p></div>
            </div>
          </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>

  <app-footer></app-footer>
</app-main-nav>

