<p>
  <mat-toolbar color="primary">
    <span><mat-icon style="margin-right: 5px">surfing</mat-icon>MySLTravels</span>
    <div class="nav-spacer"></div>
    <a mat-button>Home</a>
    <a mat-button>Attractions</a>
    <a mat-button>Tour Packages</a>
    <a mat-button>Airport Pick Up</a>
    <a mat-button>About Us</a>
    <a mat-button>Contact Us</a>
    <a mat-raised-button color="accent" style="margin-right: 5px">Log In</a>
    <a mat-raised-button color="accent">Sign Up</a>
  </mat-toolbar>
</p>
