<app-main-nav>
  <!--main carousel-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slider1.webp" style="height: 120vh" class="d-block w-100" alt="sigiriya">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider2.webp" style="height: 120vh" class="d-block w-100" alt="mountain_view">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slider3.jpg" style="height: 120vh" class="d-block w-100" alt="ganagaramay_temple">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <div class="row" style="background-color: white">
    <!--discover sri lanka image-->
    <div class="col-12 col-md-6">
      <br><br><br><br>
      <img src="assets/images/homeText.jpg" alt="textImage" style="width: 700px">
    </div>
    <!--tourist map image-->
    <div class="col-12 col-md-6">
      <img src="assets/images/SriLankaMap.jpg" alt="SriLanka" style="height: 800px">
    </div>
  </div>
  <!--tour package slider-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3"><img src="assets/images/cultureTour.jpg" class="d-block w-100" alt=""></div>
          <div class="col-3"><img src="assets/images/beachTour.jpg" class="d-block w-100" alt="..."></div>
          <div class="col-3"><img src="assets/images/natureTour.jpg" class="d-block w-100" alt="..."></div>
          <div class="col-3"><img src="assets/images/adventureTour.jpg" class="d-block w-100" alt="..."></div>

        </div>

      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-3"><img src="assets/images/hillCountryTour.jpg" class="d-block w-100" alt="..."><button>Hello</button></div>
          <div class="col-3"><img src="assets/images/ancientTour.jpg" class="d-block w-100" alt="..."><button>Hello</button></div>
          <div class="col-3"><img src="assets/images/hikingTour.jpg" class="d-block w-100" alt="..."><button>Hello</button></div>
          <div class="col-3"><img src="assets/images/wildLifeTour.jpg" class="d-block w-100" alt="..."></div>

        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
</app-main-nav>
