<app-main-nav>
  <img src="assets/images/aboutUs.jpg" style="height: 120vh" width="100%">

  <div class="main-wrap">

    <p class="headerText">Our Story</p>
    <br>
    <p class="contend">In 2010, MySLTravels took flight, piloted by Naveen Asanka, our CEO and Founder, with the main aim of
      becoming the best personalised travel agent in Sri Lanka! This one-man show quickly gathered speed
      as the team at MySLTravels grew, fast and wide. MySLTravels, spearheaded by Asanka, grew faster by
      attracting the right people around him. An integral part of our growth lies with listening to our
      customers valuable feedback and improving ourselves, where we compete with ourselves everyday! Sri
      Lanka was the main and primary destination to conquer. Our brand started to gain its momentum
      worldwide as the reliable online travel partner for booking personalised tours to Sri Lanka.
      This brought us recognition and fame, from our clientele, who simply loved our genuine services.
      Through our customer referrals and online fame, we were able to expand and offer our services to
      other amazing destinations across the globe! At present, MySLTravels is powered by a 10-strong
      workforce who all share the same belief - that personalised travel tours are the best way to
      experience a destination, and taking care of our customers needs by assisting them in every
      possible way is the most important part of our brand. We believe in equality for all, and hence
      our team is now made up of 25% female staff! In addition, by creating countless opportunities for
      the younger generation, we contribute to empowering the youth who will take the company to its
      future.
    </p>
    <br>

    <p class="headerText">Our Vision</p>
    <br>
    <p class="contend">Our vision is to become the global leader in personalised, bespoke tours. Together with our
      professional, friendly staff we are on the fastest track towards this.
    </p>
    <br>

    <p class="headerText">Our Mission</p>
    <br>
    <p class="contend">Our mission at MySLTravels is to create a memorable, personalised holiday experience for anyone
      who entrusts us with their vacation. As part of our growth, we also intend on adding more holiday
      destinations to our list; which will enable us to serve a larger client base.
    </p>
    <br>

  </div>
  <br><br>

  <app-footer></app-footer>
</app-main-nav>
