<app-main-nav>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

 <!-- image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiNuwaraEliya.jpg" alt="Nuwara Eliya">
  </p>
  <br><br>

  <p class="title">Awesome things to do in Nuwara Eliya</p>
  <br>

  <p class="description">
    Often referred to as ‘Little England’, this genteel highland community does have a rose-tinted, vaguely
    British-country-village feel to it, with its colonial-era bungalows, Tudor-style hotels, well-tended hedgerows
    and pretty gardens. Indeed, Nuwara Eliya was once was the favored cool-climate escape for the hard-working and
    hard-drinking English and Scottish pioneers of Sri Lanka’s tea industry. A recent construction boom has
    blighted the scene to a degree, and the dusty and bustling centre is a thoroughly Sri Lankan urban tangle, but
    Nuwara Eliya still makes a fine base for a few days' relaxation. The verdant surrounding countryside of tea
    plantations, carefully tended vegetable plots and craggy hills is highly scenic. Treat yourself to a night in
    one of Nuwara Eliya’s colonial hotels, play a round of golf or a few frames of billiards, and soak up the town’s
    unique bygone heritage.
  </p>
  <br>

  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1013885.4735489736!2d80.22064351898126!3d6.951364914271739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae380434e1554c7%3A0x291608404c937d9c!2sNuwara%20Eliya!5e0!3m2!1sen!2slk!4v1623460426532!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Hire a swan on Gregory Lake</p>
  <p class="description">
    Right in the heart of Nuwara Eliya, you have Gregory Lake. It’s a large open body of water that is easily
    visible from points all across Nuwara Eliya. Many people visiting the area will then choose to go jet skiing
    on Gregory lake. Or, if you want something a little more chilled out and romantic, then hire a swan out for an
    hour. You can also park up and walk around whole sections of the lake, which is something we got to do whilst
    there. Or, if you’d simply like to gaze at it from your room, consider staying at one of these hotels in
    Nuwara Eliya near Gregory Lake.
  </p>
  <br>

  <p class="subTitle">Amble through Victoria Park</p>
  <p class="description">
    The heart of Nuwara Eliya can seem a little busy, and there’s certainly a decent amount of noise going on from
    all the traffic. Well, Victoria Park is sort of like a haven away from that surrounding noise and busyness. The
    Victoria Park entrance fee is only 300 Rupees, and you can spend as long as you want strolling around the gardens
    or relaxing on a park bench. You also have the Victoria Park museum there as well. It's only small, but showcases
    lots of old Nuwara Eliya photos from the last 100 years or so. They show you what life was like in the area, back
    when it was under British influence. It’s fascinating to see how the area has evolved and what construction was
    like when the railways were built.
  </p>
  <br>

  <p class="subTitle">Daydream at Lover’s Leap waterfall</p>
  <p class="description">
    Lover’s Leap waterfall in Nuwara Eliya is definitely something you can't afford to miss. It’s a very short drive
    from the centre of town and is one of the nicest waterfalls in the entire country. It also has a rather
    fascinating history, at least if you believe the local folklore. As the story goes, a local prince once fell in
    love with a girl, but the two were forbidden to be together. The whole saga ends with them jumping to their
    deaths from the waterfall, hand in hand. How true this is, or whether there have been any cases since, is yet
    unclear to me. But either way, it’s a nice spot to visit.
  </p>
  <br>

  <p class="subTitle">Enjoy lunch at St Clair’s Falls</p>
  <p class="description">
    We recommend enjoying the beauty of St Clair’s Falls from The Waterfall Villas by Yoho. This resort has a
    wonderful restaurant situated in a prime spot on the mountainside. They have large glass windows running all
    the way along, allowing you to sit and eat your meal with a view. The food is also incredibly cheap! The drive
    to both of these falls takes you through the winding mountain roads, and offers incredible views out over the
    local tea plantations. So it’s worth visiting Devon Falls and St Clair’s Falls for this reason alone.
  </p>
  <br>

  <p class="subTitle">Play a round of golf</p>
  <p class="description">
    If like me you’re a massive fan of golf, why not head out for a round while you’ve got the chance? The
    imaginatively-named Nuwara Eliya Golf Club is situated right in the heart of Nuwara Eliya and is surprisingly
    cheap for a round. You can play and rent out everything you need for around 8400 rupees in total. That even
    includes a caddy to go around with you. However, it really would be a special place to play. The course dates
    all the way back to 1889 and is one of the oldest golf courses anywhere in Asia. It is also one of the very
    few golf courses you’ll find during your travels in Sri Lanka.
  </p>
  <br>

  <p class="subTitle"> Take in the Hakgala Botanical Gardens</p>
  <p class="description">
    Just 1km away from the Seetha Amman temple, you have the Hakgala Botanical Gardens. This is the second biggest
    botanical garden anywhere in Sri Lanka and is one of only 4 others. Due to the comparatively low annual
    temperature of this region of the country, those who manage the garden have been able to grow some incredibly
    rare species of plants. Many of which you’ll struggle to find anywhere else in the country. It is by far one of
    the most popular things to see in Nuwara Eliya as the park draws in up to 100,000 guests a year.
  </p>
  <br><br>

  <p class="subTitle"> Chill out at a tea factory</p>
  <p class="description">
    It is hard to recommend any particular tea factory, as it would take weeks for me to explore all of them! In
    fact, the entire route up from Kandy to Ella is littered with spectacular tea plantations. Most of which have
    an accompanying factory and tea rooms for visitors. My advice would be to simply head out for the day exploring
    the other wonderful things to see and do in and around Nuwara Eliya. At some point, you’ll feel a bit tired and
    decide it’s time for a rest. This is exactly what we did and were not disappointed with any of the places we
    decided to stop off at. If you’re wondering what to do in Nuwara Eliya when it rains, then I suggest you head
    to a tea factory and fill up on delicious cakes and tea!
  </p>
  <br>

  <!--comment box-->
  <div class="main-wrap">

    <div  *ngFor="let tempReview of nuwaraEliyaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>

  <app-footer></app-footer>
</app-main-nav>

