<app-main-nav-ger>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHikka.jpg" alt="Hikkaduwa">
  </p>
  <br><br>

  <p class="title">Tolle Dinge zu tun in Hikkaduwa</p>
  <br>

  <p class="description">
    Hikkaduwa ist seit den 1970er Jahren ein fester Bestandteil der srilankischen Touristenkarte, und diese lange Exposition gegenüber
    Tourismus hat es ein wenig schlimmer hinterlassen. Ein kilometerlanger Streifen mit Gasthäusern, Geschäften und Restaurants
    säumt den Strand, der im Norden ziemlich stark erodiert ist. Die geschäftige Colombo-Galle Rd mit ihren
    verrückte Hochgeschwindigkeitsbusfahrer, die mitten durch Hikkaduwa fahren, was das Aussteigen machen kann
    Ihr Gästehaus so tödlich wie ein russisches Roulette-Spiel! Aber es ist nicht alles schlecht. Es gibt viele charmante
    Unterkünfte, eine Reihe von gemütlichen Strandbars und Restaurants, gute Tauch- und Surfschulen und jede Menge
    interessante Ausflüge mit dem Dreirad oder dem Mietroller. Seit Jahren spricht man von a
    mögliche Umgehungsstraße um Hikkaduwa, die, wenn sie zustande kommen sollte, Wunder für dieses verlorene Paradies bewirken würde.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014325.1735892129!2d80.40742258942218!3d6.7445014146030235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae177fbcae7226d%3A0x373eeb50aad15308!2sHikkaduwa!5e0!3m2!1sen!2slk!4v1623459515531!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="eager"></iframe>
  </p>
  <br>

  <p class="subTitle"> Schnorcheln</p>
  <p class="description">
    Eine der Top-Aktivitäten in Hikkaduwa Beach ist Schnorcheln. Der Grund ist, dass einer von nur zwei Meeresparks
    in Sri Lanka liegt vor Hikkaduwa. Mieten Sie einfach eine Schnorchelausrüstung und machen Sie eine kurze Bootsfahrt zum
    Hikkaduwa Korallenriff. Tauchen Sie nach Ihrer Ankunft ein und genießen Sie die Aussicht auf die Unterwasserwelt. Es gibt viele
    lokale Reiseveranstalter, die Schnorchelausflüge organisieren können und der durchschnittliche Preis beträgt etwa 2.000 Rupien für einen
    Stunde. Die beste Jahreszeit zum Schnorcheln ist zwischen November und April.
  </p>
  <br>

  <p class="subTitle">Fahrt mit dem Glasbodenboot</p>
  <p class="description">
    Offensichtlich vielleicht, aber eine der besten Aktivitäten in Hikkaduwa ist einfach, die Zeit am Strand zu genießen. Entdecke die
    verschiedene Strände in der Nähe, genießen Sie die wunderschönen Sonnenuntergänge und schwimmen Sie. Einer unserer besten Hikkaduwa-Tipps ist zu
    Halten Sie später am Tag am südlichen Ende des Strandes in den Untiefen Ausschau nach Riesenschildkröten. Sie sind riesig
    Tiere und ihre Beobachtung in ihrem natürlichen Lebensraum ist eines der besten Dinge, die man in Hikkaduwa Beach Sri . sehen kann
    Lanka.
  </p>
  <br>

  <p class="subTitle">Schwimmen Sie mit Meeresschildkröten</p>
  <p class="description">
    Wenn Sie schon immer mit riesigen Meeresschildkröten im Meer schwimmen wollten, dann ist Hikkaduwa der richtige Ort dafür. Recht
    Vom Ufer der Stadt aus können Sie leicht viele Meeresschildkröten sehen, die einfach nur im Wasser hängen. Sie haben keine Angst
    von Menschen und schwimmen oft direkt auf dich zu! Es gibt einen bestimmten Ort, an dem es immer Schildkröten zu geben scheint
    Hikkaduwa. Der Spot befindet sich vor dem Hikka Tranz Cinnamon Hotel. Sie erreichen uns bequem von der
    Hauptstrand in Hikkaduwa, biegen Sie einfach links ab (wenn Sie auf das Meer blicken) und gehen Sie um die Bucht herum, bis Sie erreichen
    das Ende. Hier sehen Sie ein paar Schilder über die Schildkröten. Hier werden Sie sie am ehesten entdecken!
    Wenn Sie verwirrt sind, suchen Sie einfach nach den Betonstufen und dem Handlauf vor dem Hotel am Strand. Oder nur
    fragen Sie einen der Rettungsschwimmer.
  </p>
  <br>

  <p class="subTitle">Sieh dir Baby Turtles Hatch an</p>
  <p class="description">
    Wenn du Schildkröten genauso liebst wie ich, dann ist das Schwimmen mit den Erwachsenen toll, aber Babyschildkröten zu sehen ist sogar
    besser! Am Hikkaduwa Beach haben sie eine kleine bewachte Schildkrötenbrutstätte, in der sie Schildkröteneier halten. Zwischen den
    In den Monaten Januar und April ist es möglich, dieses Gehege zu besuchen und zu sehen, ob Schildkröten schlüpfen. In dem
    Abends gegen 18:30 Uhr lassen sie die Schildkröten aus dem Gehege und lassen sie aufs Meer rennen! Du kannst besuchen
    die Brüterei zu jeder Zeit, wenn Sie am Hauptstrand entlang gehen, es dürfen jedoch keine Schildkröten darin sein. Behalten
    Überprüfen Sie den ganzen Tag, denn sobald sie geschlüpft sind, wissen Sie, dass sie bald freigelassen werden! Dies ist ein öffentlicher Bereich
    und kostenlos für jedermann. Sie lassen sogar einige Touristen helfen, die Babyschildkröten von der Brutstätte nach zu transportieren
    der Strand. Die Schildkröten zu beobachten ist etwas ganz Besonderes und sicherlich eine der besten Aktivitäten in Hikkaduwa, Sri Lanka.
    Wenn Sie diese Aktivität in Hikkaduwa verpassen, machen Sie sich keine Sorgen, denn Sie können auch alle Babyschildkröten sehen
    über Sri Lanka. Tatsächlich ist es eine der besten Aktivitäten in Mirissa – einem nahe gelegenen Strandort, der sehr beliebt ist!
  </p>
  <br>

  <p class="subTitle">Machen Sie eine Flusssafari</p>
  <p class="description">
    Wenn Sie sich fragen, was Sie in Hikkaduwa außer dem Strandbesuch noch unternehmen können, gibt es eine Reihe großer Seen und
    Flüsse in der Nähe der Stadt zu erkunden. Eine Flusssafari ist eine großartige Möglichkeit, die Backwaters zu erkunden und ist eine der besten
    Aktivitäten rund um Hikkaduwa. Der Madhu-Fluss in der Nähe von Balapitiya ist ein beliebter Ort, um zu erkunden oder ein Kanu zu mieten
    und paddeln Sie das Hikkatuwa-Seesystem hinauf. Achten Sie bei Ihrer Fahrt durch die Mangroven besonders auf Wildtiere
    Vögel, Affen und möglicherweise sogar ein oder zwei Krokodile.
  </p>
  <br>

  <p class="subTitle">Surfen</p>
  <p class="description">
    Wassersport in Hikkaduwa ist eine der beliebtesten Aktivitäten und die Gegend ist berühmt für das Surfen unter
    Abenteuerlustige. Die sauberen Wellen und der konstante Swell ziehen Surfer in die Gegend, um dies zu genießen
    lustige Outdoor-Aktivität. Am Strand können Surfbretter gemietet werden. Es ist ein guter Ort, um Surfen zu lernen, da
    die Wellen sind oft für Anfänger geeignet. Bitten Sie einen der Boardverleiher, Sie gegen eine Gebühr zu unterrichten.
    Sie können auch Paddleboards mieten, mit denen Kinder das Wasser auf unterhaltsame Weise erkunden können, wenn die Wellen klein sind.
  </p>
  <br>

  <p class="subTitle">Erkunden Sie den Sri Pushparama Tempel</p>
  <p class="description">
    Abgesehen von Abenteuer und Natur, wenn Sie Hikkaduwa besichtigen möchten, besuchen Sie den Sri Pushparama Tempel
    oder einen der anderen nahe gelegenen Tempel. Der Besuch dieses buddhistischen Tempels ist eine der besten Aktivitäten in der Nähe von Hikkaduwa
    Strand in Sri Lanka. Beim Betreten des Tempels heißt Sie ein Mönch des Schreins herzlich willkommen und zeigt Ihnen die
    Nähe des Tempels. Hier erfahren Sie mehr über die buddhistischen Philosophien, während Sie durch den Komplex spazieren.
    Dies ist eine großartige Einführung und Möglichkeit, die buddhistische Religion kennenzulernen. Der Eintritt ist frei, aber es ist ein
    Möglichkeit, an den Tempel und die Mönche zu spenden.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of hikkaduwaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>

