<app-main-nav-rus>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHikka.jpg" alt="Hikkaduwa">
  </p>
  <br><br>

  <p class="title">Удивительные развлечения в Хиккадуве</p>
  <br>

  <p class="description">
    Хиккадува прочно закрепилась на туристической карте Шри-Ланки с 1970-х годов, и это долгое время
    туризм оставил его немного хуже изношенного. Километровая полоса гестхаусов, магазинов и ресторанов
    выстилает пляж, который на своем северном участке довольно сильно размыт. Оживленная улица Коломбо-Галле с его
    сумасшедшие водители скоростных автобусов, проезжающие прямо через центр Хиккадувы, что может сделать выход за пределы
    Ваш гестхаус смертоносен, как игра в русскую рулетку! Но не все так плохо. Есть много очаровательных
    места для отдыха, несколько уютных пляжных баров и ресторанов, хорошие школы дайвинга и серфинга и множество
    интересные экскурсии на трехколесном или арендованном скутере. В течение многих лет говорилось о
    возможна объездная дорога вокруг Хиккадувы, которая, если бы она материализовалась, творила чудеса с этим потерянным раем.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014325.1735892129!2d80.40742258942218!3d6.7445014146030235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae177fbcae7226d%3A0x373eeb50aad15308!2sHikkaduwa!5e0!3m2!1sen!2slk!4v1623459515531!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="eager"></iframe>
  </p>
  <br>

  <p class="subTitle"> Подводное плавание</p>
  <p class="description">
    Одно из лучших занятий на пляже Хиккадува - сноркелинг. Причина в том, что один из двух морских парков
    в Шри-Ланке находится недалеко от Хиккадувы. Просто возьмите напрокат снаряжение для подводного плавания и совершите короткую прогулку на лодке до
    Коралловый риф Хиккадувы. По прибытии окунитесь в воду и насладитесь видами подводного мира. Здесь очень много
    местные туроператоры, которые могут организовать поездки для сноркелинга, а средняя стоимость составляет около 2000 рупий за одного
    час. Лучшее время года для сноркелинга - с ноября по апрель.
  </p>
  <br>

  <p class="subTitle">Катание на лодке со стеклянным дном</p>
  <p class="description">
    Возможно, это очевидно, но просто одно из лучших занятий в Хиккадуве - это проводить время на пляже. Исследовать
    различные пляжи поблизости, полюбуйтесь великолепными закатами и искупайтесь. Один из наших лучших советов по Хиккадуве -
    обратите внимание на гигантских черепах на мелководье в конце дня на южной оконечности пляжа. Они огромны
    животных и наблюдение за ними в их естественной среде обитания - одна из лучших вещей, которые стоит увидеть на пляже Хиккадува.
    Ланка.
  </p>
  <br>

  <p class="subTitle">Плавать с морскими черепахами</p>
  <p class="description">
    Если вы когда-нибудь хотели искупаться в океане с огромными морскими черепахами, то Хиккадува - идеальное место для этого. Верно
    с берега в городе можно легко увидеть множество морских черепах, просто болтающихся в воде. Они не боятся
    людей и часто подплывают прямо к вам! Есть одно особое место, в котором всегда есть черепахи.
    Хиккадува. Место находится напротив отеля Hikka Tranz Cinnamon. Вы можете легко добраться сюда из
    на главном пляже Хиккадувы, просто поверните налево (если вы смотрите на океан) и идите вдоль залива, пока не дойдете до
    конец. Здесь вы увидите несколько знаков о черепахах. Здесь вы, скорее всего, их заметите!
    Если вы запутались, поищите бетонные ступеньки и перила перед отелем на пляже. Или просто
    спросите одного из спасателей.
  </p>
  <br>

  <p class="subTitle">Наблюдайте за вылупливанием маленьких черепашек</p>
  <p class="description">
    Если вы любите черепах так же сильно, как и я, то плавать со взрослыми - это здорово, но увидеть маленьких черепашек - даже
    лучше! На пляже Хиккадува у них есть небольшой охраняемый инкубаторий для черепах, где они хранят яйца черепах. Между
    В январе и апреле этот вольер можно посетить и посмотреть, вылупляются ли какие-нибудь черепахи. в
    Вечером около 18:30 они выпускают черепах из вольера и пускают бегать в океан! Вы можете посетить
    инкубаторий в любое время, когда вы гуляете по главному пляжу, однако черепах в нем может и не быть. Хранить
    проверяйте в течение дня, так как как только они вылупятся, вы поймете, что их вот-вот выпустят! Это общественная зона
    и бесплатно для всех. Они даже разрешили некоторым туристам помочь перевезти черепашек из инкубатория в
    пляж. Наблюдать за черепахами - это особенное дело, и это одно из лучших занятий в Хиккадуве, Шри-Ланка.
    Если вы все же пропустите это занятие в Хиккадуве, не волнуйтесь, потому что вы также можете увидеть маленьких черепах.
    над Шри-Ланкой. На самом деле, это одно из лучших развлечений в Мириссе - близлежащем пляжном городке, который очень популярен!
  </p>
  <br>

  <p class="subTitle">Отправиться на речное сафари</p>
  <p class="description">
    Если вам интересно, чем заняться в Хиккадуве помимо посещения пляжа, здесь есть несколько больших озер и
    реки недалеко от города, чтобы исследовать. Речное сафари - отличный способ исследовать заводи и одно из лучших
    чем заняться в окрестностях Хиккадувы. Река Мадху возле Балапитии - популярное место для прогулок или аренды каноэ.
    и грести вверх по озерной системе Хиккатува. Путешествуя по мангровым зарослям, обратите внимание на дикую природу, особенно
    птицы, обезьяны и, возможно, даже крокодил или два.
  </p>
  <br>

  <p class="subTitle">Серфинг</p>
  <p class="description">
    Водные виды спорта в Хиккадуве - одно из самых популярных занятий, а этот район известен среди любителей серфинга.
    энтузиасты приключений. Чистые волны и стабильная зыбь - вот что привлекает серферов в этот район, чтобы насладиться этим.
    веселые мероприятия на свежем воздухе. Доски для серфинга можно взять напрокат на пляже. Это хорошее место, чтобы научиться серфингу.
    волны часто подходят для новичков. Попросите кого-нибудь из тех, кто занимается арендой досок, научит вас за определенную плату.
    У них также есть напрокат лопастные доски, которые являются интересным способом для детей исследовать воду, когда волны маленькие.
  </p>
  <br>

  <p class="subTitle">Исследуйте храм Шри Пушпарамы</p>
  <p class="description">
    Помимо приключений и природы, если вы хотите осмотреть достопримечательности Хиккадувы, посетите храм Шри Пушпарама.
    или один из других близлежащих храмов. Посещение этого буддийского храма - одно из лучших занятий рядом с Хиккадувой.
    Пляж на Шри-Ланке. Когда вы входите в храм, монах святыни тепло приветствует вас и показывает
    близость храма. Здесь вы узнаете о буддийской философии, прогуливаясь по комплексу.
    Это отличное введение и способ узнать о буддийской религии. Вход бесплатный, однако
    возможность подарить храму и монахам.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of hikkaduwaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

