<app-main-nav>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiKalpitiya.jpg" alt="Kalpitiya">
  </p>
  <br><br>

  <p class="title">Awesome things to do in Kalpitiya</p>
  <br>

  <p class="description">
    The beach is a famous place to watch whales and dolphins and snorkel with beautiful corals. For explore the
    hidden wonders round the beach, prefect way is boat ride. visitors can canoe and also 4WD jeep ride along the
    deserted sand dunes between the ocean and inland. Beach is bestowed with natural beauty however it is unspoiled
    by tourism and surrounded fishing community. Sports activities such as Kitesurfing, Stand Up Paddling, Horse
    Riding, diving, skate boarding and surfing are standard around the islands. this beach is best way to enjoy
    evening sunset. There are a total of 14 islands in the sea and in the lagoon. Kalpitiya is located 130 km
    north of the Bandaranayke International Airport in Katunayake. this journey will take 4 and half hours.
    November to April, you will see clam sea and weather. February to March is best time to whale and dolphin
    watching.
  </p>
  <br>

 <!-- google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1009282.4812258384!2d79.64457564243585!3d8.832045837724332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afd0cc24a7cc5bd%3A0x5ae7ac65637881f0!2sKalpitiya!5e0!3m2!1sen!2slk!4v1623459817224!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Go kitesurfing</p>
  <p class="description">
    This is a bit of a no-brainer, because Kalpitiya is consistently rated as one of the best places in the world
    for kitesurfing! The season runs from May to September, but you can also visit during the “winter” season from
    November/December to February – when we visited in early February there were nearly 100 kitesurfers in the
    shallow lagoon. For those hoping to learn how to kitesurf, there are many schools available. However, unlike
    surfing where it’s possible to do a drop-in, one-off lesson on a whim, kitesurfing can take up to 10 days to
    learn the basics so you will need to set aside some time if you want to take it seriously. Prices tend to be
    fairly similar across the board, here is a pricing table for your reference.
  </p>
  <br>

  <p class="subTitle">Go dolphin and whale watching</p>
  <p class="description">
    Along with Mirissa on the south coast and Trincomalee on the east coast, Kalpitiya is one of the best places in
    Sri Lanka for dolphin and whale-watching. The continental shelf can be reached within a 45-minute to 1 hour
    speedboat ride, after which it’s possible to spot hundreds of spinner dolphins and if you’re lucky, whales,
    around the coast. The season runs from about November to May when the sea is calmer in the mornings, but you
    need to get an early start (ideally, before 8 AM) to beat the other boats and get back to shore before 11 AM as
    the ocean becomes too rough. 6 people fit in a small motorboat, and tours cost approximately 25,000 LKR for
    the group. During our morning dolphin watching tour in Kalpitiya we were surrounded by hundreds of dolphins
    jumping, spinning and frolicking in the ocean.
  </p>
  <br>

  <p class="subTitle">Tour the Dutch Fort</p>
  <p class="description">
    The fort in Kalpitiya dates back to the mid-17th century when it was a strategically important trading base for
    the Dutch East India Company. Unlike Galle Fort which was built by the Portuguese, the fort in Kalpitiya was
    built and primarily only used by the Dutch. When the Dutch left Sri Lanka they left the limestone and coral
    Kalpitiya Fort in ruins in an effort to dissuade the next colony from using it. Today, the fort is used as a
    Naval training base so you cannot roam around the grounds freely. You will need to bring your passport and sign
    in at the main office, after which a dedicated navy officer will accompany you inside. The officers only speak
    Sinhalese at this time so you should read up on the history ahead of time, but the tour itself is free and
    covers the ramparts of the turtle-shaped fort – there is even a skeleton of a beached whale on display within
    the fort. Touring the fort is one of the best things to do in Kalpitiya!
  </p>
  <br>

  <p class="subTitle">Go on a wildlife safari in Wilpattu National Park</p>
  <p class="description">
    Wilpattu National Park is one of the oldest and most important protected areas in Sri Lanka and home to
    leopards, the rare sloth bear, peacocks, spotted dear, wild buffalo and Asian elephants. To get to Wilpattu
    from Kalpitiya you have to drive back down towards Colombo and then swing around – it will take you
    approximately 2 hours to get there, or you can ask your hotel if they can arrange a boat to take you across the
    lagoon which cuts the travel time in half.
  </p>
  <br>

  <p class="subTitle">Kalpitya lagoon bird watching</p>
  <p class="description">
    Sri Lanka is a true paradise for Ornithologists. If you are a serious bird watching lover Kalpitiya lagoon is
    the perfect place for you. This tour will take you on an exciting adventure exploring the Kalpitiya lagoon by
    boat. Learn about the history of Kalpitiya and its wildlife. Ride a boat through the wilderness as you do some
    bird watching and spot some rare waders and water birds. You will be able to see lot of bird species and
    observe their behavior in their natural habitat. The entire lagoon is a marine sanctuary with a number of
    diverse habitats ranging from flat coastal plains and vast sand dune beaches to mangrove swamps and elephant
    inhabited jungles.
  </p>

  <app-footer></app-footer>
</app-main-nav>

