<app-main-nav>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galleFort"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galle-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galle-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiGalle.jpg" alt="Galle Fort">
  </p>
  <br><br>

  <p class="title">Awesome things to do in Galle</p>
  <br>

  <p class="description">
    Galle is a jewel. A Unesco World Heritage Site, this historic city is a delight to explore
    on foot, an endlessly exotic old trading port blessed with imposing Dutch-colonial buildings, ancient mosques
    and churches, grand mansions and museums. Wandering its rambling lanes you'll pass stylish cafes, quirky
    boutiques and impeccably restored hotels owned by local and foreign artists, writers, photographers and
    designers. Built by the Dutch, beginning in 1663, Galle's core is the Fort, a walled enclave surrounded on
    three sides by the ocean. A key part of the Fort’s appeal is that it isn’t just a pretty place. Sure, tourism
    now dominates the local economy, but this unique city remains a working community: there are administrative
    offices and courts, export companies, schools and colleges. Most travelers are utterly seduced by Galle's
    ambience, and it's undoubtedly southern Sri Lanka's one unmissable sight.
  </p>
  <br>

<!--  google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014494.1539434078!2d80.32931951873178!3d6.663302135758652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae173a6a024d64d%3A0x569ac10c90e0fa7c!2sFort%2C%20Galle%2080000!5e0!3m2!1sen!2slk!4v1623459024055!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Walk around the old fort walls</p>
  <p class="description">
    Galle Fort, built by the Portuguese in 1588 and later fortified by the Dutch in the 17th Century, is one of
    the main reasons Galle received its UNESCO world heritage status and is a top site for visitors to Galle. The
    towering fort walls surround the entire old town, protecting it from outside interests but also helping to
    preserve the old Dutch and Portuguese architecture which are what makes the town so interesting. You can’t
    visit Galle without taking a walk on or under the old fort walls – mainly due to tot he fact that the only way
    to reach the old city is to walk or drive under or over these towering constructions. While much of Southern
    Sri Lanka was totally destroyed during the 2004 Tsunami, killing up to 40,000 people in Sri Lanka, it was
    these fort walls that protected Galle and the old city, saving it from devastation.
  </p>
  <br>

  <p class="subTitle">Find the famous Dalawella Beach swing</p>
  <p class="description">
    Just 1 short 10-minute tuk-tuk ride from Galle lies some of the most beautiful stretched of coastline in Sri
    Lanka. While not as wild as the east coast, it’s here that you’ll find cute beach bars, palm tree lined beaches,
    perfect sets of waves and dreamy beach swings for that perfect Insta-shot!
  </p>
  <br>

  <p class="subTitle">Watch a game of cricket</p>
  <p class="description">
    From any of the three main fort entrances, you have a bird’s eye view looking down at the impressive Galle
    Cricket Stadium. If there happens to be a game on while you’re in town, we highly encourage you to check it out.
    Even if there’s just some local kids or a team having a practice session, maybe they’ll let you join in for a
    round or two. The stadium is fringed on both sides by the Indian Ocean and by Galle Fort on the third side,
    making it one of the most picturesque stadiums in the world! Built in 1876, the grounds were used as a race
    track before being converted into a cricket stadium in the early 1900’s.
  </p>
  <br>

  <p class="subTitle">Boutique shopping heaven</p>
  <p class="description">
    Galle is, surprisingly, shopping heaven. Unlike most other towns and cities in Sri Lanka where you seem to find
    the same selection of clothes and souvenirs, again and again, Galle is home to some higher end boutiques with
    beautiful silk scarves, chic shoe collections, and more pretty dresses than will ever fit in my small wardrobe!
    There are lots of beautiful souvenir shops too, with handcrafted bags, household items and carved beach treasures
    – a heaven if you’re looking for small pieces to decorate a house by the sea. We especially loved the following
    stores within the city walls: Barefoot (there’s also one in Colombo which I wrote about here), Spa Ceylon
    (I loved their Sleep Intense Dream mist which I now spray on my pillow every night), KK Collection (for
    decorating your house with beaches items) and Mimimango – beautiful but expensive dresses. We all can dream!
  </p>
  <br>

  <p class="subTitle">Take a surf lesson in Unawatuna</p>
  <p class="description">
    Just a short bike ride or tuktuk from the old town lies one of Sri Lanka’s most loved backpacker hot spots.
    Home to funky beach bars, pizza huts in the sand, an endless loop of Reggae Music, a sprinkling of backpacker
    hostels and more surf schools than you can shake a stick at – welcome to Unawatuna. A fun place to come for a
    morning or afternoon surf lesson, followed by lunch on the beach and maybe a few sneaky Lion beers. A world
    apart from Galle, but super fun none-the-less.
  </p>
  <br>

  <p class="subTitle">Watch the brave cliff divers at Flag Rock</p>
  <p class="description">
    Besides a rooftop bar with a cold cocktail or two, Flag Rock is the best place to watch the sunset in Galle Old
    Town. It also affords amazing views looking back at the old town and the lighthouse, as you watch the sun set
    into the ocean. This is also where many talented locals come to show off their diving talents, although it’s
    dependent on both the tide and weather conditions. We are not sure how dangerous it is, but when the tide is
    out the water level is extremely low so We would not recommend swimming here unless you’re with locals and
    really know what you’re doing!
  </p>
  <br>

  <p class="subTitle">Ice-cream at the Isle of Gelato</p>
  <p class="description">
    The weather is always hot and humid in Galle. While bearable, there’s no denying that any excuse to escape the
    unrelenting heat is a welcome one. Which is why when we heard about this amazing Gelato place in Galle, we made
    a beeline to find it within minutes of sliding out of my tuk-tuk, covered in sweat! It felt like a cafe that
    had been taken right out of the digital nomad and Instaworthy paradise that is Canggu in Bali, with a fun sign,
    brightly coloured seats and walls and even an indoor swing! Along with your usual gelato flavours, there were a
    few interesting new ones we had never heard of (zesty orange with cardamon was my personal favorite), and which
    we highly recommend you trying out.
  </p>
  <br>

  <!-- weather-->
  <div class="outer-wrap">
    <div id="divWeatherMain">
      <br>
      <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>
      </div>
      <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>
      </div>
      <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
      </div>

      <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px; margin-bottom: 5px">{{WeatherData.temp_celcius}}°</div>
      <!--<div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min_cel}}° / {{WeatherData.temp_max_cel}}°</div>-->
      <div class="weatherWidgetRow" style="font-size: 12px; margin-bottom: 5px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
      <div class="weatherWidgetRow" style="font-size: 25px; margin-bottom: 5px;">{{WeatherData.name}}</div>
      <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
      <div class="weatherWidgetRow" style="font-size: 12px;">Wind Speed: {{WeatherData.wind.speed}}&nbsp; m/s</div>
    </div>
  </div>

  <br>

  <!--comment box-->
  <div class="main-wrap">

    <div  *ngFor="let tempReview of galleFortReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>

  <app-footer></app-footer>
</app-main-nav>

