<app-main-nav>
  <img src="assets/images/FamilyinAirportHero.jpg" style="height: 120vh" width="100%">
  <br><br>

  <!--shuttle-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/shuttle.jpg" style="width: 400px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br><br>
          <p class="carModel">
            Honda fit shuttle gp 5
          </p>
          <br><br>
            <ul class="packageDetails">
              <li style="padding-bottom: 5px">3 passenger seats</li>
              <li style="padding-bottom: 5px">Fully A/C</li>
              <li style="padding-bottom: 5px">Adjustable seats</li>
              <li style="padding-bottom: 5px">10L boot capacity</li>
            </ul>

          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">Book Now</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <!--kdh-->
  <div class="container">
    <br>
    <div class="wrap">
      <div class="row" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="text-align:center">
            <img src="assets/images/kdh.jpg" style="width: 400px; height: 400px; padding-top: 5px">
          </p>
        </div>
        <div class="col-12 col-md-6" >
          <br><br>
          <p class="carModel">
            KDH Super GL
          </p>
          <br><br>
          <ul class="packageDetails">
            <li style="padding-bottom: 5px">6 passenger seats</li>
            <li style="padding-bottom: 5px">Fully A/C</li>
            <li style="padding-bottom: 5px">Adjustable seats</li>
            <li style="padding-bottom: 5px">20L boot capacity</li>
          </ul>
          <br><br>
          <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">Book Now</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <app-footer></app-footer>
</app-main-nav>
