<app-main-nav-rus>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!-- image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiNuwaraEliya.jpg" alt="Nuwara Eliya">
  </p>
  <br><br>

  <p class="title">Удивительные развлечения в Нувара-Элии</p>
  <br>

  <p class="description">
    Это благородное горное сообщество, которое часто называют "Маленькой Англией", действительно имеет розовый, неопределенно
    В нем чувствуется атмосфера британской деревенской деревни с бунгало колониальной эпохи, отелями в тюдоровском стиле, ухоженными изгородями.
    и красивые сады. Действительно, Нувара-Элия когда-то была излюбленным местом для бегства в прохладном климате трудолюбивых и трудолюбивых людей.
    пьяные английские и шотландские пионеры чайной индустрии Шри-Ланки. Недавний строительный бум
    в какой-то степени испортила сцену, и пыльный и шумный центр представляет собой чисто шри-ланкийский городской клубок, но
    Нувара-Элия по-прежнему является прекрасной базой для отдыха на несколько дней. Зеленые окрестности чая
    плантации, тщательно ухоженные огороды и скалистые холмы очень живописны. Подарите себе ночь в
    в одном из колониальных отелей Нувара-Элии, сыграйте партию в гольф или партию бильярда и насладитесь отдыхом в городе
    уникальное былое наследие.
  </p>
  <br>

  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1013885.4735489736!2d80.22064351898126!3d6.951364914271739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae380434e1554c7%3A0x291608404c937d9c!2sNuwara%20Eliya!5e0!3m2!1sen!2slk!4v1623460426532!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Нанять лебедя на озере Грегори</p>
  <p class="description">
    Прямо в самом сердце Нувара-Элии находится озеро Грегори. Это большой открытый водоем, который легко
    видно из точек по всей Нувара-Элии. Многие люди, посещающие этот район, затем решат покататься на водных лыжах.
    на озере Грегори. Или, если вы хотите чего-то более расслабленного и романтического, тогда наймите лебедя на времяпрепровождение.
    час. Вы также можете припарковаться и прогуляться по целым участкам озера, что мы должны делать, пока
    там. Или, если вы просто хотите посмотреть на него из своей комнаты, подумайте о том, чтобы остановиться в одном из этих отелей в
    Нувара-Элия возле озера Грегори.
  </p>
  <br>

  <p class="subTitle">Прогулка по парку Виктория</p>
  <p class="description">
    Сердце Нувара-Элии может показаться немного занятым, и, безусловно, из-за него доносится приличный шум.
    весь трафик. Что ж, Victoria Park - это своего рода рай вдали от окружающего шума и суеты. В
    Плата за вход в парк Виктория составляет всего 300 рупий, и вы можете потратить столько времени, сколько захотите, гуляя по садам.
    или расслабиться на скамейке в парке. У вас также есть музей Парка Виктории. Он маленький, но витрины
    много старых фотографий Нувара-Элии за последние 100 лет или около того. Они показывают вам, какой была жизнь в этом районе, назад
    когда он находился под британским влиянием. Интересно видеть, как развивалась эта местность и что было за строительство.
    как когда строили железные дороги.
  </p>
  <br>

  <p class="subTitle">Daydream у водопада Lover’s Leap</p>
  <p class="description">
    Водопад Lover’s Leap в Нувара-Элии - это определенно то, что вы не можете позволить себе пропустить. Это очень короткая поездка
    от центра города и является одним из самых красивых водопадов во всей стране. Он также имеет довольно
    увлекательная история, по крайней мере, если верить местному фольклору. Как гласит история, однажды в город попал местный принц.
    любил девушку, но двоим было запрещено быть вместе. Вся сага заканчивается тем, что они прыгают на свои
    смерть от водопада рука об руку. Насколько это правда, и были ли случаи с тех пор, пока
    мне непонятно. Но в любом случае это хорошее место для посещения.
  </p>
  <br>

  <p class="subTitle">Пообедайте у водопада Сент-Клер.</p>
  <p class="description">
    Я рекомендую насладиться красотой водопада Сен-Клер из вилл Waterfall от Yoho. На этом курорте есть
    замечательный ресторан, расположенный в отличном месте на склоне горы. У них есть большие стеклянные окна, через которые
    по пути, позволяя вам сесть и перекусить, любуясь видом. Еда также невероятно дешевая! Привод
    к обоим этим водопадам проведет вас по извилистым горным дорогам и откроет невероятные виды на
    местные чайные плантации. Так что только по этой причине стоит посетить Девон-Фолс и Сент-Клерс-Фолс.
  </p>
  <br>

  <p class="subTitle">Сыграйте в гольф</p>
  <p class="description">
    Если вы, как и я, большой поклонник гольфа, почему бы не сыграть в гольф, пока есть такая возможность? В
    Гольф-клуб Нувара-Элии с оригинальным названием расположен в самом центре Нувара-Элии и на удивление
    дешево за раунд. Вы можете играть и сдавать в аренду все необходимое примерно за 8400 рупий. Что даже
    включает в себя кэдди, чтобы ходить с вами. Однако это действительно было бы особенное место для игры. Даты курсов
    восходит к 1889 году и является одним из старейших полей для гольфа в Азии. Это также один из самых
    несколько полей для гольфа, которые вы найдете во время путешествий по Шри-Ланке.
  </p>
  <br>

  <p class="subTitle"> Посетите ботанический сад Хакгала.</p>
  <p class="description">
    Всего в 1 км от храма Сита Амман находится ботанический сад Хакгала. Это второй по величине
    ботанический сад в любой точке Шри-Ланки и является одним из четырех других. Из-за сравнительно небольшого годового
    температура этого региона страны, те, кто управляет садом, смогли вырастить невероятно
    редкие виды растений. Многие из них вам будет сложно найти где-нибудь еще в стране. Это, безусловно, один из
    самые популярные вещи, которые стоит увидеть в Нувара-Элии, поскольку парк привлекает до 100 000 гостей в год.
  </p>
  <br><br>

  <p class="subTitle"> Расслабьтесь на чайной фабрике</p>
  <p class="description">
    Трудно порекомендовать какую-либо конкретную чайную фабрику, так как мне потребовались бы недели, чтобы изучить их все! В
    Фактически, весь путь от Канди до Эллы усеян впечатляющими чайными плантациями. Большинство из которых имеют
    сопутствующий завод и чайные комнаты для посетителей. Я бы посоветовал просто отправиться на день, исследуя
    другие замечательные вещи, которые стоит увидеть и чем заняться в Нувара-Элии и его окрестностях. В какой-то момент вы почувствуете себя немного уставшим и
    Решите, что пора отдохнуть. Это именно то, что мы сделали, и не были разочарованы ни в одном из мест, где мы
    решил остановиться на. Если вам интересно, что делать в Нувара-Элии во время дождя, советую вам отправиться
    на чайную фабрику и насыть вкусными пирожными и чаем!
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of nuwaraEliyaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

