<footer class="footer-area">
  <div class="main">
    <div class="footer">
      <div class="single-footer">
        <h4 style="font-family: 'Mate SC', serif;">Mysltravels</h4>
        <img src="assets/images/logo.png" alt="" style="height: 50px ;padding-bottom:10px" routerLink="">
        <p>Explore, Plan and visit Sri Lanka with travel guides from MySLTravels</p>
        <div class="footer-social">
          <a href="https://www.facebook.com/mysl.travels/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/mysltravels"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/mysltravels/"><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="single-footer">
        <h4 style="font-family: 'Mate SC', serif;">Main Menu</h4>
        <ul>
          <li><a href=""><i class="fas fa-chevron-right"></i> Home</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Destinations</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Tour Packages</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Airport Pickup</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> About Us</a></li>
        </ul>
      </div>
      <div class="single-footer">
        <h4 style="font-family: 'Mate SC', serif;">Quick Links</h4>
        <ul>
          <li><a href=""><i class="fas fa-chevron-right"></i> Sigiriya</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Bentota</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Mirissa</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Galle</a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i> Kalpitiya</a></li>
        </ul>
      </div>
      <div class="single-footer">
        <h4 style="font-family: 'Mate SC', serif;">Contact Us</h4>
        <ul>
          <li><a href=""><i class="fas fa-map-marker-alt"></i> No:56, Galle Road, Aluthgama, <br>Sri Lanka</a></li>
          <li><a href=""><i class="fas fa-mobile-alt"></i> +94 2289654</a></li>
          <li><a href=""><i class="far fa-envelope"></i> mysltravels@gmail.com</a></li>
          <li><a href=""><i class="fas fa-globe-europe"></i> www.mysltravels.com</a></li>
        </ul>
      </div>
    </div>
    <div class="copy">
      <p>&copy; 2021 All Rights Reserved</p>
    </div>
  </div>
</footer>
