<app-main-nav-rus>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/ella"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/ella-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/ella-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiElla.jpg" alt="ella">
  </p>
  <br><br>

  <p class="title">Удивительные развлечения в Элле</p>
  <br>

  <p class="description">
    Элла - небольшой горный городок в районе Бадулла провинции Ува, Шри-Ланка, на высоте около 1000 метров над уровнем моря.
    уровень. Эта область богата биоразнообразием с многочисленными разновидностями флоры и фауны. Элла окружена холмами
    покрыты лесами и чайными плантациями. В городе более прохладный климат, чем в окрестных лугах. Город элла
    находится примерно в 200 км к востоку от Коломбо. Он расположен на железнодорожной линии Коломбо-Бадулла и автомагистрали A16.
    шоссе - часть дороги Коломбо-Бадулла. Поездка на поезде из Канди в Эллу - одна из самых красивых в
    world, и это определенно лучший способ туда попасть. Железнодорожная станция Элла - 75-я станция на главной линии.
    Хотя это не большое место, в Элле есть чем заняться: от пешеходных троп до водопадов или отдыха на берегу озера.
    кафе.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1012277.0181391739!2d80.45408530087902!3d7.660869086948472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae465955bc09a25%3A0xbdfadcdadec487fb!2sElla!5e0!3m2!1sen!2slk!4v1623166866480!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Поездка на поезде Канди в Эллу.</p>
  <p class="description">
    Жарче, чем в лондонском метро в летний день, занимает восемь часов, но стоит всего 5 фунтов стерлингов.
    Звучит немного как ад, но поверьте нам, поездка на поезде из Канди в Эллу - лучшее, что вы можете сделать в Шри
    Ланка (прочтите наш полный путеводитель по поезду Канди - Элла здесь - он также включает в себя, как забронировать и наш инсайдерский
    советы путешественникам). Извиваясь сквозь туманные леса, зеленые чайные плантации; над фонтанирующими водопадами и ручьями, и
    мимо колоритных городов и возбужденных местных жителей, это, на наш взгляд, самая живописная поездка на поезде в мире.
    Но не только пейзаж делает поездку на поезде такой невероятной. Это еще и атмосфера. Каждый человек, которого ты
    встреча, кажется, встречает вас искренней улыбкой; группы местных мальчиков поют, танцуют и играют на барабанах; продавцы
    мчаться по поезду, накачивая сладкий чай и закуски, в то время как туристы высовывают головы из окон, чтобы посмотреть
    в изумлении от чистой красоты. Буквально все наивные и счастливые, что в наши дни тяжело.
    найти. Самая живописная часть путешествия - от Нану Оя до Эллы через густой лес Хортона.
    Национальный парк Равнин, поэтому мы рекомендуем занять место у окна или встать между дверными проемами и насладиться
    взгляды, когда они проходят мимо. Когда мы впервые посетили Шри-Ланку в 2016 году, поездка на поезде из Канди в Эллу еще не закончилась.
    действительно популярен, однако из-за его популярности в настоящее время вам необходимо бронировать поездку заранее
    (обычно за 1-2 дня). В поезде также может быть довольно много людей, особенно в пик сезона, так что имейте в виду.
    возможно, придется продвигаться вперед. Третий класс может быть самым дешевым вариантом, и, на наш взгляд, он также лучший, поскольку
    позволяет сидеть / болтаться в дверных проемах. Вы также обнаружите, что здесь полно дружелюбных местных жителей, готовых помочь.
    вам нравится ваш опыт.
  </p>
  <br>

  <p class="subTitle">Полюбуйтесь знаменитым девятиарочным мостом Эллы.</p>
  <p class="description">
    Удивительно думать, что мост мог толпами отвезти туристов к Элле, но
    Девятиарочный мост, расположенный недалеко от города, сделал именно это. Девятиарочный мост окружен зелеными лесами.
    и чайные плантации, гордо возвышающиеся над долиной внизу. В туманные дни в долине нависают низкие облака,
    придавая всему району мрачный, мистический вид. Завершенный в 1921 году Девятиарочный мост полностью построен из
    кирпич, камень и цемент, без использования металла в его строительстве - инженерный подвиг того времени.
    Мост простирается на 91 метр на высоте 24 фута и находится на знаменитом поезде Канди - Бандаравела (через Эллу).
    линия, при этом поезда ходят примерно пять раз в день, в зависимости от постоянно меняющегося расписания поездов Шри-Ланки.
    Хотя общеизвестно, что расписание поездов в Шри-Ланке ненадежное, поезда, как правило, проезжают мимо Девятиарочного моста.
    в следующее время: 9:30, 11:30, 15:30, 16:30 и 17:30 (прочтите наше подробное руководство здесь!). Здесь очень много
    Места, с которых открывается вид на мост, наиболее популярными из которых являются сам мост, а ниже - с
    чайная плантация (это частная территория, пожалуйста, спросите разрешения перед входом). Но для нас самые лучшие виды
    сверху, либо из леса, окружающего мост, либо с одной из площадок кафе в
    окружающие холмы. Наблюдать, как поезд медленно движется по мосту, - прекрасное зрелище. Просто иди туда
    рано, так как Мост и окружающие смотровые площадки ОЧЕНЬ быстро заполняются!
  </p>
  <br>

  <p class="subTitle">Поднимитесь на знаменитую скалу Элла.</p>
  <p class="description">
    Для тех, кто ищет захватывающие виды повсюду, вершина скалы Элла с ее
    виды на Эллу, Малый Пик Адама и Эллу Гэп - это отличное место, которое нельзя упустить. Запуск
    на знаменитом железнодорожном вокзале Эллы вы проследуете по железнодорожной линии Элла - Канди мимо множества красивых водопадов.
    мосты, чайные плантации и дома, прежде чем начать восхождение к вершине Элла Рок - надеюсь, с
    King Coconut в руке для дополнительной энергии. Нам это определенно было нужно; восхождение на вершину под палящим солнцем
    тяжело! Оказавшись на вершине, мы как минимум час наслаждались невероятными видами, перекусывая
    вегетарианские роти и немного заслуженной воды. Маршрут к вершине может быть немного сложнее, но если
    вы следуете четко обозначенным дорожкам и игнорируете (иногда намеренно вводящих в заблуждение) зазывал, у вас не должно быть
    слишком много проблем (этот подробный пост поможет вам в этом). В общем, поход занимает около 2 часов туда и обратно,
    но не забудьте взять с собой достаточно воды и закусок, чтобы продвинуть свое путешествие.
  </p>
  <br>

  <p class="subTitle">Полюбуйтесь видами на ущелье Эллы с маленького пика Адама.</p>
  <p class="description">
    Если напряженная прогулка на солнце вам не нравится, но вы все равно хотите заставить ноги двигаться и исследовать
    В сельской местности Шри-Ланки стоит посетить более легкий поход на Малый пик Адама. Именованный
    после его похожей формы, но намного более высокого старшего брата, Пика Адама, поход на Малый Пик Адама занимает около
    двухчасовая поездка туда и обратно из города Элла, начало пути на пышных чайных плантациях, а затем медленное путешествие к
    первый набор точек зрения. Отсюда у вас будет 360-градусный вид на гигантскую скалу Элла и ущелье Элла.
    в сторону национального парка Удавалаве, идеально подходящего для фотографий. Обязательно советуем продолжить поход дальше вниз.
    хребта, так как виды становятся более захватывающими и менее оживленными. Обратный путь следует по другой стороне
    горы, с которой открывается вид на невероятный курорт площадью 98 акров, прежде чем медленно вернуться в Эллу. Остановитесь на
    маленькая деревянная хижина для сока на обратном пути, чтобы расслабиться и взять освежающий королевский кокос. Мы рекомендуем
    походы ближе к вечеру и наблюдение за разворачивающимся великолепным закатом; и определенно советую не ходить в походы во время
    в середине дня, так как мало тени, чтобы спрятаться от яркого солнца - один из самых худших ожогов в путешествии
    произошло прямо здесь!
  </p>
  <br>

  <p class="subTitle">Станьте свидетелем красоты водопада Диялума</p>
  <p class="description">
    Забудьте то, что вам говорят поп-песни, второй по высоте водопад Шри-Ланки, Диялума Фолс настолько впечатляет, что
    здесь обязательно нужно погоняться за водопадами. Диялума, каскадно спускающийся с гор Шри-Ланки, май
    быть немного в стороне от проторенных дорог, но эпические виды и природные пейзажные бассейны сделают 1,5-2-часовое путешествие
    более чем стоит затраченных усилий. Чтобы добраться до Диялумы, мы прыгнули на тук-туке из Эллы в Пунагала, через
    типично чайные плантации Шри-Ланки. Прибыв в небольшую деревню Поонагала, мы отправились в путь.
    спуск по длинной сухой траве около 30 минут, прежде чем мы впервые увидим верх
    Диялума падает. Пройдя немного дальше, мы оказались на высоте 220 метров над рекой, ведущей в долину.
    этажом ниже. Это было удивительно. На этом этапе мы должны предупредить вас, что барьеров безопасности не существует, поэтому, если вы
    адреналиновый наркоман (как Марк) и любит стоять на грани чего угодно, пожалуйста, будьте осторожны. В течение
    в летние месяцы, когда уровень воды падает, вы можете освежиться в различных водопадах.
    природные бассейны, в том числе прямо на краю главного водопада. В качестве альтернативы есть более крупные и безопасные бассейны.
    у верхнего водопада Диялума, но опять же, примите меры предосторожности перед погружением. Есть два способа добраться до вершины
    водопада Диялума - либо пеший переход со дна, что довольно утомительно и сложно следовать, либо из
    Деревня Поонагала, которая намного короче, но менее популярна.
  </p>
  <br>

 <!-- &lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of ellaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

