<app-main-nav>

  <div class="main-wrap">

    <p class="headerText">Customer Details</p>

    <div class="mb-3">
      <label for="fName" class="form-label" >First Name</label>
      <input  type="text" class="form-control" id="fName">

      <label for="lName" class="form-label" >First Name</label>
      <input  type="text" class="form-control" id="lName">
    </div>

    <p class="btnLogIn">
      <button class="btn btn-sm btn-primary" >Confirm Booking</button>
    </p>



  </div>

  <app-footer></app-footer>
</app-main-nav>
