<app-main-nav>
  <img src="assets/images/destionationPageMain.jpg" style="height: 120vh" width="100%">
  <br><br>
  <p class="title">Ella</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiElla.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Ella is a small mountain town in the badulla district of uva province, Sri Lanka, about 1000 meters above sea level. This area rich in bio-diversity with numerous varieties of flora and fauna. Ella is surrounded by hills covered with forests and tea plantations. The town has a cooler climate than surrounding lawlands. Town of ella is approximately 200 kilometres east of Colombo. It located on the Colombo-Badulla railway line, and the A16 highwaya a part of the Colombo-Badulla road. Train ride from Kandy to Ella is one of the most beautiful in the world and it’s definitely the best way to get there. Ella railway station is the 75th station on the main line. Though it is not a big place, there is plenty to do in Ella, from hiking trails to waterfalls or lounging at the cafes.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/ella">Read more...</button>
  </p>
  <br><br>
  <p class="title">Galle Fort</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiGalle.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore dolorum ipsa numquam perspiciatis temporibus. Expedita illum, odio. Consectetur corporis, dicta dolores eaque ipsa repudiandae! Assumenda delectus dicta enim et impedit ipsam iure molestias nemo obcaecati possimus quos repudiandae suscipit, voluptas! A, aperiam cum eligendi incidunt magnam, minima minus nesciunt, non rerum sunt vel voluptas? Adipisci aliquam amet aperiam assumenda beatae commodi consectetur consequuntur culpa debitis distinctio doloribus error eveniet illum incidunt ipsa ipsam itaque nam nostrum odio omnis possimus provident quasi qui rem reprehenderit, saepe sed ullam vitae voluptate voluptatem. Aliquid debitis delectus, incidunt omnis perspiciatis quis saepe tempore.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/galleFort">Read more...</button>
  </p>
  <br><br>
  <p class="title">Hikkaduwa</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHikka.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore dolorum ipsa numquam perspiciatis temporibus. Expedita illum, odio. Consectetur corporis, dicta dolores eaque ipsa repudiandae! Assumenda delectus dicta enim et impedit ipsam iure molestias nemo obcaecati possimus quos repudiandae suscipit, voluptas! A, aperiam cum eligendi incidunt magnam, minima minus nesciunt, non rerum sunt vel voluptas? Adipisci aliquam amet aperiam assumenda beatae commodi consectetur consequuntur culpa debitis distinctio doloribus error eveniet illum incidunt ipsa ipsam itaque nam nostrum odio omnis possimus provident quasi qui rem reprehenderit, saepe sed ullam vitae voluptate voluptatem. Aliquid debitis delectus, incidunt omnis perspiciatis quis saepe tempore.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/hikkaduwa">Read more...</button>
  </p>
  <br><br>
  <p class="title">Horton Plains</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHortonPlains.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore dolorum ipsa numquam perspiciatis temporibus. Expedita illum, odio. Consectetur corporis, dicta dolores eaque ipsa repudiandae! Assumenda delectus dicta enim et impedit ipsam iure molestias nemo obcaecati possimus quos repudiandae suscipit, voluptas! A, aperiam cum eligendi incidunt magnam, minima minus nesciunt, non rerum sunt vel voluptas? Adipisci aliquam amet aperiam assumenda beatae commodi consectetur consequuntur culpa debitis distinctio doloribus error eveniet illum incidunt ipsa ipsam itaque nam nostrum odio omnis possimus provident quasi qui rem reprehenderit, saepe sed ullam vitae voluptate voluptatem. Aliquid debitis delectus, incidunt omnis perspiciatis quis saepe tempore.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/hortonPlains">Read more...</button>
  </p>
  <br><br>
  <p class="title">Kalpitiya</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiKalpitiya.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore dolorum ipsa numquam perspiciatis temporibus. Expedita illum, odio. Consectetur corporis, dicta dolores eaque ipsa repudiandae! Assumenda delectus dicta enim et impedit ipsam iure molestias nemo obcaecati possimus quos repudiandae suscipit, voluptas! A, aperiam cum eligendi incidunt magnam, minima minus nesciunt, non rerum sunt vel voluptas? Adipisci aliquam amet aperiam assumenda beatae commodi consectetur consequuntur culpa debitis distinctio doloribus error eveniet illum incidunt ipsa ipsam itaque nam nostrum odio omnis possimus provident quasi qui rem reprehenderit, saepe sed ullam vitae voluptate voluptatem. Aliquid debitis delectus, incidunt omnis perspiciatis quis saepe tempore.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/kalpitiya">Read more...</button>
  </p>
  <br><br>
  <p class="title">Mirissa</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiMirissa.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore dolorum ipsa numquam perspiciatis temporibus. Expedita illum, odio. Consectetur corporis, dicta dolores eaque ipsa repudiandae! Assumenda delectus dicta enim et impedit ipsam iure molestias nemo obcaecati possimus quos repudiandae suscipit, voluptas! A, aperiam cum eligendi incidunt magnam, minima minus nesciunt, non rerum sunt vel voluptas? Adipisci aliquam amet aperiam assumenda beatae commodi consectetur consequuntur culpa debitis distinctio doloribus error eveniet illum incidunt ipsa ipsam itaque nam nostrum odio omnis possimus provident quasi qui rem reprehenderit, saepe sed ullam vitae voluptate voluptatem. Aliquid debitis delectus, incidunt omnis perspiciatis quis saepe tempore.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/mirissa">Read more...</button>
  </p>
  <br><br>
  <p class="title">Nuwara Eliya</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiNuwaraEliya.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore dolorum ipsa numquam perspiciatis temporibus. Expedita illum, odio. Consectetur corporis, dicta dolores eaque ipsa repudiandae! Assumenda delectus dicta enim et impedit ipsam iure molestias nemo obcaecati possimus quos repudiandae suscipit, voluptas! A, aperiam cum eligendi incidunt magnam, minima minus nesciunt, non rerum sunt vel voluptas? Adipisci aliquam amet aperiam assumenda beatae commodi consectetur consequuntur culpa debitis distinctio doloribus error eveniet illum incidunt ipsa ipsam itaque nam nostrum odio omnis possimus provident quasi qui rem reprehenderit, saepe sed ullam vitae voluptate voluptatem. Aliquid debitis delectus, incidunt omnis perspiciatis quis saepe tempore.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">Read more...</button>
  </p>
  <br><br>
  <p class="title">Bentota</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiBentota.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolore dolorum ipsa numquam perspiciatis temporibus. Expedita illum, odio. Consectetur corporis, dicta dolores eaque ipsa repudiandae! Assumenda delectus dicta enim et impedit ipsam iure molestias nemo obcaecati possimus quos repudiandae suscipit, voluptas! A, aperiam cum eligendi incidunt magnam, minima minus nesciunt, non rerum sunt vel voluptas? Adipisci aliquam amet aperiam assumenda beatae commodi consectetur consequuntur culpa debitis distinctio doloribus error eveniet illum incidunt ipsa ipsam itaque nam nostrum odio omnis possimus provident quasi qui rem reprehenderit, saepe sed ullam vitae voluptate voluptatem. Aliquid debitis delectus, incidunt omnis perspiciatis quis saepe tempore.</p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/bentota">Read more...</button>
  </p>
  <br><br>
  <app-footer></app-footer>
</app-main-nav>
