<app-main-nav>
  <img src="assets/images/destionationPageMain.jpg" style="height: 120vh" width="100%">
  <br><br>



  <!--Destination-Ella-->
  <p class="title">Ella</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiElla.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    Ella is a small mountain town in the badulla district of uva province, Sri Lanka, about
    1000 meters above sea level. This area rich in bio-diversity with numerous varieties of flora and fauna. Ella
    is surrounded by hills covered with forests and tea plantations. The town has a cooler climate than surrounding
    lawlands. Town of ella is approximately 200 kilometres east of Colombo. It located on the Colombo-Badulla
    railway line, and the A16 highwaya a part of the Colombo-Badulla road. Train ride from Kandy to Ella is one of
    the most beautiful in the world and it’s definitely the best way to get there. Ella railway station is the 75th
    station on the main line. Though it is not a big place, there is plenty to do in Ella, from hiking trails to
    waterfalls or lounging at the cafes.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/ella">Check what you can do there</button>
  </p>
  <br><br>
  <hr>
  <br>



  <!--Destination-Galle-->
  <p class="title">Galle</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiGalle.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    Galle is a jewel. A Unesco World Heritage Site, this historic city is a delight to explore
    on foot, an endlessly exotic old trading port blessed with imposing Dutch-colonial buildings, ancient mosques
    and churches, grand mansions and museums. Wandering its rambling lanes you'll pass stylish cafes, quirky
    boutiques and impeccably restored hotels owned by local and foreign artists, writers, photographers and
    designers. Built by the Dutch, beginning in 1663, Galle's core is the Fort, a walled enclave surrounded on
    three sides by the ocean. A key part of the Fort’s appeal is that it isn’t just a pretty place. Sure, tourism
    now dominates the local economy, but this unique city remains a working community: there are administrative
    offices and courts, export companies, schools and colleges. Most travelers are utterly seduced by Galle's
    ambience, and it's undoubtedly southern Sri Lanka's one unmissable sight.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/galleFort">Check what you can do there</button>
  </p>
  <br><br>
  <hr>
  <br>



  <!--Destination-Hikkaduwa-->
  <p class="title">Hikkaduwa</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHikka.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    Hikkaduwa has been a firm fixture on the Sri Lankan tourist map since the 1970s, and this long exposure to
    tourism has left it a little worse for wear. A kilometre-long strip of guesthouses, shops and restaurants
    lines the beach, which is quite badly eroded in its northern stretch. The busy Colombo–Galle Rd, with its
    crazy high-speed bus drivers, runs right through the middle of Hikkaduwa, which can make stepping outside of
    your guesthouse as deadly as a game of Russian roulette! But it's not all bad. There are plenty of charming
    places to stay, a string of mellow beach bars and restaurants, good diving and surf schools and plenty of
    interesting excursions accessible by three-wheeler or rental scooter. For years there has been talk about a
    possible bypass road around Hikkaduwa, which if it were to materialise would do wonders for this paradise lost.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/hikkaduwa">Check what you can do there</button>
  </p>
  <br><br>
  <hr>
  <br>



  <!--Destination-Hikkaduwa-->
  <p class="title">Horton Plains</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHortonPlains.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    Horton Plains in Sri Lanka, is the coldest and windiest location in the country. It
    consists of ecosystems such as Montane evergreen forests, grasslands, marshy lands and aquatic ecosystem. At
    an altitude of 2,100 meters above sea level, Horton Plains spreads across over 3,169 hectares of the highest
    tableland of the island. In view of the large number of endemic flora and fauna species, Horton Plains was
    declared a UNESCO World Heritage Site on 30th July 2010. Horton Plains, its surroundings, forests and the
    adjoining Peak Wilderness constitute Sri Lanka’s most important catchment area of almost all major rivers.
    The plains are also of outstanding scenic beauty and conservation importance, containing most of the habitats
    and endemic plants and animals representative of the country’s wet and Montane zones.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/hortonPlains">Check what you can do there</button>
  </p>
  <br><br>
  <hr>
  <br>


  <!--Destination-Kalpitiya-->
  <p class="title">Kalpitiya</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiKalpitiya.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    The beach is a famous place to watch whales and dolphins and snorkel with beautiful corals. For explore the
    hidden wonders round the beach, prefect way is boat ride. visitors can canoe and also 4WD jeep ride along the
    deserted sand dunes between the ocean and inland. Beach is bestowed with natural beauty however it is unspoiled
    by tourism and surrounded fishing community. Sports activities such as Kitesurfing, Stand Up Paddling, Horse
    Riding, diving, skate boarding and surfing are standard around the islands. this beach is best way to enjoy
    evening sunset. There are a total of 14 islands in the sea and in the lagoon. Kalpitiya is located 130 km
    north of the Bandaranayke International Airport in Katunayake. this journey will take 4 and half hours.
    November to April, you will see clam sea and weather. February to March is best time to whale and dolphin
    watching.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/kalpitiya">Check what you can do there</button>
  </p>
  <br><br>
  <hr>
  <br>



  <!--Destination-Mirissa-->
  <p class="title">Mirissa</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiMirissa.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    Mirissa is a small town and a beach resort area in the South of Sri Lanka on the Indian ocean. Mirissa was
    formed at first as a purely tourist resort area, and then there appeared a modest urban infrastructure. Houses
    of local residents are almost there, everyone is focused only on tourism. In addition to tourism, the village
    lives on fishing, much of which, again, is focused on resort guests. The first tourist hotel here appeared in
    1980, and the place was so successful that in the 90-ies started to develop rapidly, and today has become one
    of the most attractive beach resorts in the South. Come here for excellent beaches, calm surroundings,
    solitude and idleness. If you compare Mirissa with the other two most popular resorts of the South – Navauto
    and the Golden Sands, here is much quieter. Compared to them, Mirissa is a real wilderness, but this is the
    main feature of the resort. But there is a reason it is in Mirissa rush the tourists is the blue whales.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/mirissa">Check what you can do there</button>
  </p>
  <br><br>
  <hr>
  <br>


  <!--Destination-Nuwara-Eliya-->
  <p class="title">Nuwara Eliya</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiNuwaraEliya.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    Often referred to as ‘Little England’, this genteel highland community does have a rose-tinted, vaguely
    British-country-village feel to it, with its colonial-era bungalows, Tudor-style hotels, well-tended hedgerows
    and pretty gardens. Indeed, Nuwara Eliya was once was the favored cool-climate escape for the hard-working and
    hard-drinking English and Scottish pioneers of Sri Lanka’s tea industry. A recent construction boom has
    blighted the scene to a degree, and the dusty and bustling centre is a thoroughly Sri Lankan urban tangle, but
    Nuwara Eliya still makes a fine base for a few days' relaxation. The verdant surrounding countryside of tea
    plantations, carefully tended vegetable plots and craggy hills is highly scenic. Treat yourself to a night in
    one of Nuwara Eliya’s colonial hotels, play a round of golf or a few frames of billiards, and soak up the town’s
    unique bygone heritage.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/nuwaraEliya">Read more...</button>
  </p>
  <br><br>
  <hr>
  <br>


  <!--Destination-Bentota-->
  <p class="title">Bentota</p>
  <br><br>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiBentota.jpg" alt="">
  </p>
  <br><br>
  <p class="destiArticle">
    Bentota began life as a settlement built around a small Portuguese fort on the estuary of the Bentota River.
    In the 19th century, the British converted the fort into a rest house, where civil servants would come to
    relax in the grounds under the shade of the tamarind trees. Still welcoming those who crave a break, it’s now
    one of Sri Lanka’s most popular beach resorts. Bentota is spread along Sri Lanka’s west coast, with a cluster
    of hotels to the north that gradually thin out as you travel south. The lengthy stretches of golden sand are
    shaded by corkscrew palms, the occasional granite outcrop, and little else. While this is a popular beach
    resort, there are no beach bars or restaurants lining the sand, just hotels, villas and luxury resorts
    tucked behind the palms at discrete distances from each other.
  </p>
  <br>
  <p class="btnReadMore">
    <button mat-raised-button color="primary" routerLink="/destinations/bentota">Check what you can do there</button>
  </p>
  <br><br>
  <app-footer></app-footer>
</app-main-nav>
