<app-main-nav-rus>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galleFort"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galle-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/galle-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiGalle.jpg" alt="Galle Fort">
  </p>
  <br><br>

  <p class="title">Удивительные развлечения в Галле</p>
  <br>

  <p class="description">
    Галле - это жемчужина. Этот исторический город, внесенный в список Всемирного наследия ЮНЕСКО, приятно исследовать.
    пешком, бесконечно экзотический старый торговый порт, благословленный внушительными голландско-колониальными зданиями, древними мечетями
    и церкви, величественные особняки и музеи. Прогуливаясь по его извилистым улочкам, вы пройдете мимо стильных кафе, причудливых
    бутики и безупречно отреставрированные отели, принадлежащие местным и иностранным художникам, писателям, фотографам и
    дизайнеров. Ядром Галле, построенным голландцами в 1663 году, является форт, обнесенный стеной анклав, окруженный
    с трех сторон у океана. Ключевой частью привлекательности форта является то, что это не просто красивое место. Конечно, туризм
    сейчас доминирует в местной экономике, но этот уникальный город остается рабочим сообществом: есть административные
    офисы и суды, экспортные компании, школы и колледжи. Большинство путешественников совершенно очарованы Галле.
    атмосфера, и это, несомненно, единственная достопримечательность южной Шри-Ланки, которую нельзя пропустить.
  </p>
  <br>

  <!--  google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014494.1539434078!2d80.32931951873178!3d6.663302135758652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae173a6a024d64d%3A0x569ac10c90e0fa7c!2sFort%2C%20Galle%2080000!5e0!3m2!1sen!2slk!4v1623459024055!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Прогуляйтесь по старым стенам форта</p>
  <p class="description">
    Форт Галле, построенный португальцами в 1588 году и позже укрепленный голландцами в 17 веке, является одним из
    основные причины, по которым Галле получил статус всемирного наследия ЮНЕСКО и является одним из самых популярных мест для посетителей Галле. В
    высокие крепостные стены окружают весь старый город, защищая его от посторонних интересов, но также помогая
    сохранить старую голландскую и португальскую архитектуру, которая делает город таким интересным. Ты не можешь
    посетить Галле, не прогуливаясь по старым стенам форта или под ними - в основном потому, что единственный способ
    Чтобы добраться до старого города, нужно пройти или проехать под или над этими высокими сооружениями. Хотя большая часть южных
    Шри-Ланка была полностью разрушена во время цунами 2004 года, в результате чего погибло до 40 000 человек в Шри-Ланке.
    эти крепостные стены, которые защищали Галле и старый город, спасая его от разрушения.
  </p>
  <br>

  <p class="subTitle">Найдите знаменитые качели на пляже Далавелла.</p>
  <p class="description">
    Всего в 1 короткой 10-минутной поездке на тук-туке от Галле находится один из самых красивых участков побережья Шри-Ланки.
    Ланка. Хотя это и не так дико, как на восточном побережье, именно здесь вы найдете симпатичные пляжные бары, пляжи с пальмами и
    идеальные наборы волн и сказочные пляжные качели для идеального мгновенного снимка!
  </p>
  <br>

  <p class="subTitle">Смотреть игру в крикет</p>
  <p class="description">
    С любого из трех главных входов в форт открывается вид на впечатляющий Галле с высоты птичьего полета.
    Крикетный стадион. Если во время вашего приезда в город включается игра, мы настоятельно рекомендуем вам ее попробовать.
    Даже если есть несколько местных ребят или команда, которая тренируется, возможно, они позволят вам присоединиться к
    раунд или два. Стадион с обеих сторон окаймлен Индийским океаном, а с третьей стороны - фортом Галле.
    что делает его одним из самых живописных стадионов в мире! Построенный в 1876 году, территория использовалась как гоночная.
    до того, как его переоборудовали в стадион для крикета в начале 1900-х годов.
  </p>
  <br>

  <p class="subTitle">Рай для бутиков</p>
  <p class="description">
    Галле, на удивление, рай для шоппинга. В отличие от большинства других городов Шри-Ланки, где вы, кажется, найдете
    тот же выбор одежды и сувениров, снова и снова, Галле является домом для некоторых более дорогих бутиков с
    красивые шелковые шарфы, шикарные коллекции обуви и еще больше красивых платьев, чем когда-либо поместится в моем маленьком гардеробе!
    Здесь также есть много красивых сувенирных магазинов с сумками ручной работы, предметами домашнего обихода и резными пляжными сокровищами.
    - рай, если вы ищете маленькие кусочки, чтобы украсить дом у моря. Нам особенно понравились следующие
    магазины в городских стенах: Barefoot (есть еще один в Коломбо, о котором я писал здесь), Spa Ceylon
    (Мне очень понравился их спрей Sleep Intense Dream, который я теперь распыляю на подушку каждую ночь), KK Collection (для
    украсить свой дом предметами для пляжа) и Mimimango - красивые, но дорогие платья. Все мы можем мечтать!
  </p>
  <br>

  <p class="subTitle">Возьмите урок серфинга в Унаватуне</p>
  <p class="description">
    Всего в нескольких минутах езды на велосипеде или туктуке от старого города находится одно из самых популярных туристических мест Шри-Ланки.
    Дом для веселых пляжных баров, пиццерий на песке, бесконечной музыки регги и множества туристов.
    общежития и школы серфинга больше, чем вы можете себе представить - добро пожаловать в Унаватуну. Веселое место, чтобы приехать
    утренний или дневной урок серфинга, а затем обед на пляже и, возможно, несколько подлых сортов пива Lion. Мир
    кроме Галле, но тем не менее супер весело.
  </p>
  <br>

  <p class="subTitle">Посмотрите на отважных ныряльщиков со скал на Flag Rock</p>
  <p class="description">
    Помимо бара на крыше с парой холодных коктейлей, Flag Rock - лучшее место для наблюдения за закатом в Старом Галле.
    Городок. Отсюда также открывается потрясающий вид на старый город и маяк, когда вы наблюдаете за закатом.
    в океан. Сюда также приезжают многие талантливые местные жители, чтобы продемонстрировать свои таланты в дайвинге, хотя это
    зависит как от прилива, так и от погодных условий. Мы не уверены, насколько это опасно, но когда прилив
    уровень воды очень низкий, поэтому мы не рекомендуем купаться здесь, если вы не с местными жителями и
    действительно знаете, что делаете!
  </p>
  <br>

  <p class="subTitle">Мороженое на острове Джелато</p>
  <p class="description">
    Погода в Галле всегда жаркая и влажная. Хотя это терпимо, нельзя отрицать, что любой предлог для побега
    неумолимая жара приветствуется. Вот почему, когда мы услышали об этом удивительном месте Джелато в Галле, мы сделали
    Прямо сейчас, чтобы найти его через несколько минут после того, как выскользнул из моего тук-тука, весь в поту! Это было похоже на кафе,
    были взяты прямо из цифрового кочевника и рая Instaworthy, то есть Чангу на Бали, с забавным знаком,
    яркие сиденья и стены и даже качели в помещении! Наряду с вашими обычными вкусами джелато был
    несколько интересных новых, о которых мы никогда не слышали (пикантный апельсин с кардамоном был моим личным фаворитом), и которые
    мы настоятельно рекомендуем вам попробовать.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of galleFortReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

