<app-main-nav-ger>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/nuwaraEliya-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!-- image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiNuwaraEliya.jpg" alt="Nuwara Eliya">
  </p>
  <br><br>

  <p class="title">Tolle Aktivitäten in Nuwara Eliya</p>
  <br>

  <p class="description">
    Diese vornehme Highland-Gemeinde wird oft als "Little England" bezeichnet und hat eine rosarote, vage
    Britisches Landhaus-Feeling mit Bungalows aus der Kolonialzeit, Hotels im Tudor-Stil und gepflegten Hecken
    und hübsche Gärten. Tatsächlich war Nuwara Eliya einst der bevorzugte Zufluchtsort in kühlem Klima für die hart arbeitenden und
    trinkfesten englischen und schottischen Pionieren der Teeindustrie Sri Lankas. Ein neuer Bauboom hat
    hat die Szene zu einem gewissen Grad verdorben, und das staubige und geschäftige Zentrum ist ein durch und durch srilankisches urbanes Gewirr, aber
    Nuwara Eliya ist immer noch eine gute Basis für ein paar Tage Entspannung. Die grüne umliegende Teelandschaft
    Plantagen, sorgfältig gepflegten Gemüsegärten und schroffen Hügeln ist landschaftlich reizvoll. Gönnen Sie sich eine Nacht in
    eines der Kolonialhotels von Nuwara Eliya, spielen Sie eine Runde Golf oder ein paar Billardtische und genießen Sie die Stadt
    einzigartiges vergangenes Erbe.
  </p>
  <br>

  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1013885.4735489736!2d80.22064351898126!3d6.951364914271739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae380434e1554c7%3A0x291608404c937d9c!2sNuwara%20Eliya!5e0!3m2!1sen!2slk!4v1623460426532!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Mieten Sie einen Schwan am Gregory Lake</p>
  <p class="description">
    Mitten im Herzen von Nuwara Eliya liegt der Gregory Lake. Es ist ein großes offenes Gewässer, das leicht zu erreichen ist
    sichtbar von Punkten in ganz Nuwara Eliya. Viele Leute, die die Gegend besuchen, entscheiden sich dann für Jetski
    am Gregory-See. Oder, wenn Sie es etwas entspannter und romantischer mögen, dann mieten Sie einen Schwan für ein
    Stunde. Sie können auch parken und ganze Abschnitte des Sees umrunden, was wir währenddessen tun müssen
    Dort. Oder wenn Sie es einfach von Ihrem Zimmer aus betrachten möchten, sollten Sie in einem dieser Hotels in . übernachten
    Nuwara Eliya in der Nähe des Gregory-Sees.
  </p>
  <br>

  <p class="subTitle">Schlendern Sie durch den Victoria Park</p>
  <p class="description">
    Das Herz von Nuwara Eliya kann ein wenig beschäftigt erscheinen, und es gibt sicherlich eine ordentliche Menge Lärm von
    der ganze Verkehr. Nun, Victoria Park ist eine Art Zufluchtsort abseits von Lärm und Geschäftigkeit. Das
    Der Eintrittspreis für den Victoria Park beträgt nur 300 Rupien und Sie können so lange wie Sie möchten durch die Gärten schlendern
    oder entspannt auf einer Parkbank. Dort befindet sich auch das Victoria Park Museum. Es ist nur klein, aber Vitrinen
    viele alte Nuwara Eliya Fotos aus den letzten 100 Jahren oder so. Sie zeigen dir, wie das Leben in der Gegend war, zurück
    als es unter britischem Einfluss stand. Es ist faszinierend zu sehen, wie sich die Gegend entwickelt hat und was gebaut wurde
    wie beim Bau der Eisenbahn.
  </p>
  <br>

  <p class="subTitle">Tagträumen am Wasserfall von Lover's Leap</p>
  <p class="description">
    Der Wasserfall Lover's Leap in Nuwara Eliya ist definitiv etwas, das Sie sich nicht entgehen lassen sollten. Es ist eine sehr kurze Fahrt
    vom Stadtzentrum entfernt und ist einer der schönsten Wasserfälle im ganzen Land. Es hat auch eine eher
    faszinierende Geschichte, zumindest wenn man der lokalen Folklore glaubt. Wie die Geschichte erzählt, ist einmal ein lokaler Prinz hereingefallen
    Liebe mit einem Mädchen, aber die beiden durften nicht zusammen sein. Die ganze Saga endet damit, dass sie zu ihrem springen
    Todesfälle durch den Wasserfall, Hand in Hand. Wie wahr das ist oder ob es seitdem Fälle gegeben hat, ist noch nicht bekannt
    mir unklar. Aber so oder so, es ist ein schöner Ort für einen Besuch.
  </p>
  <br>

  <p class="subTitle">Genießen Sie ein Mittagessen an den St. Clairs Falls</p>
  <p class="description">
    Ich empfehle, die Schönheit der St. Clair's Falls von The Waterfall Villas by Yoho zu genießen. Dieses Resort hat eine
    wunderbares Restaurant in bester Lage am Berghang. Sie haben große Glasfenster, die alle laufen
    den Weg entlang, so dass Sie mit Aussicht sitzen und Ihre Mahlzeit einnehmen können. Das Essen ist auch unglaublich günstig! Die Fahrt
    zu diesen beiden Wasserfällen führt Sie durch die kurvenreichen Bergstraßen und bietet unglaubliche Ausblicke über die
    lokale Teeplantagen. Allein aus diesem Grund lohnt es sich also, Devon Falls und St. Clair’s Falls zu besuchen.
  </p>
  <br>

  <p class="subTitle">Spielen Sie eine Runde Golf</p>
  <p class="description">
    Wenn Sie wie ich ein großer Fan des Golfsports sind, warum nicht eine Runde spielen, während Sie die Chance dazu haben? Das
    Der phantasievoll benannte Nuwara Eliya Golf Club liegt direkt im Herzen von Nuwara Eliya und ist überraschend
    günstig für eine Runde. Sie können alles, was Sie brauchen, für insgesamt rund 8400 Rupien spielen und ausleihen. Dass selbst
    beinhaltet einen Caddy zum Mitnehmen. Es wäre jedoch wirklich ein besonderer Ort zum Spielen. Die Kurstermine
    bis ins Jahr 1889 zurück und ist einer der ältesten Golfplätze in Asien. Es ist auch eines der sehr
    einige Golfplätze, die Sie während Ihrer Reisen in Sri Lanka finden werden.
  </p>
  <br>

  <p class="subTitle"> Bewundern Sie den Botanischen Garten von Hakgala</p>
  <p class="description">
    Nur 1 km vom Seetha Amman Tempel entfernt liegt der Botanische Garten Hakgala. Das ist das zweitgrößte
    botanischer Garten überall in Sri Lanka und ist einer von nur 4 anderen. Aufgrund der vergleichsweise geringen jährlichen
    Temperatur dieser Region des Landes, konnten diejenigen, die den Garten bewirtschaften, unglaublich viel wachsen
    seltene Pflanzenarten. Viele davon werden Sie sonst nirgendwo im Land finden. Es ist bei weitem einer von
    die beliebtesten Sehenswürdigkeiten in Nuwara Eliya, da der Park jährlich bis zu 100.000 Gäste anzieht.
  </p>
  <br><br>

  <p class="subTitle"> Chillen in einer Teefabrik</p>
  <p class="description">
    Es ist schwer, eine bestimmte Teefabrik zu empfehlen, da es Wochen dauern würde, sie alle zu erkunden! Im
    Tatsächlich ist die gesamte Strecke von Kandy nach Ella mit spektakulären Teeplantagen übersät. Die meisten haben
    eine begleitende Fabrik und Teestuben für Besucher. Mein Rat wäre, einfach den Tag auf Erkundungstour zu gehen
    die anderen wunderbaren Dinge zu sehen und zu tun in und um Nuwara Eliya. Irgendwann wirst du dich ein bisschen müde fühlen und
    beschließe, dass es Zeit für eine Pause ist. Genau das haben wir getan und wurden von keinem der Orte enttäuscht, an denen wir
    beschlossen, anzuhalten. Wenn Sie sich fragen, was Sie bei Regen in Nuwara Eliya unternehmen können, dann schlage ich Ihnen vor
    in eine Teefabrik und tanken Sie leckere Kuchen und Tee!
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of nuwaraEliyaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>

