<app-main-nav>
  <button routerLink="/destinations/ella-ger">ger</button>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiElla.jpg" alt="ella">
  </p>
  <br><br>

  <p class="title">Awesome things to do in Ella</p>
  <br>

  <p class="description">
    Ella is a small mountain town in the badulla district of uva province, Sri Lanka, about 1000 meters above sea
    level. This area rich in bio-diversity with numerous varieties of flora and fauna. Ella is surrounded by hills
    covered with forests and tea plantations. The town has a cooler climate than surrounding lawlands. Town of ella
    is approximately 200 kilometres east of Colombo. It located on the Colombo-Badulla railway line, and the A16
    highwaya a part of the Colombo-Badulla road. Train ride from Kandy to Ella is one of the most beautiful in the
    world and it’s definitely the best way to get there. Ella railway station is the 75th station on the main line.
    Though it is not a big place, there is plenty to do in Ella, from hiking trails to waterfalls or lounging at the
    cafes.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1012277.0181391739!2d80.45408530087902!3d7.660869086948472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae465955bc09a25%3A0xbdfadcdadec487fb!2sElla!5e0!3m2!1sen!2slk!4v1623166866480!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Ride aboard the Kandy to Ella train</p>
  <p class="description">
    Hotter than the London Underground in a summer’s day, takes eight hours yet only costs £5.
    Sounds a little like hell, but trust us, the train ride from Kandy to Ella is the best thing you'll do in Sri
    Lanka (read our complete guide to the Kandy to Ella train here — it also includes how to book and our insider
    travel tips). Winding through misty forests, verdant tea plantations; over gushing waterfalls and streams, and
    past colourful towns and excitable locals, this is, in our opinion, the most picturesque train ride in the world.
    But it's not just the scenery that makes this train ride so incredible. It's also the vibe. Every person you
    encounter seems to greet you with a genuine smile; groups of local boys play sing, dance and play drums; vendors
    rush through the train spruiking sweet chai and snacks, while tourists hang their heads out the windows to stare
    in amazement at the sheer beauty. Literally everyone is wide-eyed and happy, which in this day and age is hard
    to find. The most scenic part of the journey is from Nanu Oya to Ella, through the dense forest of the Horton
    Plains national park, so we recommend getting the window seat or standing in between the doorways, and enjoying
    the views as they pass by. When we first visited Sri Lanka is 2016, the Kandy to Ella train ride was yet to
    really hit the big time, however due to its currently popularity, you need to book your travel in advance
    (usually 1 - 2 days prior). The train may also be quite crowded, especially during peak season, so be warned you
    may need to push your way on. Third class may be the cheapest option, and in our opinion it's also the best as
    it allows you to sit/hang out of the doorways. You’ll also find it’s filled with friendly locals keen to help
    you enjoy your experience.
  </p>
  <br>

  <p class="subTitle">Admire Ella's famous nine arch bridge</p>
  <p class="description">
    It's astonishing to think that a bridge could drive tourists in droves to Ella, yet the
    Nine Arch Bridge, just outside the town, has done just that. The Nine Arch Bridge is flanked by verdant forests
    and tea plantations, standing proudly across the valley below. On misty days, low cloud hangs in the valley,
    giving the whole area a moody, mystical feel. Completed in 1921, the Nine Arch Bridge is built entirely out of
    brick, rock and cement, with no metal used in its construction - an engineering feat back in those days.
    Spanning 91 meters at a height of 24 feet, the bridge is on the famous Kandy to Bandarawela (via Ella) train
    line, with trains passing around five times a day, depending on the ever changing Sri Lankan train timetable.
    Although train times are notoriously unreliable in Sri Lanka, trains tend to pass the Nine Arch Bridge around
    the following times: 9:30, 11:30, 15:30, 16:30, and 17:30 (read our comprehensive guide here!). There are many
    places to view the bridge from, with the most popular being from the actual bridge itself, and below from the
    tea plantation (this is private land, so please ask for permission before entering). But for us, the best views
    are from above, either looking from the forests surrounding the bridge, or from one of the cafe platforms in the
    surrounding hills. Watching the train slowly make its way across the bridge is a wonderful sight. Just get there
    early, as the Bridge and surrounding viewpoints fill up VERY quickly!
  </p>
  <br>

  <p class="subTitle">Hike up the famous Ella rock</p>
  <p class="description">
    For those who seek spectacular views everywhere they go, the summit of Ella rock, with its
    views over Ella, Little Adam's Peak, and Ella Gap, is one vantage point you don’t want to miss out on. Starting
    at the famous Ella train station, you’ll follow the Ella to Kandy train line past many beautiful waterfalls,
    bridges, tea plantations, and homes, before starting your ascent towards the Ella Rock summit - hopefully with a
    King Coconut in hand for some extra energy. We definitely needed it; the hike to the summit under that fierce sun
    is tough! Once at the summit, we enjoyed the incredible views for at least an hour, munching away on our
    vegetarian roti and some well deserved water. The route to the summit can be a little complicated, however if
    you follow the clearly marked paths and ignore the (sometimes deliberately misleading) touts, you shouldn't have
    too many issues (this in-depth post will help you get there). All up, the hike takes around 2 hours round trip,
    but remember to pack enough water and snacks to power your journey.
  </p>
  <br>

  <p class="subTitle">Admire the views of Ella gap from little Adam's Peak</p>
  <p class="description">
    If a strenuous hike in the sun doesn’t really appeal but you’re still keen to get the legs moving and explore
    the Sri Lankan countryside, the easier hike up to Little Adam’s Peak is absolutely worth checking out. Named
    after its similarly shaped, yet far taller older brother, Adam’s Peak, the Little Adam’s Peak hike takes about
    two-hours roundtrip from Ella town, and starts in the lush tea plantations before slowly snaking its way to the
    first set of viewpoints. From here, you'll have 360-degree views overlooking the giant Ella Rock and Ella Gap
    towards Udawalawe National Park, perfect for photos. We'd definitely advise continuing the hike further down
    the ridge, as the views become more spectacular and less busy. The return route follows the other side of the
    mountain, overlooking the incredible 98 Acres resort before slowly making its way back to Ella. Stop at the
    little wooden juice hut on the return journey back to relax and grab a refreshing king coconut. We recommend
    hiking up during late afternoon and watching glorious sunset unfold; and definitely advise against hiking during
    the middle of the day as there's little shade to hide from the glaring sun - one of our worst ever travel burns
    happened right here!
  </p>
  <br>

  <p class="subTitle">Witness the beauty of Diyaluma falls</p>
  <p class="description">
    Forget what the pop songs tell you, Sri Lanka's second tallest waterfall, Diyaluma Falls is so impressive that
    you absolutely do need to chase waterfalls here. Cascading from high in the Sri Lanka mountains, Diyaluma may
    be a little off the beaten track, but the epic views and natural infinity pools make the 1.5-2-hour journey
    more than worth the effort. To get to Diyaluma, we jumped in a tuk tuk from Ella to Poonagala,  through
    quintessentially Sri Lankan tea plantations. Once we’d arrived in the small village of Poonagala, we set off
    hiking downhill through long, dry grass for around 30mins before getting our first glimpse of the upper
    Diyaluma falls. A short walk further and there we were, standing above a sheer 220m rush of water to the valley
    floor below. It was amazing. At this point we need to warn you that safety barriers do not exist, so if you're
    adrenaline junkie (like Mark), and like to stand on the edge of just about anything, please be careful. During
    the summer months when the water levels have dropped, you can enjoy a refreshing swim at the falls' various
    natural pools, including right on the edge of the main waterfall. Alternatively, there are larger, safer pools
    at the upper Diyaluma falls, but again, take precautions before diving in. There are two ways to get to the top
    of Diyaluma falls - either hiking from the bottom, which is rather strenuous and hard to follow, or from
    Poonagala village, which is far shorter yet less popular.
  </p>
  <br>

  <!--comment box-->
  <div class="main-wrap">

    <div  *ngFor="let tempReview of ellaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>

  <app-footer></app-footer>
</app-main-nav>

