<app-main-nav>
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHortonPlains.jpg" alt="Horton Plains">
  </p>
  <br><br>
  <p class="title">Awesome things to do in Ella</p>
  <br>
  <p class="description">
    Horton Plains in Sri Lanka, is the coldest and windiest location in the country. It
    consists of ecosystems such as Montane evergreen forests, grasslands, marshy lands and aquatic ecosystem. At
    an altitude of 2,100 meters above sea level, Horton Plains spreads across over 3,169 hectares of the highest
    tableland of the island. In view of the large number of endemic flora and fauna species, Horton Plains was
    declared a UNESCO World Heritage Site on 30th July 2010. Horton Plains, its surroundings, forests and the
    adjoining Peak Wilderness constitute Sri Lanka’s most important catchment area of almost all major rivers.
    The plains are also of outstanding scenic beauty and conservation importance, containing most of the habitats
    and endemic plants and animals representative of the country’s wet and Montane zones.
  </p>
  <br>
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014204.077815888!2d80.24710188008555!3d6.802097495083621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae3882edb4b78ef%3A0xcebca89153777249!2sHorton%20Plains%20National%20Park!5e0!3m2!1sen!2slk!4v1623460184622!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>
  <br>
  <p class="subTitle">Hiking</p>
  <p class="description">
    It is the best activity of Horton Plains National Park, where the plateau-like land comes to an abrupt end and
    features a deep plunge of 4000 feet. Take in the beauty of Adam’s Peak on a sun-drenched while you are on your
    hiking adventure. The hike towards the World’s End is easy because you will find a circular trail without
    worrying about being lost in the way. The nine-kilometer fun trek will unleash the beauty and mystery of the
    highlands of Sri Lanka.
  </p>
  <br>
  <p class="subTitle">Visit Baker’s Falls</p>
  <p class="description">
    The original name of this beautiful waterfall is Gonagala falls. It is a cascade type waterfall (which is said
    to be the most beautiful type) with 2 drops. The current name was derived from Sir Samuel Baker, the British
    national who discovered it in 1845. He was also famous for killing 50 elephants in the park. Belihul Oya creates
    this rather noisy waterfall by slamming the water on a large rock formation at the base. Though how beautiful
    Baker’s falls is the plunge pool around it is said to be a 12m deep death trap that took lives of many in the
    past. The famous trail in the Horton Plains National park is to see the Great World’s End Drop and Baker’s
    Falls is 3.3 km away from the trailhead. The usual climate in the park is around 16oc and the rains can be
    expected most part of the year. To final part of the path to reach the fall is a root – strewn one with a
    downwards descend and this can be really challenging under rainy weather.
  </p>
  <br>
  <p class="subTitle">Admire the views of world's end</p>
  <p class="description">
    The Horton Plains plateau comes to a sudden end at World’s End, a stunning escarpment that plunges 880m. The
    walk here is 4km, but the trail then loops back to Baker’s Falls (2km) and continues back to the entrance
    (another 3.5km). The 9.5km round trip takes a leisurely three hours. Unless you get there early, the view from
    World’s End is often obscured by mist, particularly during the rainy season from April to September. All you can
    expect to see from World’s End after around 9am is a swirling white wall. The early morning (between 6am and
    10am) is the best time to visit, before the clouds roll in. That’s when you’ll spy toy-town, tea-plantation
    villages in the valley below, and an unencumbered view south towards the coast.
  </p>
  <br>
  <p class="subTitle">Animal watching </p>
  <p class="description">
    The park boasts of more than 150 species of wild animals and home to purple-faced langurs, wild boas, Sri
    Lanka’s super fowl, otter, red slender Loris, magpie, sambar deer, and Sri Lankan leopards. You can spot a
    couple of endemic species and native to the jungles, including the rhino horn lizard, huge long-tailed
    squirrels, painted lip lizard, bear monkey, Toque monkey, barking deer, fishing cat, and stripe necked
    mongoose. You can take photos if you are fortunate enough to spot these elusive animals.
  </p>
  <br>
  <p class="subTitle">Camp in Chimney Pool area</p>
  <p class="description">
    Chimney Pool area is one of the most beautiful parts of the Horton Plain. If you like to camp there, you can
    get permission from the Battaramulla Wild Life Department to build campsites around Chimney Pool. There is a
    toilet but there is NO water inside the toilet. Make sure you take a bucket of water before going in. You have
    to take the water from the Chimney Pool, therefore, be careful when you take water. December to February best for
    camp there.
  </p>
  <br>
  <p class="subTitle">Witness the rich flora </p>
  <p class="description">
    Horton Plains is worth a visit for its rich flora and biodiversity with five percent of the plant varieties
    endemic to the island country of Sri Lanka. Take in the beauty of the forest canopy growing to around 20 meters
    and dominated by the widespread Keena. You will tree ferns Maha Meewana dotting the jungle openings, while
    Nelu and Binara are endemic to this park and known for their striking blossoms. Take photos of Bivitiya,
    which is another stunningly beautiful flower in this region.
  </p>
  <app-footer></app-footer>
</app-main-nav>

