<app-main-nav>
  <br>
  <div class="main-wrap">

    <div class="box-shadow">
      <p style="text-align:center">
        <img src="assets/images/hikingTour.jpg" style="width: 300px; height: 400px; padding-top: 5px">
      </p>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Description :
          </p>
        </div>
        <div class="col-12 col-md-6" >

          Behind the dazzling beauty of Sri Lanka’s world famous beaches is an island of lush jungle, spice gardens, ancient Buddhist temples and an abundance of wildlife - all of which makes for a unique trekking experience. Our adventure begins in Rathnapura with a visit to the Sripada. After this we tackle the challenging Adam's Peak (2243m) and then enjoy the spectacular 1000m cliff drop of World's End.
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            No. of Days :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          3
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Hotels :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Hugging clouds guest house <br>
          Mountain Heavens
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Visiting Places :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Sripada <br>
          Bomburu ella <br>
          Nine Arch Bridge <br>
          Little Adam’s peak <br>
          Lipton’s Seat <br>
          Ravana Fall <br>
          Ella Rock <br>
          Ravana Fall
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Activities :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          hike Sripada <br>
          Watch sunrise <br>
          Visit bomburu ella <br>
          Climb up Little Adam’s peak <br>
          Walk along the rails on the Nine Arch Bridge <br>
          Enjoy the endless tea field views at Lipton’s Seat <br>
          Get a fresh shower at the Ravana Fall <br>
          Hike up to the top of Ella Rock
        </div>
      </div>
      <br>
      <div class="row packageDetails" style="margin:0">
        <div class="col-12 col-md-6" >
          <p style="padding-left: 100px">
            Schedule :
          </p>
        </div>
        <div class="col-12 col-md-6" >
          Day 1- Hatton <br>
          Day 2- Ella <br>
          Day 3- Ella
        </div>
      </div>
      <br><br>
      <p style="text-align: center"><button mat-raised-button color="primary" routerLink="/tourPackages/toutPackageBooking">Book Now</button></p>

    </div>
  </div>
  <br>
</app-main-nav>
