<app-main-nav-ger>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/kalpitiya"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/kalpitiya-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/kalpitiya-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiKalpitiya.jpg" alt="Kalpitiya">
  </p>
  <br><br>

  <p class="title">Tolle Aktivitäten in Kalpitiya</p>
  <br>

  <p class="description">
    Der Strand ist ein berühmter Ort, um Wale und Delfine zu beobachten und mit wunderschönen Korallen zu schnorcheln. Um die zu erkunden
    versteckte Wunder rund um den Strand, der perfekte Weg ist eine Bootsfahrt. Besucher können Kanu und auch 4WD-Jeep entlang der
    menschenleere Sanddünen zwischen Meer und Binnenland. Der Strand ist mit natürlicher Schönheit ausgestattet, aber er ist unberührt
    durch Tourismus und umgebene Fischergemeinde. Sportliche Aktivitäten wie Kitesurfen, Stand Up Paddling, Pferd
    Reiten, Tauchen, Skaten und Surfen sind auf den Inseln Standard. Dieser Strand ist der beste Weg, um zu genießen?
    abendlicher Sonnenuntergang. Es gibt insgesamt 14 Inseln im Meer und in der Lagune. Kalpitiya liegt 130 km . entfernt
    nördlich des internationalen Flughafens Bandaranayke in Katunayake. diese Fahrt dauert 4 ½ Stunden.
    Von November bis April werden Sie Muschelmeer und Wetter sehen. Februar bis März ist die beste Zeit für Wale und Delfine
    Aufpassen.
  </p>
  <br>

  <!-- google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1009282.4812258384!2d79.64457564243585!3d8.832045837724332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afd0cc24a7cc5bd%3A0x5ae7ac65637881f0!2sKalpitiya!5e0!3m2!1sen!2slk!4v1623459817224!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Kitesurfen gehen</p>
  <p class="description">
    Dies ist ein Kinderspiel, denn Kalpitiya wird durchweg als einer der besten Orte der Welt bewertet
    zum Kitesurfen! Die Saison dauert von Mai bis September, aber Sie können auch während der "Winter" -Saison von
    November/Dezember bis Februar – bei unserem Besuch Anfang Februar waren fast 100 Kitesurfer in der
    flache Lagune. Für diejenigen, die Kitesurfen lernen möchten, gibt es viele Schulen. Im Gegensatz zu
    Surfen, wo es möglich ist, nach Lust und Laune eine einmalige Unterrichtsstunde zu machen, Kitesurfen kann bis zu 10 Tage dauern
    Lernen Sie die Grundlagen, also müssen Sie sich etwas Zeit nehmen, wenn Sie es ernst nehmen möchten. Die Preise sind in der Regel
    ziemlich ähnlich auf der ganzen Linie, hier ist eine Preistabelle als Referenz.
  </p>
  <br>

  <p class="subTitle">Geh Delfine und Wale beobachten</p>
  <p class="description">
    Kalpitiya ist neben Mirissa an der Südküste und Trincomalee an der Ostküste einer der besten Orte in
    Sri Lanka für Delfin- und Walbeobachtung. Der Kontinentalschelf ist in 45 Minuten bis 1 Stunde zu erreichen
    Schnellbootfahrt, nach der Sie Hunderte von Spinnerdelfinen und mit etwas Glück Wale sehen können,
    rund um die Küste. Die Saison dauert ungefähr von November bis Mai, wenn das Meer morgens ruhiger ist, aber Sie
    müssen früh starten (idealerweise vor 8 Uhr morgens), um die anderen Boote zu schlagen und vor 11 Uhr morgens an Land zurückzukehren, da
    das Meer wird zu rau. 6 Personen passen in ein kleines Motorboot und Touren kosten ungefähr 25.000 LKR für
    die Gruppe. Während unserer morgendlichen Delfinbeobachtungstour in Kalpitiya waren wir von Hunderten von Delfinen umgeben
    Springen, Drehen und Herumtollen im Meer.
  </p>
  <br>

  <p class="subTitle">Besichtigen Sie das niederländische Fort</p>
  <p class="description">
    Das Fort in Kalpitiya stammt aus der Mitte des 17. Jahrhunderts, als es ein strategisch wichtiger Handelsstützpunkt für war
    der Niederländischen Ostindien-Kompanie. Im Gegensatz zu Galle Fort, das von den Portugiesen gebaut wurde, war das Fort in Kalpitiya
    gebaut und hauptsächlich nur von den Niederländern verwendet. Als die Holländer Sri Lanka verließen, verließen sie den Kalkstein und die Korallen
    Kalpitiya Fort in Schutt und Asche, um die nächste Kolonie davon abzuhalten, es zu benutzen. Heute wird die Festung als
    Marine-Trainingsbasis, sodass Sie sich nicht frei auf dem Gelände bewegen können. Sie müssen Ihren Reisepass mitbringen und unterschreiben
    im Hauptbüro, danach begleitet Sie ein engagierter Marineoffizier hinein. Die Beamten sprechen nur
    Zu dieser Zeit singhalesisch, also sollten Sie sich im Voraus über die Geschichte informieren, aber die Tour selbst ist kostenlos und
    bedeckt die Wälle des schildkrötenförmigen Forts – es gibt sogar das Skelett eines gestrandeten Wals darin
    die Festung. Eine Besichtigung der Festung ist eine der besten Aktivitäten in Kalpitiya!
  </p>
  <br>

  <p class="subTitle">Machen Sie eine Wildtiersafari im Wilpattu Nationalpark</p>
  <p class="description">
    Der Wilpattu Nationalpark ist eines der ältesten und wichtigsten Schutzgebiete in Sri Lanka und Heimat von
    Leoparden, der seltene Lippenbär, Pfaue, gefleckte Liebe, wilde Büffel und asiatische Elefanten. Um nach Wilpattu . zu gelangen
    von Kalpitiya musst du zurück nach Colombo fahren und dann umdrehen – es wird dich bringen
    ungefähr 2 Stunden, um dorthin zu gelangen, oder Sie können Ihr Hotel fragen, ob es ein Boot arrangieren kann, das Sie über die
    Lagune, die die Reisezeit halbiert.
  </p>
  <br>

  <p class="subTitle">Vogelbeobachtung in der Kalpitya-Lagune</p>
  <p class="description">
    Sri Lanka ist ein wahres Paradies für Ornithologen. Wenn Sie ein ernsthafter Liebhaber der Vogelbeobachtung sind, ist die Kalpitiya-Lagune
    der perfekte Ort für Sie. Diese Tour nimmt Sie mit auf ein aufregendes Abenteuer, bei dem Sie die Lagune von Kalpitiya erkunden
    Boot. Erfahren Sie mehr über die Geschichte von Kalpitiya und seine Tierwelt. Fahren Sie mit einem Boot durch die Wildnis, während Sie etwas tun
    Vogelbeobachtung und entdecken Sie einige seltene Wat- und Wasservögel. Sie können viele Vogelarten sehen und
    beobachten ihr Verhalten in ihrem natürlichen Lebensraum. Die gesamte Lagune ist ein Meeresschutzgebiet mit einer Reihe von
    vielfältige Lebensräume von flachen Küstenebenen und ausgedehnten Sanddünenstränden bis hin zu Mangrovensümpfen und Elefanten
    bewohnten Dschungel.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of kalpitiyaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>

