<app-main-nav>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/hikkaduwa-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiHikka.jpg" alt="Hikkaduwa">
  </p>
  <br><br>

  <p class="title">Awesome things to do in Hikkaduwa</p>
  <br>

  <p class="description">
    Hikkaduwa has been a firm fixture on the Sri Lankan tourist map since the 1970s, and this long exposure to
    tourism has left it a little worse for wear. A kilometre-long strip of guesthouses, shops and restaurants
    lines the beach, which is quite badly eroded in its northern stretch. The busy Colombo–Galle Rd, with its
    crazy high-speed bus drivers, runs right through the middle of Hikkaduwa, which can make stepping outside of
    your guesthouse as deadly as a game of Russian roulette! But it's not all bad. There are plenty of charming
    places to stay, a string of mellow beach bars and restaurants, good diving and surf schools and plenty of
    interesting excursions accessible by three-wheeler or rental scooter. For years there has been talk about a
    possible bypass road around Hikkaduwa, which if it were to materialise would do wonders for this paradise lost.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014325.1735892129!2d80.40742258942218!3d6.7445014146030235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae177fbcae7226d%3A0x373eeb50aad15308!2sHikkaduwa!5e0!3m2!1sen!2slk!4v1623459515531!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="eager"></iframe>
  </p>
  <br>

  <p class="subTitle"> Snorkeling</p>
  <p class="description">
    One of the top things to do in Hikkaduwa Beach is snorkeling. The reason is that one of just two marine parks
    in Sri Lanka is located off Hikkaduwa. Simply rent some snorkeling gear and take a short boat ride over to the
    Hikkaduwa Coral Reef. Once you arrive, dive in and enjoy the views of the underwater world. There are many
    local tour operators that can organize snorkelling trips and the average cost is around 2,000 rupees for one
    hour. The best time of year for snorkelling is between November and April.
  </p>
  <br>

  <p class="subTitle">Glass Bottom Boat Ride</p>
  <p class="description">
    Obvious perhaps, but simply one of the best things to do in Hikkaduwa is to enjoy time on the beach. Explore the
    different beaches nearby, take in the gorgeous sunsets and take a swim. One of our best Hikkaduwa tips is to
    look out for giant turtles in the shallows later in the day at the southern end of the beach. They are enormous
    animals and observing them in the their natural habitat is one of the best things to see in Hikkaduwa Beach Sri
    Lanka.
  </p>
  <br>

  <p class="subTitle">Swim with Sea Turtles</p>
  <p class="description">
    If you’ve ever wanted to swim in the ocean with massive sea turtles, then Hikkaduwa is the place to do it. Right
    from the shore in town, you can easily spot many sea turtles just hanging out in the water. They aren’t scared
    of people and often swim right up to you! There is one particular spot that always seems to have turtles in
    Hikkaduwa. The spot is located in front of the Hikka Tranz Cinnamon hotel. You can easily get here from the
    main beach in Hikkaduwa, just turn left (if you’re facing the ocean) and walk up around the bay until you reach
    the end. Here, you will see a couple of signs about the turtles. This is where you are most likely to spot them!
    If you’re confused, just look for the concrete steps and handrail in front of the hotel on the beach. Or, just
    ask one of the lifeguards.
  </p>
  <br>

  <p class="subTitle">Watch Baby Turtles Hatch</p>
  <p class="description">
    If you love turtles as much as I do, then swimming with the adults is great, but seeing baby turtles is even
    better! On Hikkaduwa Beach, they have a small guarded turtle hatchery where they keep turtle eggs. Between the
    months of January and April, it is possible to visit this enclosure and see if any turtles are hatching. In the
    evening around 6:30 pm, they release the turtles from the enclosure and let them run for the ocean! You can visit
    the hatchery at any time when you walk along the main beach, however, there may not be any turtles in it. Keep
    checking throughout the day as once they hatch you’ll know they’re about to be released! This is a public area
    and free for anybody to join. They even let some tourists help transport the baby turtles from the hatchery to
    the beach. Watching the turtles is very special and easily one of the best things to do in Hikkaduwa, Sri Lanka.
    If you do happen to miss this activity in Hikkaduwa, then don’t worry because you can also see baby turtles all
    over Sri Lanka. In fact, it’s one of the best activities in Mirissa – a nearby beach town that’s very popular!
  </p>
  <br>

  <p class="subTitle">Go On A River Safari</p>
  <p class="description">
    If you are wondering what to do in Hikkaduwa apart from visiting the beach, there are a number of large lakes and
    rivers close to town to explore. A river safari is a great way to explore the backwaters and is one of the best
    things to do around Hikkaduwa. The Madhu River near Balapitiya is a popular place to explore, or rent a canoe
    and paddle up the Hikkatuwa lake system. As you cruise through the mangroves, look out for wildlife, particularly
    birds, monkeys and possibly even a crocodile or two.
  </p>
  <br>

  <p class="subTitle">Surfing</p>
  <p class="description">
    Water sports in Hikkaduwa are one of the most popular things to do and the area is famous for surfing among
    adventure enthusiasts. The clean waves and consistent swell are what attract surfers to the area to enjoy this
    fun outdoor activity. Surfboards are available for hire on the beach. It is a good place to learn to surf as
    the waves are often suited for beginners. Ask any one of the board rental guys to teach you in return for a fee.
    They also have paddleboards for rent, which is a fun way for kids to explore the water when the waves are small.
  </p>
  <br>

  <p class="subTitle">Explore Sri Pushparama Temple</p>
  <p class="description">
    Apart from adventure and nature, if you want to do some sightseeing in Hikkaduwa then visit Sri Pushparama Temple
    or one of the other nearby temples. Visiting this Buddhist temple is one of the best things to do near Hikkaduwa
    Beach in Sri Lanka. As you enter the temple, a monk of the shrine bids you a warm welcome and will show you the
    vicinity of the temple. Here you’ll get to learn about the Buddhist philosophies as you walk around the complex.
    This is a great introduction and way to learn about the Buddhist religion. Entry is free, however it is an
    option to donate to the temple and monks.
  </p>
  <br>

  <!-- weather-->
  <app-weather-hikkaduwa></app-weather-hikkaduwa>
  <br>

  <!--comment box-->
  <div class="main-wrap">

    <div  *ngFor="let tempReview of hikkaduwaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>

  <app-footer></app-footer>
</app-main-nav>

