<app-main-nav-ger>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/mirissa"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/mirissa-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/mirissa-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!-- image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiMirissa.jpg" alt="Mirissa">
  </p>
  <br><br>

  <p class="title">Tolle Aktivitäten in Mirissa</p>
  <br>
  <p class="description">
    Mirissa ist eine Kleinstadt und ein Badeort im Süden Sri Lankas am Indischen Ozean. Mirissa war
    zunächst als reines touristisches Erholungsgebiet entstanden, dann entstand eine bescheidene städtische Infrastruktur. Häuser
    der Anwohner sind fast da, alle konzentrieren sich nur auf den Tourismus. Neben dem Tourismus ist das Dorf
    lebt vom Fischen, von dem wiederum ein Großteil auf Resortgäste ausgerichtet ist. Das erste Touristenhotel hier entstand in
    1980, und der Ort war so erfolgreich, dass er sich in den 90er Jahren rasant entwickelte und heute einer ist
    der attraktivsten Badeorte im Süden. Kommen Sie hierher für ausgezeichnete Strände, ruhige Umgebung,
    Einsamkeit und Müßiggang. Wenn Sie Mirissa mit den beiden anderen beliebtesten Ferienorten des Südens vergleichen – Navauto
    und der Goldstrand, hier ist es viel ruhiger. Im Vergleich zu ihnen ist Mirissa eine echte Wildnis, aber das ist die
    Hauptmerkmal des Resorts. Aber es gibt einen Grund, warum es in Mirissa zu Ansturm der Touristen kommt, sind die Blauwale.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014649.6439638137!2d80.34323211016851!3d6.587705206771416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae13fce3177dc59%3A0xa2d8a78b36dc9c90!2sMirissa!5e0!3m2!1sen!2slk!4v1623460327282!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Besuchen Sie den geheimen Strand</p>
  <p class="description">
    Abgesehen vom Mirissa Beach gibt es noch einen weiteren schönen Ort für einen Nachmittag zum Sonnenbaden und Kokosnusstrinken
    verfügbar. Secret Beach ist etwa 30 Minuten zu Fuß von der Stadt Mirissa entfernt, aber leicht zu erreichen. Es ist möglich,
    Erreichen Sie den Strand mit dem Fahrrad oder dem örtlichen Tuk-Tuk, aber die Straße ist extrem beschädigt, also seien Sie bitte vorsichtig. Heiraten
    auf jeden Fall empfehlen zu gehen! Secret Beach ist der perfekte Ort, um den Massen zu entfliehen oder ein
    bei Sonnenuntergang trinken. Der Strand selbst ist absolut atemberaubend. Eine winzige Bucht mit Liegestühlen und Essen und?
    Getränk von der Secret Beach Bar serviert.
  </p>
  <br>

  <p class="subTitle">Erklimmen Sie den Kokosnussbaumhügel</p>
  <p class="description">
    Coconut Tree Hill muss der beliebteste Instagram-Spot in Mirissa sein. Dieser kleine Hügel ist buchstäblich bedeckt mit
    Kokospalmen und sorgt für ein wirklich schönes Foto. Natürlich wird es, wie bei jedem so beliebten Ort,
    sehr beschäftigt vor allem tagsüber. Der Hügel ist der perfekte Ort, um einen Sonnenuntergang zu beobachten, aber wie Sie sich vorstellen können,
    es kann zu dieser Zeit sehr voll sein. Während des Sonnenaufgangs ist die Zeit am wenigsten beschäftigt und wenn Sie vor 7 Uhr morgens dort sind
    Sie könnten das Glück haben, den Platz selbst zu ergattern! Obwohl der Spot durch das Instagram berühmt geworden ist
    photo Es ist auch ein großartiger Ort, um sich zu entspannen und das Meer zu beobachten. Achten Sie nur auf herunterfallende Kokosnüsse! Das
    Der Aufstieg zum Gipfel dauert ca. 2 Minuten und es gibt einen kleinen Parkplatz für Tuk-Tuks und Roller am
    Unterseite.
  </p>
  <br>

  <p class="subTitle">Besuchen Sie Parrot Rock</p>
  <p class="description">
    Parrot Rock ist ein großer Felsen am Ende der Mirissa Bay. Von der Spitze des Felsens wirst du erstaunlich
    Blick auf den Strand von Mirissa. Sie brauchen nur etwa 30 Minuten am Parrot Rock, um die atemberaubende Aussicht zu genießen.
    Sie könnten viel mehr Zeit in den Felsenbecken unten verbringen. Diese Pools bieten eine großartige Ruhezone zum Schwimmen
    und schnorcheln! Parrot Rock ist eine völlig kostenlose Sache in Mirissa und der Zugang zum Felsen ist einfach von der
    Hauptstrand. Ein Besuch des Parrot Rock ist nicht das Erstaunlichste, was Sie in Mirissa tun, aber es ist so nah an der Stadt?
    du solltest es wirklich tun.
  </p>
  <br>

  <p class="subTitle">Das Haus der Ärzte</p>
  <p class="description">
    Bereit für eine tolle Nachmittagsparty mit Surf-Vibes? Das Ärztehaus ist der richtige Ort für einen Besuch! Es ist eine 15-minütige
    Fahrt aus der Stadt und sehr zu empfehlen. Der große Garten hat die perfekte entspannte Atmosphäre, tolles Essen,
    Getränke und Livemusik.
  </p>
  <br>

  <p class="subTitle">Walbeobachtung</p>
  <p class="description">
    Eine Sache, auf die Mirissa stolz ist, ist ihr Meeresleben! Mit Blauwalen, Pottwalen und Delfinen bekannt
    Schweben Sie von November bis Ende April an der Küste entlang, Walbeobachtung ist sicherlich eine der besten
    Unternehmungen in Mirissa. Die besten Monate sind März und April für Blauwalsichtungen. Wir empfehlen auch
    So früh wie möglich aufbrechen, da das Meer morgens normalerweise ruhig und nachmittags rauer ist. Mit so
    vielen Unternehmen zur Auswahl, ist Island Breeze Mirissa eines der am besten bewerteten in der Region. Und du kannst es überprüfen
    Verfügbarkeit, Preise und buchen Sie hier im Voraus. Die Dauer ihrer Reisen beträgt 4 Stunden, beginnend
    gegen 6 Uhr morgens und „mit einer starken Wahrscheinlichkeit, Wale und Delfine in ihrem natürlichen Lebensraum zu sehen“
    versprochen, Sie werden nicht enttäuscht sein.
  </p>
  <br>

 <!-- &lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of mirissaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>

