<app-main-nav-rus>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/mirissa"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/mirissa-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/mirissa-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!-- image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiMirissa.jpg" alt="Mirissa">
  </p>
  <br><br>

  <p class="title">Удивительные развлечения в Мириссе</p>
  <br>
  <p class="description">
    Мирисса - небольшой городок и пляжный курорт на юге Шри-Ланки на берегу Индийского океана. Мирисса была
    сформировался сначала как чисто туристическая курортная зона, а затем появилась скромная городская инфраструктура. Дома
    местных жителей почти нет, все ориентированы только на туризм. Помимо туризма, село
    живет рыбной ловлей, большая часть которой, опять же, ориентирована на гостей курорта. Первый туристический отель здесь появился в
    1980 год, и место было настолько успешным, что в 90-е начало стремительно развиваться, а сегодня стало одним.
    из самых привлекательных пляжных курортов Юга. Приезжайте сюда ради отличных пляжей, спокойной обстановки,
    одиночество и праздность. Если сравнить Мириссу с двумя другими самыми популярными курортами Юга - Нававто
    и Золотые пески, здесь намного тише. По сравнению с ними Мирисса - настоящая пустыня, но это
    главная особенность курорта. Но есть причина, по которой в Мириссу спешат туристы, это синие киты.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014649.6439638137!2d80.34323211016851!3d6.587705206771416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae13fce3177dc59%3A0xa2d8a78b36dc9c90!2sMirissa!5e0!3m2!1sen!2slk!4v1623460327282!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Посетите секретный пляж</p>
  <p class="description">
    Помимо пляжа Мирисса, есть еще одно красивое место, где после обеда можно позагорать и попить кокосовые орехи.
    имеется в наличии. Secret Beach находится примерно в 30 минутах ходьбы от города Мирисса, но это легко сделать. Возможно
    добраться до пляжа на велосипеде или местном тук-туке, однако дорога сильно повреждена, поэтому будьте осторожны. Мы б
    однозначно рекомендую гулять! Secret Beach - идеальное место, чтобы убежать от толпы или насладиться
    пить на закате. Сам пляж просто потрясающий. Крошечная бухта с шезлонгами, едой и
    напиток подается в баре Secret Beach.
  </p>
  <br>

  <p class="subTitle">Поднимитесь на холм кокосовой пальмы</p>
  <p class="description">
    Кокосовая пальма должна быть самым популярным местом в Instagram в Мириссе. Этот небольшой холм буквально покрыт
    Кокосовые пальмы делают действительно красивую фотографию. Конечно, как и любое другое популярное место,
    очень занят, особенно днем. Холм - идеальное место для наблюдения за закатом, но, как вы понимаете,
    в это время может быть очень многолюдно. Во время восхода солнца это наименее загруженное время, и если вы приедете до 7 часов утра.
    Вам может повезти, и вы сами получите это место! Хотя ролик прославился в Instagram.
    photo это также отличное место, чтобы расслабиться и полюбоваться океаном. Только не забудьте остерегаться падающих кокосов! В
    Подъем на вершину занимает около 2 минут, а на территории есть небольшая парковка для тук-туков и скутеров.
    Нижний.
  </p>
  <br>

  <p class="subTitle">Посетить Parrot Rock</p>
  <p class="description">
    Parrot Rock - это большая скала, которая находится в конце залива Мирисса. С вершины скалы вы получаете потрясающе
    вид на пляж Мирисса. Вам нужно всего 30 минут или около того в Parrot Rock, чтобы полюбоваться потрясающими видами, однако,
    Вы могли бы проводить гораздо больше времени в скальных бассейнах внизу. Эти бассейны представляют собой прекрасное спокойное место для плавания.
    и шноркель! Parrot Rock - это совершенно бесплатное занятие в Мириссе, и добраться до скалы легко с
    главный пляж. Посещение скалы Попугай - не самое удивительное, что вы делаете в Мириссе, но это так близко к городу.
    тебе действительно стоит это сделать.
  </p>
  <br>

  <p class="subTitle">Дом Доктора</p>
  <p class="description">
    Готовы к отличной послеобеденной вечеринке с атмосферой серфинга? Дом Доктора - место, которое стоит посетить! Это 15 минут
    выехать за город и настоятельно рекомендуется посетить. В большом саду царит идеальная непринужденная атмосфера, отличная еда,
    напитки и живая музыка.
  </p>
  <br>

  <p class="subTitle">Наблюдение за китами</p>
  <p class="description">
    Мирисса гордится своей морской жизнью! С известными голубыми китами, кашалотами и дельфинами.
    парить вокруг береговой линии с ноября до конца апреля, наблюдение за китами, безусловно, является одним из лучших
    чем заняться в Мириссе. Самые лучшие месяцы для встреч с синими китами - март и апрель. Мы также рекомендуем
    выезжайте как можно раньше, так как море обычно спокойное утром и более суровое днем. С таким
    Многие компании на выбор, Island Breeze Mirissa - одна из самых рейтинговых компаний в этом районе. И вы можете проверить
    наличие, цены и бронирование заранее у них здесь. Продолжительность их поездок 4 часа, начало
    около 6 часов утра и «с большой вероятностью увидеть китов и дельфинов в их естественной среде обитания» »
    обещал, вы не будете разочарованы.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of mirissaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

