<app-main-nav-rus>

  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
   <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Language
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
      <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
      <li><button class="dropdown-item" type="button" routerLink="/destinations/bentota-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
    </ul>
  </div>
  </div>


  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiBentota.jpg" alt="bentota">
  </p>
  <br><br>

  <p class="title">Удивительные развлечения в Бентоте</p>
  <br>

  <p class="description">
    Бентота зародилась как поселение, построенное вокруг небольшого португальского форта в устье реки Бентота.
    В 19 веке британцы превратили форт в дом отдыха, куда приезжали государственные служащие.
    расслабьтесь на территории в тени тамариндов. Все еще приветствую тех, кто жаждет перерыва, это сейчас
    один из самых популярных пляжных курортов Шри-Ланки. Бентота расположена вдоль западного побережья Шри-Ланки с кластером
    отелей на севере, которые постепенно редеют по мере того, как вы путешествуете на юг. Длинные участки золотого песка
    в тени штопорных пальм, редких обнажений гранита и прочего. Хотя это популярный пляж
    курорт, здесь нет пляжных баров или ресторанов на песке, только отели, виллы и роскошные курорты
    заправлены за ладони на дискретном расстоянии друг от друга.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014483.3817541935!2d79.98992476609462!3d6.668507812618711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae22e900168ca21%3A0x96c438f00a68c060!2sBentota!5e0!3m2!1sen!2slk!4v1623460039438!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Попробуйте разные методы лечения на вилле Saman</p>
  <p class="description">
    Тем, кто задается вопросом, чем заняться в Бентоте, стоит отправиться в Saman Villas. Саман
    На виллах расположены великолепные спа-салоны, где можно восстановить силы для более свежего и живого духа и души. Это хорошо
    оборудован различными терапевтическими услугами, такими как рефлексотерапия, ароматерапия, рыбные спа и терапия горячими камнями.
    Если вы хотите получить уникальный спа-опыт, посетите это место во время вашего визита в Бентоту. Путешественникам необходимо забронировать
    запись заранее, чтобы воспользоваться услугами Saman Villas. Они обязаны иметь при себе пару
    одежду вместе с ними. вы также обнаружите, что он наполнен дружелюбными местными жителями, которые хотят помочь вам получить удовольствие от отдыха.
  </p>
  <br>

  <p class="subTitle">Проведите время с близкими в Brief Garden</p>
  <p class="description">
    Среди других лучших вещей, которые можно сделать в Бентоте, стоит посетить Brief Garden. Это очаровательный сад, который был
    спроектирован известным и опытным шри-ланкийским художником по имени Бевис Бава. Это место простирается более чем на пять акров
    земли и является воплощением качающихся тропических деревьев, скульптур, искусства и величественных величественных построек.
    Это очаровательное и прекрасное место, чтобы потеряться в городской суете. Стартовый взнос - 350 шри.
    Ланкийские рупии. Сад открыт для публики с 8:00 до 17:00 ежедневно.
  </p>
  <br>

  <p class="subTitle">Прогуляйтесь по тропам</p>
  <p class="description">
    Примите участие в треккинге / пешеходном маршруте по потрясающим рисовым полям районов Бентота-Атурувелла. Это дома
    святыня под названием «Храм Катуколиха», возраст которой составляет сто двадцать пять лет. Есть множество
    жилых домов, построенных в голландских архитектурных стилях. Это также идеальное место для
    наслаждаться закатом. Это место является рассадником огромного количества перелетных птиц. Те посетители, которые
    в поисках подходящих занятий в Бентоте обязательно стоит посетить это место во время поездки в
    Бентота, Шри-Ланка.
  </p>
  <br>

  <p class="subTitle">Прогуляйтесь по пляжу Бентоты</p>
  <p class="description">
    В городе Бентота есть множество безмятежных и потрясающих пляжей. Пляж Бентота является одним из
    их встречают покачивающиеся кокосовые пальмы и живописные пейзажи. Это бесспорно
    идеальное место для любителей природы, где они могут заняться рекреационными водными видами спорта, включая плавание, дайвинг и
    снорклинг. Если вы оказались одним из тех энтузиастов путешествий, которые задумываются над вопросом «чем заняться в
    Бентота, Шри-Ланка, прогулка по этому прекрасному пляжу - лучший вариант.
  </p>
  <br>

  <p class="subTitle">Возьмите уроки истории в Канде вихара</p>
  <p class="description">
    Еще одним популярным занятием рядом с Бентотой, Шри-Ланка, является посещение «Канде Вихара», предназначенного исключительно для
    те, кто склонен к истории. Те, кто желает заглянуть в историю Бентоты и ее
    Прилегающие районы обязательно стоит посетить это место.
  </p>
  <br>

  <p class="subTitle">Кататься на водных лыжах</p>
  <p class="description">
    Почувствуйте воду под ногами и почувствуйте ветер, пробегающий по волосам, научившись кататься на водных лыжах.
    в Бентоте. Пляж здесь - идеальное место для безопасного и безопасного катания на морских лыжах. При отсутствии
    большие валуны и пятнистая вода, невероятные водные просторы становятся пристрастием для любителей адреналина.
    Если вы любитель водных видов спорта, это время для туристов, чтобы продемонстрировать свои уловки в спокойной и безопасной обстановке.
    среда. Не беспокойтесь, как будто вы новичок, команды поддержки будут обучать и контролировать
    туристов, чтобы обеспечить безопасное и приятное времяпрепровождение.
  </p>
  <br>

  <p class="subTitle">Катание на банане и лодке</p>
  <p class="description">
    Банановая трубка, как следует из названия, имеет форму банана и прикреплена к катеру веревкой.
    Поездка гарантирует получение впечатлений, наполненных адреналином, включая огромные волны, которые обрушиваются на ваши головы.
    Хотя он подходит для любого возраста, туристы могут выбрать одну кольцевую поездку или поездку на диване в Бентоте.
  </p>
  <br>

  <!--comment box-->
  <!--<div class="main-wrap">

    <div  *ngFor="let tempReview of bentotaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

