<app-main-nav-ger>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/ella"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/ella-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/ella-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiElla.jpg" alt="ella">
  </p>
  <br><br>

  <p class="title">Tolle Aktivitäten in Ella</p>
  <br>

  <p class="description">
    Ella ist eine kleine Bergstadt im Bezirk Badulla der Provinz Uva, Sri Lanka, etwa 1000 Meter über dem Meer
    Niveau. Dieses Gebiet ist reich an biologischer Vielfalt mit zahlreichen Arten von Flora und Fauna. Ella ist von Hügeln umgeben
    bedeckt mit Wäldern und Teeplantagen. Die Stadt hat ein kühleres Klima als die umliegenden Lawlands. Stadt Ella
    liegt etwa 200 Kilometer östlich von Colombo. Es liegt an der Bahnstrecke Colombo-Badulla und der A16
    Highwaya ein Teil der Straße Colombo-Badulla. Die Zugfahrt von Kandy nach Ella ist eine der schönsten in der
    Welt und es ist definitiv der beste Weg dorthin. Der Bahnhof Ella ist die 75. Station der Hauptstrecke.
    Obwohl es kein großer Ort ist, gibt es in Ella viel zu tun, von Wanderwegen über Wasserfälle bis hin zum Faulenzen im
    Cafés.
  </p>
  <br>

  <!--google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1012277.0181391739!2d80.45408530087902!3d7.660869086948472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae465955bc09a25%3A0xbdfadcdadec487fb!2sElla!5e0!3m2!1sen!2slk!4v1623166866480!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Fahren Sie mit dem Zug von Kandy nach Ella</p>
  <p class="description">
    Heißer als die Londoner U-Bahn an einem Sommertag, dauert acht Stunden, kostet aber nur 5 Pfund.
    Klingt ein bisschen nach der Hölle, aber glauben Sie uns, die Zugfahrt von Kandy nach Ella ist das Beste, was Sie in Sri machen können
    Lanka (lesen Sie hier unseren vollständigen Leitfaden für den Zug von Kandy nach Ella – er enthält auch Informationen zur Buchung und unseren Insider
    Reisetipps). Schlängelt sich durch neblige Wälder, grüne Teeplantagen; über rauschende Wasserfälle und Bäche und
    vorbei an bunten Städtchen und aufregenden Einheimischen ist dies unserer Meinung nach die malerischste Bahnfahrt der Welt.
    Aber es ist nicht nur die Landschaft, die diese Zugfahrt so unglaublich macht. Es ist auch die Stimmung. Jede Person, die du
    Begegnung scheint Sie mit einem ehrlichen Lächeln zu begrüßen; Gruppen lokaler Jungen spielen singen, tanzen und spielen Schlagzeug; Anbieter
    sprudelnd durch den Zug sprudelnden süßen Chai und Snacks, während Touristen ihre Köpfe aus den Fenstern hängen, um zu starren
    erstaunt über die Schönheit. Buchstäblich alle haben große Augen und sind glücklich, was in der heutigen Zeit schwer ist
    finden. Der landschaftlich schönste Teil der Reise führt von Nanu Oya nach Ella, durch den dichten Wald des Horton
    Plains-Nationalpark, daher empfehlen wir, den Fensterplatz zu nehmen oder zwischen den Türen zu stehen und zu genießen
    die Ansichten im Vorbeigehen. Als wir Sri Lanka zum ersten Mal besuchten, war 2016, die Zugfahrt von Kandy nach Ella war noch nicht abgeschlossen
    wirklich die große Zeit, aber aufgrund der aktuellen Popularität müssen Sie Ihre Reise im Voraus buchen
    (in der Regel 1 - 2 Tage vorher). Der Zug kann auch ziemlich voll sein, besonders in der Hauptsaison, seien Sie also gewarnt
    müssen sich vielleicht weiter drängen. Die dritte Klasse ist vielleicht die billigste Option und unserer Meinung nach auch die beste, da
    es ermöglicht Ihnen, außerhalb der Türen zu sitzen / zu hängen. Sie werden auch feststellen, dass es voller freundlicher Einheimischer ist, die gerne helfen
    Sie genießen Ihre Erfahrung.
  </p>
  <br>

  <p class="subTitle">Bewundern Sie Ellas berühmte Brücke mit neun Bögen</p>
  <p class="description">
    Es ist erstaunlich, dass eine Brücke Touristen in Scharen nach Ella treiben könnte, aber die
    Die Neun-Bogen-Brücke, etwas außerhalb der Stadt, hat genau das getan. Die Neun-Bogen-Brücke wird von grünen Wäldern flankiert
    und Teeplantagen, die stolz über dem Tal stehen. An nebligen Tagen hängen niedrige Wolken im Tal,
    dem ganzen Bereich ein stimmungsvolles, mystisches Gefühl geben. Die 1921 fertiggestellte Neun-Bogen-Brücke besteht vollständig aus
    Ziegel, Gestein und Zement, ohne Metall in seiner Konstruktion - damals eine Ingenieurleistung.
    Die Brücke erstreckt sich über 91 Meter in einer Höhe von 24 Fuß und befindet sich im berühmten Zug von Kandy nach Bandarawela (via Ella).
    Linie, mit Zügen, die etwa fünfmal täglich verkehren, je nach dem sich ständig ändernden srilankischen Zugfahrplan.
    Obwohl die Zugzeiten in Sri Lanka notorisch unzuverlässig sind, fahren Züge in der Regel um die Neun-Bogen-Brücke herum
    zu folgenden Zeiten: 9:30, 11:30, 15:30, 16:30 und 17:30 (lesen Sie hier unseren ausführlichen Guide!). Es gibt viele
    Orte, von denen aus man die Brücke sehen kann, wobei der beliebteste von der eigentlichen Brücke selbst und unten von der Brücke aus ist
    Teeplantage (dies ist privates Land, bitte fragen Sie vor dem Betreten um Erlaubnis). Aber für uns die besten Aussichten
    sind von oben, entweder von den Wäldern rund um die Brücke oder von einer der Café-Plattformen in der
    umliegenden Hügel. Zu beobachten, wie der Zug langsam über die Brücke fährt, ist ein wunderbarer Anblick. Komm einfach hin
    früh, da sich die Brücke und die umliegenden Aussichtspunkte SEHR schnell füllen!
  </p>
  <br>

  <p class="subTitle">Wandern Sie den berühmten Ella-Felsen hinauf</p>
  <p class="description">
    Für diejenigen, die überall nach spektakulären Aussichten suchen, ist der Gipfel des Ella-Felsens mit seinem
    Die Aussicht über Ella, Little Adam's Peak und Ella Gap ist ein Aussichtspunkt, den Sie nicht verpassen sollten. Beginnend
    am berühmten Bahnhof von Ella folgen Sie der Bahnlinie von Ella nach Kandy vorbei an vielen schönen Wasserfällen,
    Brücken, Teeplantagen und Häuser, bevor Sie Ihren Aufstieg zum Ella Rock-Gipfel beginnen - hoffentlich mit einem
    King Coconut in der Hand für zusätzliche Energie. Wir brauchten es definitiv; die Wanderung zum Gipfel unter dieser gleißenden Sonne
    ist hart! Am Gipfel angekommen, genossen wir mindestens eine Stunde lang die unglaubliche Aussicht und knabberten an unserem
    vegetarisches Roti und etwas wohlverdientes Wasser. Der Weg zum Gipfel kann etwas kompliziert sein, aber wenn
    du folgst den deutlich markierten Wegen und ignorierst die (manchmal absichtlich irreführenden) Werber, die du nicht haben solltest
    zu viele Probleme (dieser ausführlicher Beitrag wird Ihnen helfen, dorthin zu gelangen). Insgesamt dauert die Wanderung etwa 2 Stunden Hin- und Rückweg,
    Aber denken Sie daran, genügend Wasser und Snacks einzupacken, um Ihre Reise mit Energie zu versorgen.
  </p>
  <br>

  <p class="subTitle">Bewundern Sie die Aussicht auf Ella Gap vom kleinen Adam's Peak</p>
  <p class="description">
    Wenn dir eine anstrengende Wanderung in der Sonne nicht wirklich zusagt, du aber trotzdem Lust hast, die Beine zu bewegen und zu erkunden
    die Landschaft Sri Lankas, die einfachere Wanderung zum Little Adam's Peak ist absolut einen Besuch wert. Genannt
    Nach seinem ähnlich geformten, aber viel größeren älteren Bruder Adam’s Peak dauert die Wanderung zum Little Adam’s Peak etwa
    zweistündige Rundfahrt von der Stadt Ella und beginnt in den üppigen Teeplantagen, bevor sie sich langsam zum
    erste Standpunkte. Von hier aus haben Sie einen 360-Grad-Blick auf den riesigen Ella Rock und Ella Gap
    Richtung Udawalawe Nationalpark, perfekt für Fotos. Wir empfehlen auf jeden Fall, die Wanderung weiter unten fortzusetzen
    der Grat, da die Aussicht spektakulärer und weniger beschäftigt wird. Der Rückweg folgt der anderen Seite des
    Berg mit Blick auf das unglaubliche 98 Acres Resort, bevor es langsam zurück nach Ella geht. Halt am
    kleine hölzerne Safthütte auf dem Rückweg zurück, um sich zu entspannen und eine erfrischende Königskokosnuss zu schnappen. Wir empfehlen
    Wandern Sie am späten Nachmittag hinauf und beobachten Sie den herrlichen Sonnenuntergang; und raten auf jeden Fall vom Wandern ab
    mitten am Tag, da es wenig Schatten gibt, um sich vor der gleißenden Sonne zu verstecken - eine unserer schlimmsten Reiseverbrennungen aller Zeiten
    ist genau hier passiert!
  </p>
  <br>

  <p class="subTitle">Erleben Sie die Schönheit der Diyaluma-Wasserfälle</p>
  <p class="description">
    Vergessen Sie, was Ihnen die Popsongs erzählen, der zweithöchste Wasserfall Sri Lankas, die Diyaluma Falls, ist so beeindruckend, dass
    Sie müssen hier unbedingt Wasserfälle jagen. Diyaluma stürzt sich hoch in den Bergen von Sri Lanka und kann
    etwas abseits der ausgetretenen Pfade sein, aber die epischen Aussichten und natürlichen Infinity-Pools machen die 1,5- bis 2-stündige Fahrt aus
    die Mühe mehr als wert. Um nach Diyaluma zu kommen, sprangen wir in einem Tuk Tuk von Ella nach Poonagala, durch
    typisch srilankische Teeplantagen. In dem kleinen Dorf Poonagala angekommen, machten wir uns auf den Weg
    Wir wandern etwa 30 Minuten bergab durch langes, trockenes Gras, bevor wir unseren ersten Blick auf das Obere werfen
    Diyaluma fällt. Ein kurzes Stück weiter und da standen wir über einem 220 m hohen Wasserrausch zum Tal
    Etage darunter. Es war wundervoll. An dieser Stelle müssen wir Sie warnen, dass es keine Sicherheitsbarrieren gibt. Wenn Sie also
    Adrenalinjunkie (wie Mark) und stehen gerne am Rande von fast allem, seien Sie bitte vorsichtig. Während
    In den Sommermonaten, wenn der Wasserstand gesunken ist, können Sie ein erfrischendes Bad an den verschiedenen Wasserfällen genießen
    natürliche Pools, darunter direkt am Rande des Hauptwasserfalls. Alternativ gibt es größere, sicherere Pools
    an den oberen Diyaluma-Wasserfällen, aber treffen Sie auch hier Vorsichtsmaßnahmen, bevor Sie eintauchen. Es gibt zwei Möglichkeiten, um zum Gipfel zu gelangen
    der Diyaluma-Wasserfälle - entweder von unten wandern, was ziemlich anstrengend und schwer zu folgen ist, oder von
    Das Dorf Poonagala, das viel kürzer, aber weniger beliebt ist.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of ellaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-ger>

