<app-main-nav-rus>

  <!--language switcher-->
  <div style="text-align: right; padding-right: 10px; padding-top: 10px;padding-bottom: 0">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Language
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" routerLink="/destinations/kalpitiya"><img src="https://www.countryflags.io/gb/flat/32.png" style="margin-right: 15px">English</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/kalpitiya-ger"><img src="https://www.countryflags.io/de/flat/32.png" style="margin-right: 15px">German</button></li>
        <li><button class="dropdown-item" type="button" routerLink="/destinations/kalpitiya-rus"><img src="https://www.countryflags.io/ru/flat/32.png" style="margin-right: 15px">Russian</button></li>
      </ul>
    </div>
  </div>

  <!--image-->
  <p class="imgDesti">
    <img class="destiImage" src="assets/images/DestiKalpitiya.jpg" alt="Kalpitiya">
  </p>
  <br><br>

  <p class="title">Потрясающие развлечения в Калпитии</p>
  <br>

  <p class="description">
    Пляж - известное место, где можно понаблюдать за китами и дельфинами, а также заняться сноркелингом с красивыми кораллами. Для изучения
    скрытые чудеса вокруг пляжа, лучший путь - прогулка на лодке. посетители могут покататься на каноэ и джипах по
    пустынные песчаные дюны между океаном и сушей. Пляж наделен природной красотой, но при этом нетронутой.
    туризмом и окруженной рыбацкой общиной. Спортивные мероприятия, такие как кайтсерфинг, гребля стоя, верховая езда.
    Верховая езда, дайвинг, скейтбординг и серфинг являются стандартными для всех островов. этот пляж - лучший способ насладиться
    вечерний закат. Всего в море и в лагуне 14 островов. Калпития находится в 130 км.
    к северу от международного аэропорта Бандаранайке в Катунаяке. это путешествие займет 4 с половиной часа.
    С ноября по апрель вы увидите море моллюсков и погоду. С февраля по март лучшее время для китов и дельфинов.
    смотреть.
  </p>
  <br>

  <!-- google map-->
  <p style="text-align: center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1009282.4812258384!2d79.64457564243585!3d8.832045837724332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afd0cc24a7cc5bd%3A0x5ae7ac65637881f0!2sKalpitiya!5e0!3m2!1sen!2slk!4v1623459817224!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </p>
  <br>

  <p class="subTitle">Заняться кайтсерфингом</p>
  <p class="description">
    Это немного несложно, потому что Калпития неизменно считается одним из лучших мест в мире.
    для кайтсерфинга! Сезон длится с мая по сентябрь, но вы также можете посетить в «зимний» сезон из
    С ноября / декабря по февраль - когда мы приехали в начале февраля, в районе было около 100 кайтсерферов.
    мелкая лагуна. Для тех, кто хочет научиться кайтсерфингу, доступно множество школ. Однако в отличие от
    серфинг там, где можно провести одноразовое занятие по прихоти, кайтсерфинг может занять до 10 дней.
    изучите основы, так что вам нужно будет выделить время, если вы хотите отнестись к этому серьезно. Цены, как правило,
    довольно похожи по всем направлениям, вот таблица цен для справки.
  </p>
  <br>

  <p class="subTitle">Наблюдайте за дельфинами и китами</p>
  <p class="description">
    Наряду с Мириссой на южном побережье и Тринкомали на восточном побережье, Калпития является одним из лучших мест в
    Шри-Ланка для наблюдения за дельфинами и китами. До континентального шельфа можно добраться за 45–1 час.
    катание на скоростном катере, после которого можно увидеть сотни дельфинов-спиннеров и, если повезет, китов,
    вокруг побережья. Сезон длится примерно с ноября по май, когда по утрам море более спокойное, но вы
    необходимо получить ранний старт (в идеале, до 8:00), чтобы обогнать другие лодки и вернуться на берег до 11:00, поскольку
    океан становится слишком бурным. В небольшую моторную лодку умещается 6 человек, а стоимость тура составляет около 25000 LKR за
    группа. Во время утреннего тура по наблюдению за дельфинами в Калпитии нас окружали сотни дельфинов.
    прыгать, кружиться и резвиться в океане.
  </p>
  <br>

  <p class="subTitle">Экскурсия по голландскому форту</p>
  <p class="description">
    Форт в Кальпитии восходит к середине 17 века, когда он был стратегически важной торговой базой для
    Голландская Ост-Индская компания. В отличие от форта Галле, который был построен португальцами, форт в Калпитии был
    построен и в основном используется только голландцами. Когда голландцы покинули Шри-Ланку, они оставили известняк и кораллы.
    Форт Калпития в руинах, пытаясь отговорить следующую колонию от его использования. Сегодня форт используется как
    Военно-морская тренировочная база, поэтому вы не можете свободно перемещаться по территории. Вам нужно будет принести свой паспорт и расписаться.
    в главном офисе, после чего внутри вас будет сопровождать специальный морской офицер. Офицеры только говорят
    В настоящее время на сингальском, поэтому вам следует заранее ознакомиться с историей, но сам тур бесплатный и
    покрывает валы форта в форме черепахи - внутри можно увидеть даже скелет выброшенного на берег кита.
    форт. Экскурсия по форту - одно из лучших занятий в Калпитии!
  </p>
  <br>

  <p class="subTitle">Отправьтесь на сафари по дикой природе в национальном парке Уилпатту.</p>
  <p class="description">
    Национальный парк Уилпатту - одна из старейших и наиболее важных охраняемых территорий Шри-Ланки, где проживают
    леопарды, редкий медведь-ленивец, павлины, пятнистый олень, дикие буйволы и азиатские слоны. Чтобы добраться до Вилпатту
    из Калпитии вам нужно ехать обратно в сторону Коломбо, а затем развернуться - это приведет вас
    примерно 2 часа, чтобы добраться туда, или вы можете спросить в отеле, могут ли они организовать лодку, чтобы добраться до
    лагуна, которая вдвое сокращает время в пути.
  </p>
  <br>

  <p class="subTitle">Наблюдение за птицами в лагуне Калпитя</p>
  <p class="description">
    Шри-Ланка - настоящий рай для орнитологов. Если вы серьезно любите наблюдать за птицами, лагуна Калпития - это то, что вам нужно.
    идеальное место для вас. Этот тур отправит вас в увлекательное приключение, исследуя лагуну Калпития.
    лодка. Узнайте об истории Калпитии и ее дикой природе. Прокатитесь на лодке по пустыне, как вы
    наблюдение за птицами и наблюдение за редкими куликами и водоплавающими птицами. Вы сможете увидеть множество видов птиц и
    наблюдать за их поведением в естественной среде обитания. Вся лагуна - это морской заповедник с множеством
    разнообразная среда обитания: от плоских прибрежных равнин и обширных пляжей с песчаными дюнами до мангровых болот и слонов
    обитаемые джунгли.
  </p>
  <br>

  <!--&lt;!&ndash;comment box&ndash;&gt;
  <div class="main-wrap">

    <div  *ngFor="let tempReview of kalpitiyaReviewList; index as num">
      <i class="fas fa-user-circle fa-2x" style="padding-right: 10px"></i>
      <p class="commentDis">{{tempReview.name}}:</p>
      <p class="commentDis">{{tempReview.comment}}</p>
    </div>
    <br><br>

    <p class="comment">Write a comment</p>
    <br>
    <div class="mb-3">
      <input [(ngModel)]="RevName" type="text" class="form-control" id="Name" placeholder="Name">
    </div>
    <div class="form-group">
      <textarea [(ngModel)]="Comment" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>
    </div>
    <br>
    <p style="text-align: center"><button mat-raised-button color="primary" (click)="saveComment()" >Submit</button></p>
  </div>
  <br>-->

  <app-footer></app-footer>
</app-main-nav-rus>

